<template>
  <master-component
    :server-side="true"
    :fields="fields"
    :create-bulk="true"
    :form-prop="form"
    :form-components="formComponents"
    url="/api/reference"
    template="referenceTemplate"
    title="Marcas"
    type="brand"
    :selectable="true"
  />
</template>
<script>
import MasterComponent from '@/components/base/master/MasterComponent.vue'

export default {
  name: 'BrandPage',
  components: {
    MasterComponent
  },
  layout: 'dashboard',
  data: () => ({
    fields: [
      {
        key: 'selected',
        label: 'Seleccionar'
      },
      {
        key: 'reference',
        label: 'Marca',
        sortable: true
      },
      {
        key: 'code',
        label: 'Abreviación',
        sortable: true
      },
      { key: 'actions', label: 'Opciones' }
    ],
    form: {
      reference: '',
      code: '',
      type: 'brand',
      file: null
    },
    formComponents: [
      {
        type: 'input',
        name: 'reference',
        rules: { required: true },
        label: 'Nombre de la Marca',
        icon: 'far fa-copyright',
        placeholder: 'Marca',
        col: '6'
      },
      {
        type: 'input',
        name: 'code',
        rules: { required: true },
        label: 'Abreviación la Marca',
        icon: 'far fa-copyright',
        placeholder: 'Abreviación',
        col: '6'
      },
      {
        type: 'file',
        name: 'file',
        rules: { required: false },
        label: 'Imagen de marca',
        placeholder: 'Seleccione la imagen',
        accept: '.png, .jpg',
        col: '12'
      }
    ]
  }),
  mounted () {
    window.scrollTo(0, 0)
  }
}
</script>
