<template>
  <master-component
    :server-side="false"
    :fields="fields"
    :create="true"
    :form-prop="form"
    :form-components="formComponents"
    url="/api/chatRoom"
    title="Salas de Chat"
  />
</template>
<script>
import MasterComponent from '@/components/base/master/MasterComponent.vue'

export default {
  name: 'ChatRoomPage',
  components: {
    MasterComponent
  },
  layout: 'dashboard',
  data: () => ({
    fields: [
      {
        key: 'name',
        label: 'Nombre',
        sortable: true
      },
      { key: 'actions', label: 'Opciones' }
    ],
    form: {
      name: ''
    },
    formComponents: [
      {
        type: 'input',
        name: 'name',
        rules: { required: true },
        label: 'Nombre de Sala',
        icon: 'fas fa-globe-americas',
        placeholder: 'Nombre de Sala',
        col: '12'
      }
    ]
  }),
  mounted () {
    window.scrollTo(0, 0)
  }
}
</script>
