<template>
  <master-component
    :server-side="true"
    :fields="fields"
    :create-bulk="true"
    :form-prop="form"
    :form-components="formComponents"
    url="/api/reference"
    template="referenceTemplate"
    title="Países"
    type="country"
  />
</template>
<script>
import MasterComponent from '@/components/base/master/MasterComponent.vue'

export default {
  name: 'CountryPage',
  components: {
    MasterComponent
  },
  layout: 'dashboard',
  data: () => ({
    fields: [
      {
        key: 'reference',
        label: 'Nombre',
        sortable: true
      },
      {
        key: 'code',
        label: 'Abreviación',
        sortable: true
      },
      { key: 'actions', label: 'Opciones' }
    ],
    form: {
      reference: '',
      code: '',
      type: 'country'
    },
    formComponents: [
      {
        type: 'input',
        name: 'reference',
        rules: { required: true },
        label: 'País',
        icon: 'fas fa-globe-americas',
        placeholder: 'País',
        col: '6'
      },
      {
        type: 'input',
        name: 'code',
        rules: { required: true },
        label: 'Abreviación del País',
        icon: 'fas fa-flag',
        placeholder: 'Abreviación',
        col: '6'
      }
    ]
  }),
  mounted () {
    window.scrollTo(0, 0)
  }
}
</script>
