<template>
  <master-component
    :server-side="false"
    :fields="fields"
    :create="true"
    :form-prop="form"
    :form-components="formComponents"
    url="/api/email"
    title="Emails"
  />
</template>
<script>
import MasterComponent from '@/components/base/master/MasterComponent.vue'

export default {
  name: 'EmailPage',
  components: {
    MasterComponent
  },
  layout: 'dashboard',
  data: () => ({
    // DATA TABLE FIELDS
    fields: [
      {
        key: 'type',
        label: 'Tipo de envío',
        sortable: true,
        class: 'text-center'
      },
      { key: 'actions', label: 'Opciones', class: 'text-center' }
    ],
    // FORM
    form: {
      type: '',
      emails: []
    },
    // select options
    options: [],
    // SELECT OBJECT
    selectEmailObject: {
      perPage: 10,
      search: null,
      currentPage: 1
    }
  }),
  computed: {
    formComponents () {
      return [
        {
          type: 'input',
          name: 'type',
          rules: { required: true },
          label: 'Tipo',
          icon: 'fas fa-list-ol',
          placeholder: 'Tipo',
          col: '12'
        },
        {
          type: 'select',
          name: 'emails',
          rules: { required: true },
          label: 'Emails',
          icon: 'fas fa-envelope',
          placeholder: 'Emails',
          multiple: true,
          taggable: true,
          options: this.options,
          paginate: true,
          selectObject: this.selectEmailObject,
          selectSearch: search =>
            this.selectSearch(search, this.selectEmailObject),
          reduce: 'email',
          optionLabel: 'email',
          nextPage: () => {
            this.selectEmailObject.currentPage -= 1
          },
          prevPage: () => {
            this.selectEmailObject.currentPage += 1
          },
          open: () => {
            this.selectEmailObject = {
              perPage: 10,
              search: null,
              currentPage: 1
            }
          },
          col: '12'
        }
      ]
    }
  },
  watch: {
    // SELECT email object CHANGE
    selectEmailObject: {
      async handler () {
        this.options = await this.getSelectItems({
          type: 'POST',
          url: '/api/user',
          data: this.selectEmailObject
        })
      },
      deep: true
    }
  },
  async mounted () {
    window.scrollTo(0, 0)
    this.options = await this.getSelectItems({
      type: 'POST',
      url: '/api/user',
      data: this.selectEmailObject
    })
  },
  methods: {
    /** @param :: getItemsObject = { type,url data:{
      currentPage,
      perPage
      search
      }}
     * @description ::  allows to fill paginated selection combos
     */
    async getSelectItems (getItemsObject) {
      const { data, type, url } = getItemsObject
      const { item } = await this.$axiosService.getItems({
        type,
        url,
        data,
        notify: this.$notify
      })
      return item
    },
    selectSearch (query, object) {
      object.search = query
      object.currentPage = 1
    }
  }
}
</script>
