<template>
  <master-component
    :server-side="true"
    :fields="fields"
    :create-bulk="true"
    :form-prop="form"
    :form-components="formComponents"
    url="/api/reference"
    template="StatusTemplate"
    title="Estatus de Abastecimiento"
    type="orderStatus"
  />
</template>
<script>
import MasterComponent from '@/components/base/master/MasterComponent.vue'

export default {
  name: 'OrderStatusPage',
  components: {
    MasterComponent
  },
  layout: 'dashboard',
  data: () => ({
    fields: [
      {
        key: 'reference',
        label: 'Nombre',
        sortable: true,
        class: 'text-center'
      },
      { key: 'actions', label: 'Opciones', class: 'text-center' }
    ],
    form: {
      reference: '',
      code: '',
      type: 'orderStatus'
    },
    formComponents: [
      {
        type: 'input',
        name: 'reference',
        rules: { required: true },
        label: 'Nombre',
        icon: 'fas fa-globe-americas',
        placeholder: 'Nombre',
        col: '12'
      }
    ]
  }),
  mounted () {
    window.scrollTo(0, 0)
  }
}
</script>
