<template>
  <div>
    <b-overlay
      id="overlay-background"
      no-wrap
      :show="showOverlay"
      :variant="variant"
      :opacity="opacity"
      :blur="blur"
      rounded="sm"
      z-index="20000"
    />
    <b-row>
      <b-col cols="12">
        <!-- CARD TITLE -->
        <card card-body-classes="table-full-width">
          <h4 slot="header" class="card-title">
            Privilegios por Rol
          </h4>
          <table-component
            :items="items"
            :server-side="false"
            :fields="fields"
            :create="true"
            :add-item="addItem"
            :edit-item="editItem"
            :delete-item="deleteItem"
            :total-rows="totalRows"
            :is-busy="isBusy"
          />
        </card>
      </b-col>
    </b-row>
    <!-- MODAL -->
    <modal-component
      id="modal"
      :show.sync="showModal"
      :centered="true"
      :show-close="true"
      class="modal-form"
    >
      <template slot="header">
        <h4 id="exampleModalLabel" class="modal-title mt-3">
          Privilegios
        </h4>
      </template>
      <validation-observer ref="form" v-slot="{ handleSubmit }">
        <b-form @submit.stop.prevent="handleSubmit(submit)">
          <b-row>
            <b-col sm="4" md="4" lg="4" class="my-3">
              <validation-provider
                v-slot="validationContext"
                name="Descripción"
                :rules="{ required: true }"
              >
                <base-input
                  v-model="form.privilege"
                  type="text"
                  label="Descripción"
                  placeholder="Descripción"
                  :error="validationContext.errors[0]"
                  :class="
                    $service.getValidationState(validationContext)
                      ? 'has-success'
                      : 'has-danger'
                  "
                />
              </validation-provider>
            </b-col>
            <b-col sm="4" md="4" lg="4" class="my-3">
              <base-input
                v-model="form.icon"
                type="text"
                label="Ícono"
                placeholder="Ícono"
              />
            </b-col>
            <b-col sm="4" md="4" lg="4" class="my-3">
              <validation-provider
                v-slot="validationContext"
                name="URL"
                :rules="{ required: true }"
              >
                <base-input
                  v-model="form.path"
                  type="text"
                  label="URL"
                  placeholder="URL"
                  :error="validationContext.errors[0]"
                  :class="
                    $service.getValidationState(validationContext)
                      ? 'has-success'
                      : 'has-danger'
                  "
                />
              </validation-provider>
            </b-col>
            <b-col sm="4" md="4" lg="4" class="my-3">
              <validation-provider
                v-slot="validationContext"
                name="Posición"
                :rules="{ regex: /^([0-9]+)$/ }"
              >
                <base-input
                  v-model="form.position"
                  type="number"
                  label="Posición"
                  placeholder="Posición"
                  :error="validationContext.errors[0]"
                  :class="
                    $service.getValidationState(validationContext)
                      ? 'has-success'
                      : 'has-danger'
                  "
                />
              </validation-provider>
            </b-col>
            <b-col sm="4" md="4" lg="4" class="my-3">
              <b-form-group
                id="parent-label"
                label="Padre"
                label-for="select-parent"
              >
                <v-select
                  id="select-parent"
                  v-model="form.parent"
                  placeholder="Padre"
                  :options="parents"
                  :get-option-label="
                    parent => parent.privilege || 'Acceso Eliminado'
                  "
                >
                  <span slot="no-options">
                    ¡No se han encontrado resultados!.
                  </span>
                </v-select>
              </b-form-group>
            </b-col>
            <b-col sm="4" md="4" lg="4" class="my-3">
              <validation-provider
                v-slot="validationContext"
                name="Rol"
                :rules="{ required: true }"
              >
                <b-form-group
                  id="parent-role"
                  label="Rol"
                  label-for="select-role"
                >
                  <v-select
                    id="select-role"
                    v-model="form.role"
                    multiple
                    placeholder="Rol"
                    :options="roles"
                    :reduce="role => ({ _id: role._id, role: role.role })"
                    :get-option-label="role => role.role || 'Role Eliminado'"
                    label="role"
                  >
                    <span slot="no-options">
                      ¡No se han encontrado resultados!.
                    </span>
                  </v-select>
                  <span style="color: #ec250d">
                    {{ validationContext.errors[0] }}
                  </span>
                </b-form-group>
              </validation-provider>
            </b-col>
          </b-row>
          <b-row class="justify-content-between p-3">
            <base-button
              class="mt-4"
              type="secondary"
              @click="
                formreset()
                showModal = false
              "
            >
              Cancelar
            </base-button>
            <base-button class="mt-4" type="primary" native-type="submit">
              {{ buttonName }}
            </base-button>
          </b-row>
        </b-form>
      </validation-observer>
    </modal-component>
    <!-- END MODAL -->
  </div>
</template>
<script>
import ModalComponent from '@/components/base/ModalComponent.vue'
import TableComponent from '@/components/base/master/TableComponent.vue'
export default {
  name: 'PrivilegePage',
  components: { ModalComponent, TableComponent },
  layout: 'dashboard',
  data: () => ({
    parents: [], // select items
    roles: [],
    // DataTable variables
    isBusy: false,
    items: [], // datatable items
    fields: [
      // dataTable fields
      {
        key: 'privilege',
        label: 'Privilegios',
        sortable: true
      },
      {
        key: 'parent.privilege',
        label: 'Padre',
        sortable: true,
        formatter: item => item || '-'
      },
      { key: 'actions', label: 'Opciones' }
    ],
    currentPage: 1,
    totalRows: 0,
    dataTableItems: {},
    // B-OVERLAY
    variant: 'transparent',
    opacity: 0.55,
    blur: '5px',
    showOverlay: false,
    // MODAL
    showModal: false,
    // FORM
    form: {
      privilege: null,
      path: null,
      icon: null,
      parent: null,
      role: null,
      position: null
    },
    buttonName: 'Agregar'
  }),
  async mounted () {
    window.scrollTo(0, 0)
    // Set the initial number of items
    this.getItems()
    this.roles = await this.$axiosService.getItems({
      type: 'GET',
      url: '/api/role',
      notify: this.$notify
    })
  },
  methods: {
    // DELETE ITEM FROM DB
    deleteItem (deleteObject) {
      const { item } = deleteObject
      this.$swal({
        title: '¿Estás seguro que deseas Eliminar?',
        text: 'Se eliminarán permanentemente los datos',
        icon: 'question',
        iconHtml: '?',
        showCancelButton: true,
        confirmButtonColor: '#2ca172',
        iconColor: '#7dd3b8',
        cancelButtonText: 'Cancelar',
        confirmButtonText: 'Eliminar'
      }).then((result) => {
        if (result.value) {
          this.axiosCall({
            method: 'DELETE',
            url: `/api/privilege/delete/${item._id}`
          })
        }
      })
    },
    /** @param :: getItemsObject = {type, url, notify,data}
     * @description :: GET ALL ITEMS FROM DB
     */
    async getItems () {
      this.isBusy = true
      this.items = await this.$axiosService.getItems({
        type: 'GET',
        url: '/api/privilege',
        notify: this.$notify
      })
      this.isBusy = false
      this.totalRows = this.items ? this.items.length : 0
      this.parents = Object.assign([], this.items)
    },

    /** @param :: optionsObject = {method, url, data}
     * @description ::  AXIOS CALL FUNCTION
     */
    async axiosCall (optionsObject) {
      const { method, url, data } = optionsObject
      this.showOverlay = true
      try {
        const response = await this.$axiosService.generalAxiosCall(
          method,
          url,
          data
        )
        this.getItems()
        this.showOverlay = false
        this.showModal = false
        this.$notify({
          message: response.message,
          type: response.type
        })
      } catch (err) {
        this.showOverlay = false
        this.$notify({
          message: err.message,
          type: err.type
        })
      }
    },
    // GET DATA OF AN ITEM
    editItem (item) {
      this.showModal = true
      this.dataTableItems = JSON.parse(JSON.stringify(item))
      this.form = JSON.parse(JSON.stringify(item))
      this.parents = this.items.filter(x => x.privilege !== item.privilege)
      this.buttonName = 'Modificar'
    },
    // Reset all fields of form
    formreset () {
      this.form = {
        privilege: null,
        path: null,
        icon: null,
        parent: null,
        role: null,
        position: null
      }
      this.$nextTick(() => {
        if (this.$refs.form) {
          this.$refs.form.reset()
        }
      })
    },
    // submit button
    submit () {
      this.form = this.$service.trimObjects(this.form)
      this.showOverlay = true
      if (this.buttonName === 'Agregar') {
        this.axiosCall({
          method: 'POST',
          url: '/api/privilege/create',
          data: this.form
        })
      } else if (
        JSON.stringify(this.dataTableItems) !== JSON.stringify(this.form)
      ) {
        const { _id, ...data } = this.form
        this.axiosCall({
          method: 'PUT',
          url: `/api/privilege/update/${_id}`,
          data: {
            ...data,
            changeParent:
              JSON.stringify(this.form.parent) !==
              JSON.stringify(this.dataTableItems.parent)
          }
        })
      } else {
        this.showOverlay = false
        this.$notify({
          message:
            'Modificar  — No has realizado ningún cambio, Nada que modificar',
          type: 'warning'
        })
      }
    },
    // add item
    addItem () {
      this.showModal = true
      this.buttonName = 'Agregar'
      this.formreset()
    }
  }
}
</script>
<style>
.modal-form > .modal-dialog {
  max-width: 950px !important;
}
</style>
