<template>
  <master-component
    :server-side="true"
    :fields="fields"
    :create-bulk="true"
    :form-prop="form"
    :form-components="formComponents"
    url="/api/reference"
    template="referenceTemplate"
    title="Referencias"
    type="reference"
    :selectable="true"
  />
</template>
<script>
import MasterComponent from '@/components/base/master/MasterComponent.vue'

export default {
  name: 'ReferencePage',
  components: {
    MasterComponent
  },
  layout: 'dashboard',
  data: () => ({
    fields: [
      {
        key: 'selected',
        label: 'Seleccionar'
      },
      {
        key: 'reference',
        label: 'Referencia',
        sortable: true
      },
      {
        key: 'code',
        label: 'SKU',
        sortable: true
      },
      { key: 'actions', label: 'Opciones' }
    ],
    form: {
      reference: '',
      code: '',
      type: 'reference'
    },
    formComponents: [
      {
        type: 'input',
        name: 'reference',
        rules: { required: true },
        label: 'Referencia',
        icon: 'fas fa-clipboard-list',
        placeholder: 'Referencia',
        col: '6'
      },
      {
        type: 'input',
        name: 'code',
        rules: { required: true },
        label: 'SKU',
        icon: 'fas fa-shopping-cart',
        placeholder: 'SKU ',
        col: '6'
      }
    ]
  }),
  mounted () {
    window.scrollTo(0, 0)
  }
}
</script>
