<template>
  <div>
    <b-overlay
      id="overlay-background"
      no-wrap
      :show="showOverlay"
      :variant="variant"
      :opacity="opacity"
      :blur="blur"
      rounded="sm"
      z-index="20000"
    />
    <b-row>
      <b-col cols="12">
        <!-- CARD TITLE -->
        <card card-body-classes="table-full-width">
          <h4 slot="header" class="card-title">
            Roles
          </h4>
          <table-component
            :items="items"
            :server-side="false"
            :fields="fields"
            :create="true"
            :add-item="addItem"
            :edit-item="editItem"
            :delete-item="deleteItem"
            :get-items="getItems"
            :total-rows="totalRows"
            :is-busy="isBusy"
            @page="getCurrentPage"
          />
        </card>
      </b-col>
    </b-row>
    <!-- MODAL -->
    <modal-component
      id="modal"
      :show.sync="showModal"
      :centered="true"
      :show-close="true"
      class="modal-form"
    >
      <template slot="header">
        <h4 id="exampleModalLabel" class="modal-title mt-3">
          Roles
        </h4>
      </template>
      <validation-observer ref="form" v-slot="{ handleSubmit }">
        <b-form @submit.stop.prevent="handleSubmit(submit)">
          <b-row>
            <b-col sm="12" md="12" lg="12">
              <validation-provider
                v-slot="validationContext"
                name="Rol"
                :rules="{ required: true }"
              >
                <base-input
                  v-model="form.role"
                  type="text"
                  label="Rol"
                  placeholder="Rol"
                  :error="validationContext.errors[0]"
                  :class="
                    $service.getValidationState(validationContext)
                      ? 'has-success'
                      : 'has-danger'
                  "
                />
              </validation-provider>
            </b-col>
          </b-row>
          <h4 class="modal-title">
            Privilegios de Rol
          </h4>
          <b-row class="mt-3">
            <b-col sm="3" md="3" lg="3">
              <base-input
                v-model="privilegeName"
                type="text"
                label="Privilegio"
                placeholder="Nombre Privilegio"
              />
            </b-col>
            <b-col sm="6" md="6" lg="6">
              <label>Acciones</label>
              <v-select
                id="select-privilege"
                v-model="selectPrivilege"
                placeholder="Acciones"
                :multiple="true"
                :taggable="true"
                :options="[]"
              >
                <span slot="no-options"> Escriba sus acciones acá </span>
              </v-select>
            </b-col>
            <b-col sm="3" md="3" lg="3">
              <base-button
                v-b-tooltip.hover
                :title="privilegeButtonName"
                icon
                type="primary"
                style="margin-top: 34px !important"
                @click="addPrivileges()"
              >
                <i
                  :class="
                    privilegeButtonName === 'Agregar'
                      ? 'fas fa-plus-circle'
                      : 'fas fa-pen-square'
                  "
                />
              </base-button>
              <base-button
                v-b-tooltip.hover
                title="Cancelar"
                icon
                type="primary"
                style="margin-top: 34px !important"
                @click="
                  privilegeName = ''
                  selectPrivilege = []
                  privilegeButtonName = 'Agregar'
                "
              >
                <i class="fas fa-undo-alt" />
              </base-button>
            </b-col>
            <b-col cols="12">
              <b-table
                ref="privilegeTable"
                :key="privilegeTableKey"
                :current-page="privilegeCurrentPage"
                :items="form.rolePrivileges"
                :fields="privilegeFields"
                stacked="md"
                per-page="3"
                show-empty
                responsive
                small
                empty-text="No hay registros para mostrar"
              >
                <template #cell(options)="row">
                  <base-button
                    v-b-tooltip.hover
                    title="Editar"
                    class="mr-2"
                    icon
                    type="vueBtn"
                    @click="editPrivilege(row.item, row.index)"
                  >
                    <i class="tim-icons icon-pencil" />
                  </base-button>
                  <base-button
                    v-b-tooltip.hover
                    title="Eliminar"
                    class="mr-2"
                    icon
                    type="vueBtn"
                    @click="deletePrivilege(row.index)"
                  >
                    <i class="tim-icons icon-trash-simple" />
                  </base-button>
                </template>
              </b-table>
              <b-pagination
                v-model="privilegeCurrentPage"
                :total-rows="form.rolePrivileges.length"
                per-page="3"
                align="fill"
                size="sm"
                class="w-50"
              />
            </b-col>
          </b-row>
          <b-row class="justify-content-between p-3">
            <base-button
              class="mt-4"
              type="secondary"
              @click="
                formreset()
                showModal = false
              "
            >
              Cancelar
            </base-button>
            <base-button class="mt-4" type="primary" native-type="submit">
              {{ buttonName }}
            </base-button>
          </b-row>
        </b-form>
      </validation-observer>
    </modal-component>
    <!-- END MODAL -->
  </div>
</template>
<script>
import ModalComponent from '@/components/base/ModalComponent.vue'
import TableComponent from '@/components/base/master/TableComponent.vue'
export default {
  name: 'RolePage',
  components: { ModalComponent, TableComponent },
  layout: 'dashboard',
  data: () => ({
    brands: [], // select brands
    roles: [],
    // DataTable variables
    isBusy: false,
    items: [], // datatable items
    fields: [
      // dataTable fields
      {
        key: 'role',
        label: 'Rol',
        sortable: true,
        class: 'text-center'
      },
      {
        key: 'actions',
        label: 'Opciones',
        sortable: false,
        class: 'text-center'
      }
    ],
    currentPage: 1,
    totalRows: 0,
    dataTableItems: {},
    // B-OVERLAY
    variant: 'transparent',
    opacity: 0.55,
    blur: '5px',
    showOverlay: false,
    // MODAL
    showModal: false,
    // FORM
    form: {
      role: '',
      rolePrivileges: []
    },
    buttonName: 'Agregar',
    // PRIVILEGE TABLE
    privilegeTableKey: 'key',
    privilegeIndex: -1,
    privilegeName: '',
    selectPrivilege: [],
    privilegeCurrentPage: 1,
    privilegeFields: [
      {
        key: 'name',
        label: 'Nombre',
        sortable: true,
        class: 'text-center'
      },
      {
        key: 'actions',
        label: 'Acciones',
        sortable: true,
        class: 'text-center',
        formatter: (item) => {
          const string = item.toString()
          return string
            ? string.length > 50
              ? `${string.slice(0, 50)}...`
              : string
            : '-'
        }
      },
      { key: 'options', label: 'Opciones' }
    ],
    privilegeButtonName: 'Agregar'
  }),
  mounted () {
    window.scrollTo(0, 0)
    // Set the initial number of items
    this.getItems()
  },
  methods: {
    // get CurrentPage
    getCurrentPage (value) {
      this.currentPage = value
    },
    // DELETE ITEM FROM DB
    deleteItem (deleteObject) {
      const { item } = deleteObject
      this.$swal({
        title: '¿Estás seguro que deseas Eliminar?',
        text: 'Se eliminarán permanentemente los datos',
        icon: 'question',
        iconHtml: '?',
        showCancelButton: true,
        confirmButtonColor: '#2ca172',
        iconColor: '#7dd3b8',
        cancelButtonText: 'Cancelar',
        confirmButtonText: 'Eliminar'
      }).then((result) => {
        if (result.value) {
          this.axiosCall({
            method: 'DELETE',
            url: `/api/role/delete/${item._id}`
          })
        }
      })
    },
    /**
     * @description :: GET ALL ITEMS FROM DB
     */
    async getItems () {
      this.isBusy = true
      this.items = await this.$axiosService.getItems({
        type: 'GET',
        url: '/api/role',
        notify: this.$notify
      })
      this.isBusy = false
      this.totalRows = this.items ? this.items.length : 0
    },
    /** @param :: optionsObject = {method, url, data}
     * @description ::  AXIOS CALL FUNCTION
     */
    async axiosCall (optionsObject) {
      const { method, url, data } = optionsObject
      this.showOverlay = true
      try {
        const response = await this.$axiosService.generalAxiosCall(
          method,
          url,
          data
        )
        this.getItems()
        this.showOverlay = false
        this.showModal = false
        this.$notify({
          message: response.message,
          type: response.type
        })
      } catch (err) {
        this.showOverlay = false
        this.$notify({
          message: err.message,
          type: err.type
        })
      }
    },
    // GET DATA OF AN ITEM
    editItem (item) {
      this.privilegeName = ''
      this.selectPrivilege = []
      this.showModal = true
      this.dataTableItems = JSON.parse(JSON.stringify(item))
      this.form = JSON.parse(JSON.stringify(item))
      this.buttonName = 'Modificar'
    },
    // Reset all fields of form
    formreset () {
      this.form = {
        role: '',
        rolePrivileges: []
      }
      this.privilegeName = ''
      this.selectPrivilege = []
      this.privilegeButtonName = 'Agregar'
      this.$nextTick(() => {
        if (this.$refs.form) {
          this.$refs.form.reset()
        }
      })
    },
    // submit button
    submit () {
      this.form = this.$service.trimObjects(this.form)
      this.showOverlay = true
      if (this.buttonName === 'Agregar') {
        this.axiosCall({
          method: 'POST',
          url: '/api/role/create',
          data: this.form
        })
      } else if (
        JSON.stringify(this.dataTableItems) !== JSON.stringify(this.form)
      ) {
        const { _id, ...data } = this.form
        data.changePassword =
          this.dataTableItems.password !== this.form.password
        this.axiosCall({
          method: 'PUT',
          url: `/api/role/update/${_id}`,
          data
        })
      } else {
        this.showOverlay = false
        this.$notify({
          message:
            'Modificar  — No has realizado ningún cambio, Nada que modificar',
          type: 'warning'
        })
      }
    },
    // add item
    addItem () {
      this.showModal = true
      this.buttonName = 'Agregar'
      this.privilegeButtonName = 'Agregar'
      this.formreset()
    },
    // ADD DATA IN PRIVILEGE TABLE
    addPrivileges () {
      if (this.privilegeName !== '' && this.selectPrivilege.length > 0) {
        if (this.privilegeButtonName === 'Agregar') {
          const findPrivilege = this.form.rolePrivileges.find(
            x => x.name.toString() === this.privilegeName.toString()
          )
          if (!findPrivilege) {
            this.form.rolePrivileges.push({
              name: this.privilegeName,
              actions: this.selectPrivilege
            })
          }
        } else {
          this.form.rolePrivileges[this.privilegeIndex] = {
            name: this.privilegeName,
            actions: this.selectPrivilege
          }
          this.privilegeTableKey = Math.random()
        }
        this.privilegeName = ''
        this.selectPrivilege = []
        this.privilegeButtonName = 'Agregar'
      }
    },
    deletePrivilege (rowIndex) {
      this.form.rolePrivileges.splice(rowIndex, 1)
    },
    editPrivilege (row, rowIndex) {
      const { name, actions } = row
      this.privilegeIndex = rowIndex
      this.privilegeName = name
      this.selectPrivilege = actions
      this.privilegeButtonName = 'Modificar'
    }
  }
}
</script>
<style>
.modal-form > .modal-dialog {
  max-width: 750px !important;
}
</style>
