<template>
  <master-component
    :server-side="true"
    :fields="fields"
    :create="false"
    url="/api/session"
    title="Sesiones de Usuario"
  />
</template>
<script>
import Moment from 'moment'
import MasterComponent from '@/components/base/master/MasterComponent.vue'

export default {
  name: 'SessionPage',
  components: {
    MasterComponent
  },
  layout: 'dashboard',
  data: () => ({
    rolePrivilege: []
  }),
  computed: {
    fields () {
      return [
        {
          key: 'email',
          label: 'Correo Electrónico',
          sortable: true
        },
        {
          key: 'collectionName',
          label: 'Módulo',
          sortable: true
        },
        {
          key: 'action',
          label: 'Acciones',
          sortable: true
        },
        {
          key: 'createdAt',
          label: 'Fecha',
          formatter: item => new Moment(item).utc().format('DD-MM-YYYY'),
          sortable: true,
          ortDirection: 'desc'
        },
        {
          key: 'html',
          label: 'Error',
          formatter: (item, row, col) => col.error ? '<i class="fas fa-exclamation-triangle" style="color: #ffc107" /> ' : ''
        },
        this.rolePrivilege.includes('delete') ? { key: 'actions', label: 'Opciones', class: 'text-center' } : ''
      ]
    }
  },
  mounted () {
    window.scrollTo(0, 0)
    const privileges = this.$auth.user.role.rolePrivileges || []
    if (privileges.length > 0) {
      const sessionsPrivilege = privileges.find(x => x.name === 'userSessions')
      this.rolePrivilege = sessionsPrivilege ? sessionsPrivilege.actions : []
    }
  }
}
</script>
