<template>
  <master-component
    :server-side="true"
    :fields="fields"
    :form-prop="form"
    :create="true"
    :form-components="formComponents"
    url="/api/template"
    title="Plantillas"
  />
</template>
<script>
import MasterComponent from '@/components/base/master/MasterComponent.vue'

export default {
  name: 'TemplatePage',
  components: {
    MasterComponent
  },
  layout: 'dashboard',
  data: () => ({
    fields: [
      {
        key: 'title',
        label: 'Título',
        sortable: true
      },
      { key: 'actions', label: 'Opciones' }
    ],
    form: {
      title: '',
      columns: [],
      hearder: [],
      translateColumns: []
    },
    // select options
    options: [],
    // SELECT OBJECT
    selectBrandObject: {
      perPage: 10,
      search: null,
      currentPage: 1
    }
  }),
  computed: {
    formComponents () {
      return [
        {
          type: 'input',
          name: 'title',
          rules: { required: true },
          label: 'Título',
          icon: 'fas fa-marker',
          placeholder: 'Título',
          col: '6'
        },
        {
          type: 'select',
          name: 'columns',
          rules: { required: true },
          label: 'Columnas',
          icon: 'fas fa-envelope',
          placeholder: 'Columnas',
          multiple: true,
          taggable: true,
          options: [],
          paginate: false,
          col: '6'
        },
        {
          type: 'select',
          name: 'translateColumns',
          rules: { required: false },
          label: 'Columnas en el Sistema',
          icon: 'fas fa-envelope',
          placeholder: 'Columnas',
          multiple: true,
          taggable: true,
          options: [],
          paginate: false,
          col: '6'
        },
        {
          type: 'select',
          name: 'dataType',
          rules: { required: false },
          label: 'Tipos de Datos',
          icon: 'fas fa-envelope',
          placeholder: 'Tipos de Datos',
          multiple: true,
          taggable: true,
          options: [],
          paginate: false,
          col: '6'
        },
        {
          type: 'select',
          name: 'header',
          rules: { required: false },
          label: 'Encabezado',
          icon: 'fas fa-envelope',
          placeholder: 'Encabezado',
          multiple: true,
          taggable: true,
          options: [],
          paginate: false,
          col: '6'
        },
        {
          type: 'select',
          name: 'exampleRow',
          rules: { required: false },
          label: 'Fila Ejemplo',
          icon: 'fas fa-envelope',
          placeholder: 'Fila Ejemplo',
          multiple: true,
          taggable: true,
          options: [],
          paginate: false,
          col: '6'
        }
      ]
    }
  },
  mounted () {
    window.scrollTo(0, 0)
  }
}
</script>
