<template>
  <div>
    <b-overlay
      id="overlay-background"
      no-wrap
      :show="showOverlay"
      :variant="variant"
      :opacity="opacity"
      :blur="blur"
      rounded="sm"
      z-index="20000"
    />
    <!-- CARD TITLE -->
    <b-skeleton-wrapper :loading="loading">
      <template #loading>
        <b-card>
          <b-skeleton width="25%" />
          <b-row>
            <b-col v-for="i in 10" :key="i" cols="6" class="mt-4">
              <b-skeleton width="100%" />
            </b-col>
          </b-row>
        </b-card>
      </template>
      <card card-body-classes="table-full-width">
        <h4 slot="header" class="card-title">
          Accesos de usuario
        </h4>
        <div v-if="privileges.length > 0">
          <b-row>
            <b-col cols="12">
              <b-form-group
                id="parent-role"
                label="Rol"
                label-for="select-role"
              >
                <v-select
                  id="select-role"
                  v-model="role"
                  placeholder="Rol"
                  :options="roles"
                  :reduce="role => ({ _id: role._id, role: role.role })"
                  :get-option-label="role => role.role || 'Role Eliminado'"
                  label="role"
                  class="w-25"
                  @input="getCheckedItems"
                >
                  <span slot="no-options">
                    ¡No se han encontrado resultados!.
                  </span>
                </v-select>
              </b-form-group>
            </b-col>
            <b-col
              v-for="(parent, i) in privileges"
              :key="`col-${i}`"
              sm="6"
              md="6"
              lg="6"
              class="mt-4"
            >
              <b-form-group>
                <template #label>
                  <b-form-checkbox
                    :id="`id-${parent._id}`"
                    :key="`checkParent-${parent._id}`"
                    :checked="isSelected(parent._id)"
                    @input="
                      checked =>
                        changeCheckbox(checked, parent._id, parent.children)
                    "
                  >
                    {{ parent.privilege }}
                  </b-form-checkbox>
                </template>
                <template v-for="child in parent.children">
                  <b-form-checkbox
                    :id="`id-${child._id._id}`"
                    :key="`child-${child._id._id}`"
                    class="ml-4"
                    :checked="isSelected(child._id._id)"
                    @input="
                      checked =>
                        changeCheckbox(
                          checked,
                          child._id._id,
                          child._id.children,
                          child._id.parent
                        )
                    "
                  >
                    {{ child._id.privilege }}
                  </b-form-checkbox>
                  <template v-for="grandChild in child._id.children">
                    <b-form-checkbox
                      :id="`id-${grandChild._id._id}`"
                      :key="`grandChild-${grandChild._id._id}`"
                      class="ml-5"
                      :checked="isSelected(grandChild._id._id)"
                      @input="
                        checked =>
                          changeCheckbox(
                            checked,
                            grandChild._id._id,
                            [],
                            grandChild._id.parent
                          )
                      "
                    >
                      {{ grandChild._id.privilege }}
                    </b-form-checkbox>
                  </template>
                </template>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row class="justify-content-end p-3 mt-4">
            <base-button class="mr-2" type="secondary" @click="formreset()">
              Limpiar
            </base-button>
            <base-button
              type="primary"
              :disabled="disableSaveButton"
              @click="saveMethod()"
            >
              Guardar
            </base-button>
          </b-row>
        </div>
        <card v-else style="width: 20rem ; margin: 0 auto;" class="text-center">
          <i
            class="fas fa-exclamation-triangle"
            style="color: #ffc107; font-size: 22px; left: 43%"
          />
          <h4 class="card-title">
            ADVERTENCIA!
          </h4>
          <p class="card-text">
            No hemos podido encontrar un listado de accesos, puede que no han
            sido creados o no se cargaron correctamente
          </p>
        </card>
      </card>
    </b-skeleton-wrapper>
  </div>
</template>

<script>
export default {
  layout: 'dashboard',
  data: () => ({
    loading: true, // skeleton
    selectedResults: [], // CHECKBOXES
    selectedCheckboxs: [], // SELECTED CHECKBOXS
    roles: [], // options v-select
    privileges: [], // all privileges
    role: null, // v-model v-select  role
    disableSaveButton: true,
    // B-OVERLAY
    variant: 'transparent',
    opacity: 0.55,
    blur: '5px',
    showOverlay: false
  }),
  computed: {
    isSelected () {
      return checked => this.selectedCheckboxs.includes(checked)
    }
  },
  async mounted () {
    window.scrollTo(0, 0)
    this.roles = await this.$axiosService.getItems({
      type: 'GET',
      url: '/api/role',
      notify: this.$notify
    })
    this.privileges = await this.$axiosService.getItems({
      type: 'GET',
      url: '/api/privilege/getParents',
      notify: this.$notify
    })
    this.loading = false
  },
  methods: {
    // CONTROL THE CHANGE EVENT OF EACH CHECKBOX
    changeCheckbox (checked, itemID, childs, parentID = null) {
      if (checked === false) {
        this.selectedCheckboxs = this.selectedCheckboxs.filter(
          x => itemID !== x && !childs.some(child => child._id._id === x)
        )
      } else {
        const findID = this.selectedCheckboxs.find(x => x === itemID)
        if (!findID) {
          this.selectedCheckboxs.push(itemID)
        }
        if (parentID) {
          const findParentID = this.selectedCheckboxs.find(x => x === parentID)
          if (!findParentID) {
            this.selectedCheckboxs.push(parentID)
          }
        }
      }
    },
    // RESET ALL ELEMENTS
    formreset () {
      this.selectedResults = []
      this.selectedCheckboxs = []
      this.role = null
      this.disableSaveButton = true
    },
    // SAVE CHANGES IN DB
    saveMethod () {
      // MAP SELECTED OPTIONS
      const selectionOptions = this.selectedCheckboxs.map(x => ({
        _id: x,
        addToSet: this.role
      }))
      // FIND UNSELECTED OPTIONS
      const unselectedOptions = this.selectedResults
        .filter(result => !this.selectedCheckboxs.includes(result))
        .map(x => ({
          _id: x,
          pull: this.role
        }))

      this.axiosCall({
        method: 'PUT',
        url: '/api/privilege/updateRoles',
        data: {
          data: JSON.stringify([...selectionOptions, ...unselectedOptions])
        }
      })
    },
    // RETURNS THE SELECTED VALUES
    async getCheckedItems (value) {
      this.selectedResults = []
      this.selectedCheckboxs = []
      this.disableSaveButton = true
      if (value) {
        this.showOverlay = true
        this.selectedResults = await this.$axiosService.getItems({
          type: 'GET',
          url: `/api/privilege/getByRole/${value._id}`,
          notify: this.$notify
        })
        this.selectedResults = this.selectedResults.map(x => x._id)
        this.selectedCheckboxs = [...this.selectedResults]
        this.showOverlay = false
        this.disableSaveButton = false
      }
    },
    async axiosCall (optionsObject) {
      const { method, url, data } = optionsObject
      this.showOverlay = true
      try {
        const response = await this.$axiosService.generalAxiosCall(
          method,
          url,
          data
        )
        this.showOverlay = false
        this.formreset()
        this.$notify({
          message: response.message,
          type: response.type
        })
      } catch (err) {
        this.showOverlay = false
        this.$notify({
          message: err.message,
          type: err.type
        })
      }
    }
  }
}
</script>
