<template>
  <div>
    <b-overlay
      id="overlay-background"
      no-wrap
      :show="showOverlay"
      :variant="variant"
      :opacity="opacity"
      :blur="blur"
      rounded="sm"
      z-index="20000"
    />
    <b-row>
      <b-col cols="12">
        <!-- CARD TITLE -->
        <card card-body-classes="table-full-width">
          <h4 slot="header" class="card-title">
            Usuarios
          </h4>
          <table-component
            :items="items"
            :server-side="true"
            :fields="fields"
            :create="true"
            :add-item="addItem"
            :edit-item="editItem"
            :delete-item="deleteItem"
            :get-items="getItems"
            :total-rows="totalRows"
            :is-busy="isBusy"
            :user-table="true"
            @page="getCurrentPage"
          />
        </card>
      </b-col>
    </b-row>
    <!-- MODAL -->
    <modal-component
      id="modal"
      :show.sync="showModal"
      :centered="true"
      :show-close="true"
      class="modal-form"
    >
      <template slot="header">
        <h4 id="exampleModalLabel" class="modal-title mt-3">
          Usuarios
        </h4>
      </template>
      <validation-observer ref="form" v-slot="{ handleSubmit }">
        <b-form @submit.stop.prevent="handleSubmit(submit)">
          <b-row>
            <b-col sm="6" md="6" lg="6">
              <validation-provider
                v-slot="validationContext"
                name="Email"
                :rules="{ required: true, email: true }"
              >
                <base-input
                  v-model="form.email"
                  type="text"
                  label="Email"
                  placeholder="Email"
                  :error="validationContext.errors[0]"
                  :class="
                    $service.getValidationState(validationContext)
                      ? 'has-success'
                      : 'has-danger'
                  "
                />
              </validation-provider>
            </b-col>
            <b-col sm="6" md="6" lg="6">
              <validation-provider
                v-slot="validationContext"
                name="Contraseña"
                :rules="{ required: true, min: 4 }"
              >
                <base-input
                  v-model="form.password"
                  type="password"
                  label="Contraseña"
                  placeholder="Contraseña"
                  :error="validationContext.errors[0]"
                  :class="
                    $service.getValidationState(validationContext)
                      ? 'has-success'
                      : 'has-danger'
                  "
                />
              </validation-provider>
            </b-col>
            <b-col sm="6" md="6" lg="6">
              <select-component
                v-model="form.brand"
                placeholder="Marca"
                :multiple="true"
                :change-current-page="changeSelectCurrentPage"
                delete-label="Marca Eliminada"
                label-option="code"
                :options="brands"
                :select-object="selectBrandObject"
                :select-search="selectSearch"
              />
            </b-col>
            <b-col sm="6" md="6" lg="6">
              <select-component
                v-model="form.country"
                :multiple="true"
                placeholder="Países"
                :change-current-page="changeSelectCurrentPage"
                delete-label="País Eliminado"
                label-option="code"
                :options="countries"
                :select-object="selectCountryObject"
                :select-search="selectSearch"
              />
            </b-col>
            <b-col sm="6" md="6" lg="6">
              <validation-provider
                v-slot="validationContext"
                name="Rol"
                :rules="{ required: true }"
              >
                <b-form-group
                  id="parent-role"
                  label="Rol"
                  label-for="select-role"
                >
                  <v-select
                    id="select-role"
                    v-model="form.role"
                    placeholder="Rol"
                    :options="roles"
                    :reduce="role => role._id || role"
                    :get-option-label="role => role.role || 'Rol eliminado'"
                    label="role"
                  >
                    <span slot="no-options">
                      ¡No se han encontrado resultados!.
                    </span>
                  </v-select>
                  <span style="color: #ec250d">
                    {{ validationContext.errors[0] }}
                  </span>
                </b-form-group>
              </validation-provider>
            </b-col>
          </b-row>
          <b-row class="justify-content-between p-3">
            <base-button
              class="mt-4"
              type="secondary"
              @click="
                formreset()
                showModal = false
              "
            >
              Cancelar
            </base-button>
            <base-button class="mt-4" type="primary" native-type="submit">
              {{ buttonName }}
            </base-button>
          </b-row>
        </b-form>
      </validation-observer>
    </modal-component>
    <!-- END MODAL -->
  </div>
</template>
<script>
import ModalComponent from '@/components/base/ModalComponent.vue'
import TableComponent from '@/components/base/master/TableComponent.vue'
import SelectComponent from '@/components/base/SelectComponent.vue'

export default {
  name: 'UserPage',
  components: { ModalComponent, TableComponent, SelectComponent },
  layout: 'dashboard',
  data: () => ({
    brands: [], // select brands
    countries: [], // select countries
    roles: [],
    // DataTable variables
    isBusy: false,
    items: [], // datatable items
    fields: [
      // dataTable fields
      {
        key: 'email',
        label: 'Email',
        sortable: true
      },
      {
        key: 'role.role',
        label: 'Rol',
        formatter: item => item || '-',
        sortable: false
      },
      { key: 'actions', label: 'Opciones', sortable: false }
    ],
    currentPage: 1,
    totalRows: 0,
    dataTableItems: {},
    selectBrandObject: {
      // SELECT BRAND OBJECT
      currentPage: 1,
      perPage: 10,
      search: null
    },
    selectCountryObject: {
      // SELECT COUNTRY OBJECT
      currentPage: 1,
      perPage: 10,
      search: null
    },
    // B-OVERLAY
    variant: 'transparent',
    opacity: 0.55,
    blur: '5px',
    showOverlay: false,
    // MODAL
    showModal: false,
    // FORM
    form: {
      email: null,
      password: null,
      role: null,
      brand: null,
      country: null
    },
    buttonName: 'Agregar'
  }),
  watch: {
    // SELECTBRAND CHANGE
    selectBrandObject: {
      async handler () {
        this.brands = await this.getSelectItems({
          type: 'POST',
          url: '/api/reference/list/brand',
          notify: this.$notify,
          data: this.selectBrandObject
        })
      },
      deep: true
    },

    selectCountryObject: {
      async handler () {
        this.countries = await this.getSelectItems({
          type: 'POST',
          url: '/api/reference/list/country',
          notify: this.$notify,
          data: this.selectCountryObject
        })
      },
      deep: true
    }
  },
  async mounted () {
    window.scrollTo(0, 0)
    // Set the initial number of items
    this.getItems({
      currentPage: this.currentPage,
      perPage: 50,
      search: null,
      sortBy: 'createdAt',
      sortDirection: 'desc',
      sortDesc: true
    })
    this.roles = await this.$axiosService.getItems({
      type: 'GET',
      url: '/api/role',
      notify: this.$notify
    })
  },
  methods: {
    // get CurrentPage
    getCurrentPage (value) {
      this.currentPage = value
    },
    // DELETE ITEM FROM DB
    deleteItem (deleteObject) {
      const { item } = deleteObject
      this.$swal({
        title: '¿Estás seguro que deseas Eliminar?',
        text: 'Se eliminarán permanentemente los datos',
        icon: 'question',
        iconHtml: '?',
        showCancelButton: true,
        confirmButtonColor: '#2ca172',
        iconColor: '#7dd3b8',
        cancelButtonText: 'Cancelar',
        confirmButtonText: 'Eliminar'
      }).then((result) => {
        if (result.value) {
          this.axiosCall({
            method: 'DELETE',
            url: `/api/user/delete/${item._id}`
          })
        }
      })
    },
    /** @param :: getItemsObject = {
      currentPage,
      perPage
      search
      }
     * @description :: GET INFO PAGINATE FROM DB
     */
    async getSelectItems (getItemsObject) {
      const { data, type, url } = getItemsObject
      const { item } = await this.$axiosService.getItems({
        type,
        url,
        data,
        notify: this.$notify
      })
      return item
    },
    // search method for paginated combos
    selectSearch (query, object) {
      object.search = query
      object.currentPage = 1
    },
    /** @param :: getItemsObject = {
      currentPage,
      perPage
      search,
      sortBy,
      sortDirection,
      sortDesc
    }
     * @description :: GET ALL ITEMS FROM DB
     */
    async getItems (getItemsObject) {
      this.isBusy = true
      const { totalRows, item } = await this.$axiosService.getItems({
        type: 'POST',
        url: '/api/user',
        notify: this.$notify,
        data: getItemsObject
      })
      this.items = item
      this.isBusy = false
      this.totalRows = totalRows
    },
    /** @param :: optionsObject = {method, url, data}
     * @description ::  AXIOS CALL FUNCTION
     */
    async axiosCall (optionsObject) {
      const { method, url, data } = optionsObject
      this.showOverlay = true
      try {
        const response = await this.$axiosService.generalAxiosCall(
          method,
          url,
          data
        )
        this.getItems({
          currentPage: this.currentPage,
          perPage: 50,
          search: null,
          sortBy: 'createdAt',
          sortDirection: 'desc',
          sortDesc: true
        })
        this.showOverlay = false
        this.showModal = false
        this.$notify({
          message: response.message,
          type: response.type
        })
      } catch (err) {
        this.showOverlay = false
        this.$notify({
          message: err.message,
          type: err.type
        })
      }
    },
    // GET DATA OF AN ITEM
    editItem (item) {
      this.dataTableItems = JSON.parse(JSON.stringify(item))
      this.form = JSON.parse(JSON.stringify(item))
      this.buttonName = 'Modificar'
      this.showModal = true
    },
    // Reset all fields of form
    formreset () {
      this.form = {}
      this.$nextTick(() => {
        if (this.$refs.form) {
          this.$refs.form.reset()
        }
      })
    },
    // submit button
    submit () {
      this.form = this.$service.trimObjects(this.form)
      this.showOverlay = true
      if (this.buttonName === 'Agregar') {
        this.axiosCall({
          method: 'POST',
          url: '/api/user/create',
          data: this.form
        })
      } else if (
        JSON.stringify(this.dataTableItems) !== JSON.stringify(this.form)
      ) {
        const { _id, ...data } = this.form
        data.changePassword =
          this.dataTableItems.password !== this.form.password
        this.axiosCall({
          method: 'PUT',
          url: `/api/user/update/${_id}`,
          data
        })
      } else {
        this.showOverlay = false
        this.$notify({
          message:
            'Modificar  — No has realizado ningún cambio, Nada que modificar',
          type: 'warning'
        })
      }
    },
    // add item
    addItem () {
      this.showModal = true
      this.buttonName = 'Agregar'
      this.formreset()
    },
    // change current page of select
    changeSelectCurrentPage (type, object) {
      if (type === 'add') {
        object.currentPage += 1
      } else {
        object.currentPage -= 1
      }
    }
  }
}
</script>
<style>
.modal-form > .modal-dialog {
  max-width: 750px !important;
}
</style>
