<template>
  <div>
    <b-overlay
      id="overlay-background"
      no-wrap
      :show="showOverlay"
      :variant="variant"
      :opacity="opacity"
      :blur="blur"
      rounded="sm"
      z-index="20000"
    />
    <b-row>
      <b-col cols="12">
        <!-- CARD TITLE -->
        <card card-body-classes="table-full-width">
          <h4 slot="header" class="card-title">
            {{ title }}
          </h4>
          <table-component
            ref="tableComponent"
            :items="items"
            :server-side="serverSide"
            :fields="fields"
            :create="create"
            :create-bulk="createBulk"
            :add-item="addItem"
            :edit-item="editItem"
            :delete-item="deleteItem"
            :get-items="getItems"
            :total-rows="totalRows"
            :read-excel-file="readExcelFile"
            :template="template"
            :selectable="selectable"
            :is-busy="isBusy"
            @page="getCurrentPage"
          />
        </card>
      </b-col>
    </b-row>
    <!-- MODAL -->
    <modal-component
      v-if="create || createBulk"
      id="modal"
      :show.sync="showModal"
      :centered="true"
      :show-close="true"
    >
      <template slot="header">
        <h4 id="exampleModalLabel" class="modal-title mt-3">
          {{ title }}
        </h4>
      </template>
      <validation-observer ref="form" v-slot="{ handleSubmit }">
        <b-form @submit.stop.prevent="handleSubmit(submit)">
          <b-row>
            <b-col
              v-for="(item, i) in formComponents"
              :key="i"
              :cols="item.col"
            >
              <validation-provider
                v-slot="validationContext"
                :name="item.placeholder"
                :rules="item.rules"
              >
                <base-input
                  v-if="item.type === 'input'"
                  v-model="form[item.name]"
                  :label="item.label"
                  :addon-left-icon="item.icon"
                  :placeholder="item.placeholder"
                  :error="validationContext.errors[0]"
                  :class="
                    $service.getValidationState(validationContext)
                      ? 'has-success'
                      : 'has-danger'
                  "
                />
                <base-checkbox
                  v-if="item.type === 'checkbox'"
                  v-model="form[item.name]"
                >
                  {{ item.label }}
                </base-checkbox>
                <b-form-group
                  v-if="item.type === 'select' && !item.paginate"
                  :label="item.label"
                  :label-for="`select-${item.name}`"
                >
                  <v-select
                    :id="`select-${item.name}`"
                    v-model="form[item.name]"
                    :placeholder="item.placeholder"
                    :multiple="item.multiple"
                    :taggable="item.taggable"
                    :options="item.options"
                  >
                    <span v-if="!item.taggable" slot="no-options">
                      ¡No se han encontrado resultados!.
                    </span>
                    <span v-else slot="no-options"> Escriba sus Opciones </span>
                  </v-select>
                  <span style="color: #ec250d">
                    {{ validationContext.errors[0] }}
                  </span>
                </b-form-group>
                <b-form-group
                  v-if="item.type === 'select' && item.paginate"
                  :label="item.label"
                  :label-for="`select-${item.name}`"
                >
                  <v-select
                    :id="`select-${item.name}`"
                    v-model="form[item.name]"
                    :placeholder="item.placeholder"
                    :options="item.options"
                    :taggable="item.taggable"
                    :filterable="false"
                    :multiple="item.multiple"
                    autowidth
                    :create-option="tag => ({ [item.optionLabel]: tag })"
                    :reduce="reduce => reduce[item.reduce] || reduce"
                    :get-option-label="
                      option => option[item.optionLabel] || option
                    "
                    @open="item.open()"
                    @search="search => item.selectSearch(search)"
                  >
                    <span slot="no-options">
                      ¡No se han encontrado resultados!.
                    </span>
                    <li slot="list-footer" class="text-center">
                      <base-button
                        type="vueBtn"
                        size="sm"
                        :disabled="item.selectObject.currentPage <= 1"
                        @click="item.nextPage()"
                      >
                        <i class="tim-icons icon-minimal-left mr-2" />Prev
                      </base-button>
                      <base-button
                        type="vueBtn"
                        size="sm"
                        :disabled="!(item.options && item.options.length > 0)"
                        @click="item.prevPage()"
                      >
                        <i class="tim-icons icon-minimal-right mr-2" />Next
                      </base-button>
                    </li>
                  </v-select>
                  <span style="color: #ec250d">
                    {{ validationContext.errors[0] }}
                  </span>
                </b-form-group>
                <b-form-group
                  v-if="item.type === 'file'"
                  :label="item.label"
                  :label-for="`file-${item.name}`"
                >
                  <b-form-file
                    :key="form[`${item.name}Name`] || item.name"
                    :ref="item.name"
                    :v-model="form[item.name]"
                    :placeholder="form[`${item.name}Name`] || item.placeholder"
                    drop-placeholder="Elimina el archivo acá..."
                    :accept="item.accept"
                    @input="val => (form[item.name] = val)"
                  />
                  <span style="color: #ec250d">
                    {{ validationContext.errors[0] }}
                  </span>
                </b-form-group>
              </validation-provider>
            </b-col>
          </b-row>
          <b-row class="justify-content-between p-3">
            <base-button
              class="mt-4"
              type="secondary"
              @click="
                formreset()
                showModal = false
              "
            >
              Cancelar
            </base-button>
            <base-button class="mt-4" type="primary" native-type="submit">
              {{ buttonName }}
            </base-button>
          </b-row>
        </b-form>
      </validation-observer>
    </modal-component>
    <!-- END MODAL -->
  </div>
</template>
<script>
import ModalComponent from '@/components/base/ModalComponent.vue'
import TableComponent from '@/components/base/master/TableComponent.vue'
export default {
  name: 'MasterComponent',
  components: { ModalComponent, TableComponent },
  props: {
    url: {
      type: String,
      default: '',
      description: 'Path in API to perform CRUD'
    },
    serverSide: {
      type: Boolean,
      default: false,
      description: 'indicates whether the datatable is server-side or not'
    },
    fields: {
      type: Array,
      default: () => [],
      description: 'Datatable fields'
    },
    title: {
      type: String,
      default: '',
      description: 'Page Title'
    },
    create: {
      type: Boolean,
      default: false,
      description: 'Allows creation and modification'
    },
    createBulk: {
      type: Boolean,
      default: false,
      description: 'Allows creation in bulk'
    },
    formProp: {
      type: Object,
      default: () => {},
      description: 'Form Object'
    },
    formComponents: {
      type: Array,
      default: () => {},
      description: 'Form Components'
    },
    type: {
      type: String,
      default: '',
      description: 'Type of parameter for url'
    },
    template: {
      type: String,
      default: '',
      description: 'File template'
    },
    selectable: {
      type: Boolean,
      default: false,
      description: 'Row select support'
    }
  },
  data: () => ({
    // DataTable variables
    isBusy: false,
    items: [],
    currentPage: 1,
    totalRows: 0,
    dataTableItems: {},
    // B-OVERLAY
    variant: 'transparent',
    opacity: 0.55,
    blur: '5px',
    showOverlay: false,
    // MODAL
    showModal: false,
    // FORM
    form: {},
    buttonName: 'Agregar'
  }),
  mounted () {
    // Set the initial number of items
    this.getItems({
      currentPage: this.currentPage,
      perPage: 50,
      search: null,
      sortBy: 'createdAt',
      sortDirection: 'desc',
      sortDesc: true
    })
    this.form = { ...this.formProp }
  },
  methods: {
    // DELETE ITEM FROM DB
    deleteItem (deleteObject) {
      const { item, data } = deleteObject
      this.$swal({
        title: '¿Estás seguro que deseas Eliminar?',
        text: 'Se eliminarán permanentemente los datos',
        icon: 'question',
        iconHtml: '?',
        showCancelButton: true,
        confirmButtonColor: '#2ca172',
        iconColor: '#7dd3b8',
        cancelButtonText: 'Cancelar',
        confirmButtonText: 'Eliminar'
      }).then((result) => {
        if (result.value) {
          this.axiosCall({
            method: 'DELETE',
            url:
              item && !data
                ? `${this.url}/delete/${item._id}`
                : `${this.url}/deleteMany`,
            data: item && !data ? item : { data }
          })
        }
      })
    },
    // GET ALL ITEMS FROM DB
    async getItems (data = null) {
      this.isBusy = true
      try {
        const response = await this.$axiosService.generalAxiosCall(
          this.serverSide ? 'POST' : 'GET',
          this.type !== '' ? `${this.url}/list/${this.type}` : this.url,
          data
        )
        this.isBusy = false
        if (this.serverSide) {
          const { totalRows, item } = response
          this.items = item
          this.totalRows = totalRows
        } else {
          this.items = response
          this.totalRows = response.length
        }
      } catch (err) {
        this.isBusy = false
        this.$notify({
          message: err.message,
          type: err.type
        })
      }
    },

    /** @param :: optionsObject = {method, url, data}
     * @description ::  AXIOS CALL FUNCTION
     */
    async axiosCall (optionsObject) {
      const { method, url, data } = optionsObject
      this.showOverlay = true
      try {
        const response = await this.$axiosService.generalAxiosCall(
          method,
          url,
          data
        )
        this.getItems({
          perPage: 50,
          currentPage: this.currentPage,
          search: null,
          sortBy: 'createdAt',
          sortDirection: 'desc',
          sortDesc: true
        })
        this.showOverlay = false
        this.showModal = false
        this.$notify({
          message: response.message,
          type: response.type
        })
      } catch (err) {
        this.showOverlay = false

        this.$notify({
          message: err.message,
          type: err.type
        })
      }
    },
    // GET DATA OF AN ITEM
    editItem (item) {
      const filterFile = this.formComponents.filter(x => x.type === 'file')
      // IF A FILES COMPONENT EXISTS
      if (filterFile.length > 0) {
        filterFile.forEach((x) => {
          const name = item[`${x.name}Name`]
            ? item[`${x.name}Name`].split('.')
            : null
          item[x.name] = name
            ? new File([`${name[1]}`], item[x.name], {
              type: `application/${name[1]}`
            })
            : null
        })
      }
      this.form = JSON.parse(JSON.stringify(item))
      this.dataTableItems = JSON.parse(JSON.stringify(item))
      this.buttonName = 'Modificar'
      this.showModal = true
    },
    // Reset all fields of form
    formreset () {
      this.form = { ...this.formProp }
      this.$nextTick(() => {
        if (this.$refs.form) {
          this.$refs.form.reset()
          const filterFile = this.formComponents.filter(x => x.type === 'file')
          // IF A FILES COMPONENT EXISTS
          if (filterFile.length > 0) {
            filterFile.forEach((x) => {
              if (this.$refs[x.name][0]) {
                this.$refs[x.name][0].reset()
              }
            })
          }
        }
      })
    },
    // submit button
    submit () {
      this.showOverlay = true
      this.form = this.$service.trimObjects(this.form)
      const fileArray = this.formComponents.filter(x => x.type === 'file')
      if (this.buttonName === 'Agregar') {
        this.axiosCall({
          method: 'POST',
          url: `${this.url}/create`,
          data:
            fileArray.length > 0
              ? this.$service.formDataAppend({ ...this.form })
              : this.form
        })
      } else if (
        JSON.stringify(this.dataTableItems) !== JSON.stringify(this.form)
      ) {
        const { _id, ...data } = this.form
        this.axiosCall({
          method: 'PUT',
          url: `${this.url}/update/${_id}`,
          data:
            fileArray.length > 0
              ? this.$service.formDataAppend({ ...data })
              : data
        })
      } else {
        this.showOverlay = false
        this.$notify({
          message:
            'Modificar  — No has realizado ningún cambio, Nada que modificar',
          type: 'warning'
        })
      }
    },
    // add item
    addItem () {
      this.showModal = true
      this.buttonName = 'Agregar'
      this.formreset()
    },
    // get CurrentPage
    getCurrentPage (value) {
      this.currentPage = value
    },
    // read excel file
    async readExcelFile (inputFile) {
      this.showOverlay = true
      if (inputFile && inputFile.target.files[0]) {
        const file = await this.$service.getExcelJSON({
          file: inputFile.target.files[0],
          options: {
            type: 'binary'
          }
        }) // CALL METHOD FROM A SERVICE
        if (file.length) {
          const data = JSON.stringify(file, (k, v) => v || undefined)
          await this.axiosCall({
            method: 'PUT',
            url: this.type
              ? `${this.url}/upsertBulk?type=${this.type}`
              : `${this.url}/upsertBulk`,
            data: { data }
          })
          this.$refs.tableComponent.clearFileInput()
        } else {
          this.showOverlay = false
          this.$notify({
            message: 'Archivo vacío',
            type: 'danger'
          })
        }
      } else {
        this.showOverlay = false
        this.$notify({
          message: 'Ha ocurrido un error al leer el archivo',
          type: 'danger'
        })
      }
    }
  }
}
</script>
<style lang="scss">
.swal2-icon.swal2-question {
  border-color: #7dd3b8 !important;
}

.table.b-table > tbody > .table-active {
  th,
  td {
    background-color: #d6e0ff42;
  }
}
</style>
