<template>
  <b-container fluid>
    <!-- ADD BUTTON -->
    <b-row v-if="create || createBulk">
      <b-col sm="4" md="4" lg="4">
        <fade-transition>
          <b-form-file
            v-if="showFileInput"
            ref="file"
            v-model="formFile"
            placeholder="Selecciona un archivo..."
            drop-placeholder="Elimina el archivo acá..."
            @change="readExcelFile"
          />
        </fade-transition>
      </b-col>
      <b-col sm="8" md="8" lg="8" class="d-flex justify-content-end">
        <!-- BUTTON -->
        <base-button
          v-if="create && !createBulk"
          class="btn"
          type="vueBtn"
          @click="addItem()"
        >
          AGREGAR
        </base-button>
        <!-- END BUTTON -->
        <!-- DROPDOWN -->
        <base-dropdown
          v-if="!create && createBulk"
          title="AGREGAR"
          title-classes="btn btn-vueBtn"
          direction="left"
        >
          <li
            class="nav-link"
            @click="
              showFileInput = false
              addItem()
            "
          >
            <p class="nav-item dropdown-item">
              Agregar un registro
            </p>
          </li>
          <li class="nav-link" @click="showFileInput = true">
            <p class="nav-item dropdown-item">
              Agregar varios registros
            </p>
          </li>
          <li class="nav-link" @click="downloadTemplate(template)">
            <a class="nav-item dropdown-item"> Ver Plantilla </a>
          </li>
        </base-dropdown>
        <!-- END DROPDOWN -->
      </b-col>
    </b-row>
    <!-- END ADD BUTTON -->
    <b-row class="mt-3">
      <b-col sm="12" md="6" lg="8" class="mt-3">
        <base-button
          v-if="selectable"
          type="vueBtn"
          size="sm"
          @click="selectAllRows()"
        >
          <i class="fas fa-check mr-2" /> Seleccionar
        </base-button>
        <base-button
          v-if="selectable"
          type="vueBtn"
          size="sm"
          @click="clearSelected()"
        >
          <i class="fas fa-times mr-2" /> Deseleccionar
        </base-button>

        <base-button
          v-if="selectable"
          type="vueBtn"
          size="sm"
          @click="deleteMany()"
        >
          <i class="tim-icons icon-trash-simple mr-2" /> Eliminar
        </base-button>
      </b-col>
      <b-col sm="12" md="6" lg="4">
        <b-form-group
          label="Filtrar"
          label-for="filter-input"
          label-cols-sm="3"
          label-align-sm="right"
          class="mb-0"
        >
          <base-input
            v-model="search"
            addon-left-icon="tim-icons icon-zoom-split"
            placeholder="Filtrar"
            size="sm"
          />
        </b-form-group>
      </b-col>
    </b-row>
    <!-- DATA TABLE  -->
    <b-table
      id="table-transition"
      ref="dataTable"
      :current-page="!serverSide ? datatableObject.currentPage : undefined"
      :options.sync="datatableObject"
      :busy.sync="isBusy"
      :items="items"
      :fields="fields"
      :per-page="datatableObject.perPage"
      :filter="search"
      :sort-by.sync="datatableObject.sortBy"
      :sort-desc.sync="datatableObject.sortDesc"
      :sort-direction="datatableObject.sortDirection"
      :no-sort-reset="true"
      stacked="md"
      show-empty
      small
      responsive
      :selectable="selectable"
      select-mode="multi"
      empty-filtered-text="No hay registros que coincidan con su solicitud"
      empty-text="No hay registros para mostrar"
      @row-selected="onRowSelected"
      @filtered="onFiltered"
    >
      <template #table-busy>
        <div class="text-center text-default my-2">
          <b-spinner class="align-middle" />
          <strong>Cargando...</strong>
        </div>
      </template>
      <template #cell(selected)="{ rowSelected }">
        <template v-if="rowSelected">
          <span aria-hidden="true">&check;</span>
          <span class="sr-only">Selected</span>
        </template>
        <template v-else>
          <span aria-hidden="true">&#10007;</span>
          <span class="sr-only">Not selected</span>
        </template>
      </template>
      <template #cell(html)="data">
        <span v-html="data.value" />
      </template>
      <template #cell(actions)="row">
        <base-button
          v-if="create || createBulk"
          v-b-tooltip.hover
          title="Editar"
          class="mr-1"
          icon
          type="vueBtn"
          @click="editItem(row.item, row.index, $event.target)"
        >
          <i :class="editButtonIcon" />
        </base-button>
        <base-button
          v-if="
            $auth.user.email === row.item.email && userTable === true
              ? false
              : true
          "
          v-b-tooltip.hover
          title="Eliminar"
          icon
          type="vueBtn"
          @click="deleteItem({ item: row.item })"
        >
          <i class="tim-icons icon-trash-simple" />
        </base-button>
      </template>
    </b-table>
    <!--END  DATA TABLE  -->
    <!-- PAGINATION -->
    <b-row v-if="items.length > 0" class="mt-3">
      <b-col sm="4" md="4" lg="4">
        <b-pagination
          v-model="datatableObject.currentPage"
          :total-rows="serverSide ? totalRows : totalItems"
          :per-page="datatableObject.perPage"
          :current-page="datatableObject.currentPage"
          size="sm"
          align="fill"
          class="w-50"
          first-number
          last-number
        />
      </b-col>
      <b-col sm="8" md="8" lg="8" class="d-flex justify-content-end">
        <b-form-group
          :label="`Por página (1-${datatableObject.perPage} de ${
            serverSide ? totalRows : totalItems
          })`"
          label-for="per-page-select"
          label-cols-lg="6"
          label-cols-sm="6"
          content-cols-sm="6"
          content-cols-lg="6"
        >
          <v-select
            v-model="datatableObject.perPage"
            :options="pageOptions"
            style="width: 150px"
          >
            <span slot="no-options"> ¡No se han encontrado resultados!. </span>
          </v-select>
        </b-form-group>
      </b-col>
    </b-row>
    <!-- END PAGINATION -->
  </b-container>
</template>
<script>
import { FadeTransition } from 'vue2-transitions'

export default {
  name: 'DataTableMasterComponent',
  components: { FadeTransition },
  props: {
    items: {
      type: Array,
      default: () => [],
      description: 'Items for the datatable'
    },
    serverSide: {
      type: Boolean,
      default: false,
      description: 'indicates whether the datatable is server-side or not'
    },
    fields: {
      type: Array,
      default: () => [],
      description: 'Datatable fields'
    },
    create: {
      type: Boolean,
      default: false,
      description: 'Allows creation and modification'
    },
    createBulk: {
      type: Boolean,
      default: false,
      description: 'Allows creation in bulk'
    },
    getItems: {
      type: Function,
      default: () => {},
      description: 'Get items for the datatable'
    },
    addItem: {
      type: Function,
      default: () => {},
      description: 'function to add an item'
    },
    editItem: {
      type: Function,
      default: () => {},
      description: 'function to eddit an item'
    },
    deleteItem: {
      type: Function,
      default: () => {},
      description: 'function to delete an item'
    },
    readExcelFile: {
      type: Function,
      default: () => {},
      description: 'Read an excel file'
    },
    template: {
      type: String,
      default: '',
      description: 'File template'
    },
    totalRows: {
      type: Number,
      default: 0
    },
    selectable: {
      type: Boolean,
      default: false,
      description: 'Row select support'
    },
    isBusy: {
      type: Boolean,
      default: false,
      description: 'Row select support'
    },
    userTable: {
      type: Boolean,
      default: false,
      description: 'valid that the table is for users'
    },
    editButtonIcon: {
      type: String,
      default: 'tim-icons icon-pencil',
      description: 'button icon to edit table item'
    }
  },
  data: () => ({
    // DataTable variables
    totalItems: 0,
    selected: [],
    selectedCopy: [],
    search: null,
    datatableObject: {
      currentPage: 1,
      perPage: 50,
      search: null,
      sortBy: 'createdAt',
      sortDirection: 'desc',
      sortDesc: true
    },
    pageOptions: [10, 50, 100, 500, 1000],
    // inputs
    formFile: null,
    showFileInput: false
  }),
  watch: {
    // DATATABLE CHANGE
    datatableObject: {
      async handler () {
        if (this.serverSide) {
          this.$emit('page', this.datatableObject.currentPage)
          await this.getItems(this.datatableObject)
        }
      },
      deep: true
    },
    // SEARCH COMPONENT CHANGE
    search (value) {
      this.datatableObject.search = value
      this.datatableObject.currentPage = 1
    },
    totalRows () {
      this.totalItems = this.totalRows
    }
  },
  methods: {
    onRowSelected (items) {
      this.selected = items
    },
    selectAllRows () {
      this.$refs.dataTable.selectAllRows()
    },
    clearSelected () {
      this.$refs.dataTable.clearSelected()
    },
    deleteMany () {
      if (this.selected.length > 0) {
        const _id = this.selected.map(x => x._id)
        this.deleteItem({ data: JSON.stringify(_id) })
      } else {
        this.$notify({
          message: 'Debes seleccionar al menos uno',
          type: 'warning'
        })
      }
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalItems = filteredItems.length
      this.datatableObject.currentPage = 1
    },
    async downloadTemplate (template) {
      try {
        const response = await this.$axiosService.generalAxiosCall(
          'GET',
          `/api/template/getOne/${template}`
        )
        if (response) {
          location.href = response.fileName
        } else {
          this.$notify({
            message: 'Plantilla no disponible',
            type: 'danger'
          })
        }
      } catch (err) {
        this.$notify({
          message: err.message,
          type: err.type
        })
      }
    },
    clearFileInput () {
      this.formFile = null
    }
  }
}
</script>
