<template>
  <div>
    <b-overlay
      id="overlay-background"
      no-wrap
      :show="show"
      :variant="variant"
      :opacity="opacity"
      :blur="blur"
      rounded="sm"
      z-index="20000"
    />
    <div class="wrapper wrapper-full-page">
      <div class="full-page login-page">
        <div class="content">
          <div class="container login-page">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
              <validation-observer ref="observer" v-slot="{ handleSubmit }">
                <form @submit.stop.prevent="handleSubmit(submit)">
                  <card class="card card-login card-white">
                    <!---->
                    <div class="card-header">
                      <img src="/img/card-success.png" alt="">
                      <h1 class="card-title">
                        Inicio de Sesión
                      </h1>
                    </div>
                    <div class="card-body">
                      <div>
                        <div class="form-group has-icon">
                          <!---->
                          <validation-provider
                            v-slot="validationContext"
                            name="Email"
                            :rules="{ required: true, email: true }"
                          >
                            <base-input
                              v-model="form.email"
                              addon-left-icon="tim-icons icon-email-85"
                              label="Email"
                              placeholder="Email"
                              :error="validationContext.errors[0]"
                              :class="
                                $service.getValidationState(validationContext)
                                  ? 'has-success'
                                  : 'has-danger'
                              "
                            />
                          </validation-provider>

                          <!---->
                        </div>
                        <div class="form-group has-icon">
                          <!---->
                          <validation-provider
                            v-slot="validationContext"
                            name="Contraseña"
                            :rules="{ required: true, min: 4 }"
                          >
                            <base-input
                              v-model="form.password"
                              addon-left-icon="tim-icons icon-lock-circle"
                              type="password"
                              label="Password"
                              placeholder="Password"
                              :error="validationContext.errors[0]"
                              :class="
                                $service.getValidationState(validationContext)
                                  ? 'has-success'
                                  : 'has-danger'
                              "
                            />
                          </validation-provider>
                          <!---->
                        </div>
                      </div>
                    </div>
                    <!---->
                    <div class="card-footer">
                      <!---->
                      <div>
                        <base-button
                          class="btn mb-3 btn-block"
                          type="vueBtn"
                          native-type="submit"
                        >
                          Iniciar
                        </base-button>
                        <div class="pull-right">
                          <h6>
                            <a
                              href="#"
                              class="link footer-link font-weight-bold"
                            >¿Olvidaste la contraseña?</a>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </card>
                </form>
              </validation-observer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LoginPage',
  layout: 'default',
  data: () => ({
    // LOGIN FORM
    form: {
      email: null,
      password: null
    },
    // B-OVERLAY
    variant: 'transparent',
    opacity: 0.55,
    blur: '5px',
    show: false
  }),
  methods: {
    resetForm () {
      this.form = {
        email: null,
        password: null
      }

      this.$nextTick(() => {
        this.$validator.reset()
      })
    },
    submit () {
      this.show = true
      this.form = this.$service.trimObjects(this.form)
      this.$auth
        .loginWith('local', {
          data: this.form
        })
        .then(() => {
          this.show = false
          this.$router.push({ path: '/dashboard' })
        })
        .catch((err) => {
          this.show = false
          this.$notify({
            message: err.response.data.message,
            type: err.response.data.type
          })
        })
    }
  }
}
</script>

<style lang="scss" scope>
.full-page > {
  .content {
    padding-bottom: 150px;
    padding-top: 150px;
    position: relative;
    z-index: 4;
  }

  .footer {
    position: relative;
    z-index: 4;
  }
}

.login-page .card-login {
  border-radius: 0.4285rem;
  padding-bottom: 0.7rem;
}

.login-page .card-login .card-header {
  padding: 0 0 100px;
  overflow: hidden;
}

.login-page .card-login .card-header img {
  position: absolute;
  margin-top: -14px;
  margin-left: -14px;
}

.login-page .card-login {
  .card-header .card-title {
    position: relative;
    font-size: 1.8em;
    font-weight: 800;
    color: #222a42;
    margin-left: 12px;
    z-index: 1;
    margin-top: 10px;
  }
}
</style>
