<template>
  <div class="fixed-plugin">
    <div class="dropdown-box" :class="{ show: isOpen }">
      <a class="settings-icon" @click="toggleDropDown">
        <i class="fa fa-envelope fa-2x" style="color: white" />
      </a>
      <ul v-if="isOpen" class="dropdown-chat" :class="{ show: isOpen }">
        <li class="header-title mb-2">
          Sala de Chat
        </li>
        <b-row>
          <b-col cols="12">
            <section ref="chatArea" class="chat-area" @scroll="onScroll">
              <div
                v-if="chatSpinner"
                class="d-flex justify-content-center mb-3"
              >
                <b-spinner label="Loading..." />
              </div>
              <div
                v-for="item in chats"
                :key="item._id"
                class="message mb-2"
                :class="item.email === email ? 'message-out' : 'message-in'"
              >
                <p :style="{ color: item.email === email ? 'white' : 'black' }">
                  <strong>{{
                    item.email.length > 19
                      ? `${item.email.slice(0, 19)}...`
                      : item.email
                  }}</strong>
                </p>
                <small
                  :style="{ color: item.email === email ? 'white' : 'black' }"
                >
                  <span class="glyphicon glyphicon-time" />{{
                    $service.getDate(item.createdAt)
                  }}</small>
                <p :style="{ color: item.email === email ? 'white' : 'black' }">
                  {{ item.message }}
                </p>
              </div>
            </section>
            <validation-observer ref="form" v-slot="{ handleSubmit }">
              <b-form
                class="chat-form"
                @submit.stop.prevent="handleSubmit(submit)"
              >
                <select-component
                  v-model="chatForm.to"
                  class="select-chat"
                  placeholder="Selecciona email"
                  :change-current-page="changeSelectCurrentPage"
                  label-option="email"
                  reduce-option="email"
                  :options="users"
                  :select-object="usersObject"
                  :select-search="selectSearch"
                  :multiple="true"
                  :label="true"
                />
                <validation-provider
                  v-slot="validationContext"
                  name="Mensaje"
                  :rules="{ required: true }"
                >
                  <b-form-textarea
                    id="textarea"
                    v-model="chatForm.message"
                    class="form-control"
                    placeholder="Escribe acá ..."
                    style="color: white; border-color: rgb(175 175 177 / 50%)"
                    :state="$service.getValidationState(validationContext)"
                    aria-describedby="input-1-live-feedback"
                    rows="1"
                  />
                  <b-form-invalid-feedback
                    id="input-live-feedback"
                    :state="$service.getValidationState(validationContext)"
                  >
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </validation-provider>
                <base-button
                  class="mt-4"
                  type="success"
                  native-type="submit"
                  block
                >
                  Enviar
                </base-button>
              </b-form>
            </validation-observer>
          </b-col>
        </b-row>
      </ul>
    </div>
  </div>
</template>
<script>
import socket from '~/plugins//services/socket.js'
import SelectComponent from '@/components/base/SelectComponent.vue'

export default {
  name: 'SidebarShare',
  components: { SelectComponent },
  props: {
    email: {
      type: String,
      default: '',
      description: 'Email of user'
    },
    chatRoom: {
      type: Object,
      default: null,
      description: 'ChatRoom ID'
    }
  },
  data: () => ({
    chatSpinner: false,
    totalRows: 0,
    chats: [],
    users: [],
    errors: [],
    isOpen: false,
    chatForm: { message: '', to: [] },
    chatObject: {
      currentPage: 1,
      perPage: 50
    },
    usersObject: {
      // SELECT ORIGIN USER OBJECT
      currentPage: 1,
      perPage: 5,
      search: null
    }
  }),
  watch: {
    // SELECT USER CHANGE
    usersObject: {
      async handler () {
        this.users = await this.getSelectItems({
          type: 'POST',
          url: '/api/user',
          data: this.usersObject
        })
      },
      deep: true
    }
  },
  mounted () {
    this.getItems({ ...this.chatObject, chatRoom: this.chatRoom._id, email: this.email })
  },
  methods: {
    toggleDropDown () {
      this.isOpen = !this.isOpen
      this.$nextTick(() => {
        if (this.$refs.chatArea) {
          this.$refs.chatArea.scrollTop = this.$refs.chatArea.scrollHeight
        }
      })
    },
    closeDropDown () {
      this.isOpen = false
    },
    async submit () {
      try {
        const data = {
          ...this.chatForm,
          chatRoom: this.chatRoom._id,
          email: this.email
        }
        const response = await this.$axiosService.generalAxiosCall(
          'POST',
          '/api/chat/create',
          data
        )
        if (response) {
          this.chatForm.message = ''
          this.$refs.chatArea.scrollTop = this.$refs.chatArea.scrollHeight
          if (data.to.length === 0) {
            socket.emit('save-message', {
              ...data,
              createdAt: new Date()
            })
          } else {
            socket.emit('private-message', {
              message: {
                ...data,
                createdAt: new Date()
              },
              to: data.to.map(x => `${this.chatRoom._id}${x}`)
            })
            this.chats.push({
              ...data,
              createdAt: new Date()
            })
          }
        }
      } catch (err) {
        this.showOverlay = false
        this.$notify({
          message: err.message,
          type: err.type
        })
      }
    },
    async getItems (data) {
      const { totalRows, item } = await this.$axiosService.getItems({
        type: 'POST',
        url: '/api/chat',
        notify: this.$notify,
        data
      })
      this.totalRows = totalRows
      this.chats = item
      socket.on(
        'new-message',
        function (data) {
          this.chats.push(data.message)
        }.bind(this)
      )
      socket.on(
        'private-message',
        function (data) {
          this.chats.push(data.message)
        }.bind(this)
      )
    },
    async onScroll ({ target: { scrollTop } }) {
      if (scrollTop === 0 && this.chats.length < this.totalRows) {
        this.chatSpinner = true
        this.chatObject.currentPage = this.chatObject.currentPage + 1
        const result = await this.getSelectItems({
          type: 'POST',
          url: '/api/chat',
          data: { ...this.chatObject, chatRoom: this.chatRoom._id, email: this.email }
        })
        if (result && result.length > 0) {
          this.chats = [...result, ...this.chats]
          this.$refs.chatArea.scrollTop = 50
        }
        this.chatSpinner = false
      }
    },
    /** @param :: getItemsObject = { type,url data:{
      currentPage,
      perPage
      search
      }}
     * @description ::  allows to fill paginated selection combos
     */
    async getSelectItems (getItemsObject) {
      const { data, type, url } = getItemsObject
      const { item } = await this.$axiosService.getItems({
        type,
        url,
        data,
        notify: this.$notify
      })
      return item
    },
    // change current page of select
    changeSelectCurrentPage (type, object) {
      if (type === 'add') {
        object.currentPage += 1
      } else {
        object.currentPage -= 1
      }
    },
    // search method for paginated combos
    selectSearch (query, object) {
      object.search = query
      object.currentPage = 1
    }
  }
}
</script>
<style scoped lang="scss">
.settings-icon {
  cursor: pointer;
}
.dropdown-chat {
  right: 80px;
  left: auto !important;
  top: -30px !important;
  width: 290px;
  border-radius: 0.1875rem;
  padding: 0 10px;
  background: linear-gradient(#222a42, #1d253b);
  position: absolute;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  margin: 0.125rem 0 0;
  text-align: left;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.dropdown-box {
  position: relative;
}
.dropdown-box.show .dropdown-chat {
  opacity: 1;
  transform: translateY(-13%);
  transform-origin: 0 0;
}

.dropdown-box .dropdown-chat {
  transform: translateY(-15%);
  top: 27px;
  opacity: 0;
  transform-origin: 0 0;
}
.chat-area {
  background: white;
  height: 300px;
  padding: 1em;
  overflow: auto;
  max-width: 350px;
  margin: 0 auto 2em auto;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}
.message {
  width: 75%;
  border-radius: 10px;
  padding: 0.8em;
  font-size: 0.8em;
  border: 1px solid #1e263d66;
  overflow-wrap: break-word;
}

.chat-form {
  margin: 20px auto;
  width: 80%;
}
.message-out {
  background: #7a7f90eb;
  margin-left: 30%;
}

.message-in {
  background: #f1f0f0;
}

textarea::placeholder {
  color: white !important;
  opacity: 1; /* Firefox */
}
</style>
<style>
.select-chat .vs__selected-options {
  flex-wrap: nowrap !important;
}

.select-chat .vs__search  {
  color: white !important;
  font-size: 12px;
  padding: 0px;
}
.select-chat .vs__dropdown-toggle  {
   border-color: rgb(175 175 177 / 50%) !important;
}
</style>
