<template>
  <b-form-group
    :label="!label ? placeholder : ''"
    label-align-sm="left"
    :label-for="placeholder"
  >
    <v-select
      :id="placeholder"
      v-model="model"
      :disabled="disabled"
      :multiple="multiple"
      :placeholder="placeholder"
      :options="options"
      :filterable="false"
      :get-option-label="item => (item && item[labelOption] ? item[labelOption] : deleteLabel)"
      :reduce="reduce => (reduceOption ? reduce[reduceOption] : reduce)"
      @search="search => selectSearch(search, selectObject)"
      @open="selectSearch('', selectObject)"
    >
      <span slot="no-options"> ¡No se han encontrado resultados!. </span>
      <li slot="list-footer" class="text-center">
        <base-button
          type="vueBtn"
          size="sm"
          :disabled="selectObject.currentPage <= 1"
          @click="changeCurrentPage('remove', selectObject)"
        >
          <i class="tim-icons icon-minimal-left mr-2" />Prev
        </base-button>
        <base-button
          type="vueBtn"
          size="sm"
          :disabled="!(options && options.length > 0)"
          @click="changeCurrentPage('add', selectObject)"
        >
          <i class="tim-icons icon-minimal-right mr-2" />Next
        </base-button>
      </li>
    </v-select>
  </b-form-group>
</template>

<script>
export default {
  name: 'BaseSelect',
  props: {
    label: {
      type: Boolean,
      default: false,
      description: 'show label'
    },
    disabled: {
      type: Boolean,
      default: false,
      description: 'Select disabled'
    },
    multiple: {
      type: Boolean,
      default: false,
      description: 'Select multiple'
    },
    placeholder: {
      type: String,
      default: '',
      description: 'Select Placeholder'
    },
    value: {
      type: [Object, String, Array],
      description: 'Select v-model',
      default: () => {}
    },
    options: {
      type: Array,
      description: 'Select option items',
      default: () => []
    },
    labelOption: {
      type: String,
      description: 'Field to be displayed in label',
      default: ''
    },
    reduceOption: {
      type: String,
      description: 'Field to be reduce',
      default: ''
    },
    selectObject: {
      type: Object,
      description: 'Object',
      default: () => {}
    },
    deleteLabel: {
      type: String,
      description: 'Delete Label',
      default: 'Elemento eliminado'
    },
    selectSearch: {
      type: Function,
      default: () => {},
      description: 'Search element in select'
    },
    changeCurrentPage: {
      type: Function,
      default: () => {},
      description: 'Add or remove pages'
    }
  },
  computed: {
    model: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>
