#notfound {
    position: relative;
    height: 90vh;
  
    .notfound {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
  
  .notfound {
    max-width: 410px;
    width: 100%;
    text-align: center;
  
    .notfound-404 {
      height: 280px;
      position: relative;
      z-index: -1;
  
      h1 {
        font-size: 230px;
        margin: 0px;
        font-weight: 900;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        background: url('/img/bg.jpg') no-repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: cover;
        background-position: center;
      }
    }
  
    h2 {
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 0;
    }
  
    p {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 20px;
      margin-top: 0px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
      height: 142px;
  
      h1 {
        font-size: 112px;
      }
    }
  }