<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <notifications />
    <side-bar
      :background-color="sidebarBackground"
      short-title="CT"
      title="COMEX"
    >
      <template slot="links">
        <sidebar-item
          v-for="(item,i) in $auth.user.privileges"
          :key="`group-${i}`"
          :link="{
            name: item.privilege,
            icon: item.icon,
            path: item.path,
            isRoute: false
          }"
        >
          <template v-for="(child,j) in item.children">
            <sidebar-item
              :key="`child-${j}`"
              :link="{
                name:child._id.privilege,
                icon: child._id.icon,
                path: child._id.path,
                isRoute: false,
              }"
            >
              <template v-for="(grandchild,k) in child._id.children">
                <sidebar-item
                  :key="`grandchild-${k}`"
                  :link="{
                    name: grandchild._id.privilege,
                    icon: grandchild._id.icon,
                    path: grandchild._id.path,
                    isRoute: false,
                  }"
                />
              </template>
            </sidebar-item>
          </template>
        </sidebar-item>
      </template>
    </side-bar>
    <div class="main-panel" :data="sidebarBackground">
      <dashboard-navbar />
      <router-view name="header" />
      <div :class="{ content: true }" @click="toggleSidebar">
        <zoom-center-transition :duration="200" mode="out-in">
          <!-- your content here -->
          <nuxt />
        </zoom-center-transition>
      </div>
      <content-footer />
    </div>
  </div>
</template>
<script>
/* eslint-disable no-new */
import PerfectScrollbar from 'perfect-scrollbar'
import { ZoomCenterTransition } from 'vue2-transitions'
import 'perfect-scrollbar/css/perfect-scrollbar.css'
import DashboardNavbar from '@/components/core/NavbarComponent.vue'
import ContentFooter from '@/components/core/FooterComponent.vue'
function hasElement (className) {
  return document.getElementsByClassName(className).length > 0
}
function initScrollbar (className) {
  if (hasElement(className)) {
    new PerfectScrollbar(`.${className}`)
  } else {
    // try to init it later in case this component is loaded async
    setTimeout(() => {
      initScrollbar(className)
    }, 100)
  }
}

export default {
  components: {
    ZoomCenterTransition,
    DashboardNavbar,
    ContentFooter
  },
  data: () => ({
    sidebarBackground: 'vue' // vue|blue|orange|green|red|primary
  }),
  mounted () {
    this.initScrollbar()
  },
  methods: {
    toggleSidebar () {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false)
      }
    },
    initScrollbar () {
      const docClasses = document.body.classList
      const isWindows = navigator.platform.startsWith('Win')
      if (isWindows) {
        // if we are on windows OS we activate the perfectScrollbar function
        initScrollbar('sidebar')
        initScrollbar('main-panel')
        initScrollbar('sidebar-wrapper')
        docClasses.add('perfect-scrollbar-on')
      } else {
        docClasses.add('perfect-scrollbar-off')
      }
    }
  }
}
</script>
<style lang="scss">
$scaleSize: 0.95;
@keyframes zoomIn95 {
  from {
    opacity: 0;
    transform: scale3d($scaleSize, $scaleSize, $scaleSize);
  }
  to {
    opacity: 1;
  }
}
.main-panel .zoomIn {
  animation-name: zoomIn95;
}
@keyframes zoomOut95 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d($scaleSize, $scaleSize, $scaleSize);
  }
}
.main-panel .zoomOut {
  animation-name: zoomOut95;
}
</style>
