<template>
  <div class="main-panel" data="vue">
    <notifications />
    <zoom-center-transition v-show="!isLoading" :duration="200" mode="out-in">
      <!-- your content here -->
      <nuxt />
    </zoom-center-transition>
  </div>
</template>

<script>
import { ZoomCenterTransition } from 'vue2-transitions'

export default {
  components: {
    ZoomCenterTransition
  },
  data: () => ({
    isLoading: true
  }),
  mounted () {
    this.$nextTick(function () {
      this.isLoading = false
    })
  }
}
</script>
