<template>
  <div id="notfound">
    <div class="notfound">
      <div class="notfound-404">
        <h1>{{ error.statusCode }}</h1>
      </div>
      <h2>Oops!</h2>
      <p>
        {{ error.message }}
      </p>
      <base-button round type="vue" @click="$router.back({})">
        <i class="tim-icons icon-minimal-left mr-2" />Go To Homepage
      </base-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NuxtError',
  props: {
    error: {
      type: Object,
      default: () => {}
    }
  }
}
</script>
