<template>
  <div>
    <b-overlay
      id="overlay-background"
      no-wrap
      :show="showOverlay"
      :variant="variant"
      :opacity="opacity"
      :blur="blur"
      rounded="sm"
      z-index="20000"
    />
    <!-- ROW TABLE -->
    <b-row>
      <b-col cols="12">
        <!-- EXPORT CARD -->
        <card card-body-classes="table-full-width">
          <h4 slot="header" class="card-title">
            <base-button
              v-b-tooltip.hover
              round
              title="Volver"
              style="color: #6c757d"
              type="gray"
              icon
              @click="
                $router.replace({
                  path: '/importModule/',
                  query: { comex: comexParam }
                })
              "
            >
              <i class="fas fa-arrow-alt-circle-left" />
            </base-button>
            Nueva Exportación
          </h4>
          <b-container fluid>
            <b-row>
              <b-card ref="exportCard">
                <b-row class="m-2">
                  <b-col sm="6" md="6" lg="6">
                    <b-card-title> Detalle de la Exportación </b-card-title>
                    <b-card-text>
                      Número de Factura:
                      <b><em> {{ exportDetails.exportNumber }} </em></b>
                    </b-card-text>
                    <b-card-text>
                      Fecha de Factura :
                      <b><em> {{ $service.getDate(exportDetails.exportDate) }} </em></b>
                    </b-card-text>
                    <b-card-text>
                      País Origen:
                      <b><em>
                        {{
                          exportDetails.originCountry.code || 'País Eliminado'
                        }}
                      </em></b>
                      País Destino:<b><em>
                        {{
                          exportDetails.destinationCountry.code ||
                            'País Eliminado'
                        }}
                      </em>
                      </b>
                      Marca:
                      <b><em>
                        {{ exportDetails.brand.code || 'Marca Eliminada' }}
                      </em>
                      </b>
                    </b-card-text>
                  </b-col>
                  <b-col sm="6" md="6" lg="6">
                    <b-alert
                      :show="
                        incompleteDocs.files && incompleteDocs.files.length > 0
                      "
                      variant="warning"
                      fade
                    >
                      <h4 class="alert-heading">
                        <i
                          class="fas fa-exclamation-triangle mr-2"
                          style="color: #ffc107; font-size: 22px; left: 43%"
                        />
                        Documentos Incompletos o Incorrectos
                      </h4>
                      <p>
                        {{ getInvoice() }}
                      </p>
                    </b-alert>
                  </b-col>
                </b-row>
                <!-- FORM -->
                <b-card-title class="mt-5">
                  Agregar Documentos
                  <!-- BUTTON -->
                </b-card-title>
                <b-card-text>
                  <base-dropdown
                    title="Plantillas de Documentos"
                    title-classes="btn btn-vueBtn"
                    direction="down"
                  >
                    <li class="nav-link" @click="showTemplateModal = true">
                      <p class="nav-item dropdown-item">
                        Lista de Empaque
                      </p>
                    </li>
                    <a
                      class="nav-link"
                      href="/files/invoiceTemplate.xml"
                      download
                    >
                      <p class="nav-item dropdown-item">Factura</p>
                    </a>
                    <a
                      class="nav-link"
                      href="/files/certificateOfOrigin.xml"
                      download
                    >
                      <p class="nav-item dropdown-item">
                        Certificado de Origen
                      </p>
                    </a>
                  </base-dropdown>
                  <validation-observer ref="form" v-slot="{ handleSubmit }">
                    <b-form @submit.stop.prevent="handleSubmit(submit)">
                      <b-row>
                        <b-col sm="4" md="4" lg="4" class="my-3">
                          <validation-provider
                            v-slot="validationContext"
                            name="Tipo"
                            :rules="{ required: true }"
                          >
                            <b-form-group
                              label="Tipo de Archivo"
                              label-for="select-parent"
                            >
                              <v-select
                                id="select-type"
                                :key="selectKey"
                                v-model="form.type"
                                placeholder="Tipo de Archivo"
                                :options="typesArray"
                                :selectable="option => selectableType(option)"
                                :reduce="type => type.name"
                                :get-option-label="type => type.label"
                                label="Tipo de Archivo"
                                :disabled="disableForm.type"
                                @input="changeFileType"
                              >
                                <span slot="no-options">
                                  ¡No se han encontrado resultados!.
                                </span>
                              </v-select>
                              <label style="color: #ec250d">
                                {{ validationContext.errors[0] }}
                              </label>
                            </b-form-group>
                          </validation-provider>
                        </b-col>
                        <b-col sm="4" md="4" lg="4" class="my-3">
                          <validation-provider
                            v-slot="validationContext"
                            name="Archivo"
                            :rules="{ required: true }"
                          >
                            <label>Archivo</label>
                            <b-form-file
                              :key="fileKey"
                              ref="file"
                              v-model="form.file"
                              :disabled="disableForm.file"
                              class="text-truncate"
                              :placeholder="
                                form.file ? form.file.name : 'Seleccione'
                              "
                              drop-placeholder="Elimina el archivo acá..."
                              :accept="accept"
                              @input="
                                value => {
                                  form.file = value
                                  changeFileInput(value)
                                }
                              "
                            />
                            <label style="color: #ec250d">
                              {{ validationContext.errors[0] }}
                            </label>
                          </validation-provider>
                        </b-col>
                        <b-col sm="4" md="4" lg="4" class="my-3">
                          <validation-provider
                            v-slot="validationContext"
                            name="Número de Documento"
                            :rules="{ required: true }"
                          >
                            <base-input
                              v-model="form.invoiceNumber"
                              :disabled="disableForm.invoiceNumber"
                              type="text"
                              label="Nro de Documento"
                              placeholder="Nro de Documento"
                              :error="validationContext.errors[0]"
                              :class="
                                $service.getValidationState(validationContext)
                                  ? 'has-success'
                                  : 'has-danger'
                              "
                            />
                          </validation-provider>
                        </b-col>
                        <Transition name="slide-fade">
                          <b-col
                            v-if="showPackingListType"
                            sm="4"
                            md="4"
                            lg="4"
                          >
                            <validation-provider
                              v-slot="validationContext"
                              name="Tipo de Lista de Empaque"
                              :rules="{ required: true }"
                            >
                              <b-form-group
                                label="Tipo de Lista de Empaque"
                                label-for="select-parent"
                              >
                                <v-select
                                  id="select-packingListType"
                                  v-model="form.packingListType"
                                  placeholder="Tipo de Lista de Empaque"
                                  :options="packingListType"
                                  label="Tipo de Lista de Empaque"
                                  :disabled="disableForm.packingListType"
                                >
                                  <span slot="no-options">
                                    ¡No se han encontrado resultados!.
                                  </span>
                                </v-select>
                                <label style="color: #ec250d">
                                  {{ validationContext.errors[0] }}
                                </label>
                              </b-form-group>
                            </validation-provider>
                          </b-col>
                        </Transition>
                      </b-row>
                      <b-row class="justify-content-end m-0">
                        <base-button
                          class="mr-2"
                          type="secondary"
                          @click="formreset()"
                        >
                          Cancelar
                        </base-button>
                        <base-button
                          type="primary"
                          native-type="submit"
                          :disabled="disableExportStatus"
                        >
                          {{ buttonName }}
                        </base-button>
                      </b-row>
                    </b-form>
                  </validation-observer>
                </b-card-text>
                <!-- END FORM -->
              </b-card>
            </b-row>
            <!-- DATATABLE FILTERS -->
            <b-row class="justify-content-between m-0">
              <base-button
                style="height: 38px !important"
                type="vueBtn"
                size="sm"
                @click="
                  openErrorModalWithDifferences({ exportID: exportDetails._id })
                "
              >
                <i class="fas fa-calculator mr-2" /> Calcular Diferencias
              </base-button>

              <base-input
                v-model="searchDataTable"
                addon-left-icon="tim-icons icon-zoom-split"
                placeholder="Filtrar"
                size="sm"
              />
            </b-row>

            <!-- END FILTER DATATABLE ROW -->
            <!-- END ADD BUTTON -->
            <!-- DATA TABLE  -->
            <b-table
              ref="dataTable"
              :current-page="datatableObject.currentPage"
              :options.sync="datatableObject"
              :busy.sync="isBusy"
              :items="items"
              :fields="fields"
              :filter="searchDataTable"
              :sort-by.sync="datatableObject.sortBy"
              :sort-desc.sync="datatableObject.sortDesc"
              :sort-direction="datatableObject.sortDirection"
              :no-sort-reset="true"
              stacked="md"
              show-empty
              small
              :sticky-header="true"
              :no-border-collapse="true"
              responsive
              empty-filtered-text="No hay registros que coincidan con su solicitud"
              empty-text="No hay registros para mostrar"
              @row-clicked="$bvToast.hide()"
            >
              <template #table-busy>
                <div class="text-center text-default my-2">
                  <b-spinner class="align-middle" />
                  <strong>Cargando...</strong>
                </div>
              </template>
              <template #cell(actions)="row">
                <b-button-group class="mx-1">
                  <base-button
                    v-if="rolePrivileges.includes('downloadFile')"
                    v-b-tooltip.hover
                    title="Descargar Documento"
                    class="mr-2"
                    round
                    icon
                    type="vueBtn"
                    @click="
                      $bvToast.hide()
                      downloadFileFunction({
                        url: '/api/file/download',
                        data: row.item,
                        notify: $notify
                      })
                    "
                  >
                    <i class="fas fa-cloud-download-alt" />
                  </base-button>
                  <base-button
                    v-if="rolePrivileges.includes('update')"
                    v-b-tooltip.hover
                    title="Editar"
                    class="mr-2"
                    round
                    icon
                    type="vueBtn"
                    :disabled="
                      disableExportStatus || (comexParam && !row.item.comexFile)
                    "
                    @click="
                      $bvToast.hide()
                      editItem(row.item)
                    "
                  >
                    <i class="tim-icons icon-pencil" />
                  </base-button>
                  <base-button
                    v-b-tooltip.hover
                    :style="noteColor(row.item)"
                    class="mr-1"
                    title="Notas Públicas"
                    round
                    icon
                    type="vueBtn"
                    @click="
                      fileNote = comexParam ? row.item.comexNote : row.item.note
                      $bvToast.hide(row.item._id)
                      $bvToast.show(`${row.item._id}${row.item.createdAt}`)
                    "
                  >
                    <i class="fas fa-clipboard" />
                  </base-button>
                  <b-toast
                    :id="`${row.item._id}${row.item.createdAt}`"
                    variant="warning"
                    solid
                    no-auto-hide
                    static
                  >
                    <template #toast-title>
                      <div class="d-flex flex-grow-1 align-items-baseline">
                        <b-img
                          blank
                          blank-color="#ff5555"
                          class="mr-1"
                          width="12"
                          height="12"
                        />
                        <strong class="mr-auto">Notas Públicas!</strong>
                      </div>
                    </template>
                    <div class="popover-body">
                      <b-form-textarea
                        v-model="fileNote"
                        placeholder="Escribe acá ..."
                      />
                      <base-button
                        v-b-tooltip.hover
                        class="mt-3 float-right"
                        title="Guardar Nota"
                        icon
                        type="vueBtn"
                        @click="editFileNotes(row.item)"
                      >
                        <i class="fas fa-save" />
                      </base-button>
                    </div>
                  </b-toast>
                  <base-button
                    v-if="
                      (row.item.type === 'PL' || row.item.type === 'Fact') &&
                        incorrectData(row.item.items) &&
                        rolePrivileges.includes('updatePackingList')
                    "
                    v-b-tooltip.hover
                    class="mr-2"
                    title="Actualizar sku's no creados"
                    round
                    icon
                    type="vueBtn"
                    @click="
                      $bvToast.hide()
                      updateDocumentItems(row.item)
                    "
                  >
                    <i class="fas fa-redo-alt" />
                  </base-button>
                  <base-button
                    v-if="rolePrivileges.includes('delete')"
                    v-b-tooltip.hover
                    title="Eliminar"
                    class="mr-2"
                    round
                    icon
                    type="vueBtn"
                    :disabled="
                      disableExportStatus || (comexParam && !row.item.comexFile)
                    "
                    @click="
                      $bvToast.hide()
                      deleteItem(row.item)
                    "
                  >
                    <i class="tim-icons icon-trash-simple" />
                  </base-button>
                </b-button-group>
              </template>
              <template #cell(isOkay)="row">
                <base-button
                  v-b-tooltip.hover
                  :title="
                    incorrectData(row.item.items)
                      ? 'Ver información incorrecta'
                      : ''
                  "
                  icon
                  type="gray"
                  :style="
                    incorrectData(row.item.items)
                      ? 'cursor:pointer'
                      : 'cursor:default'
                  "
                  @click="
                    $bvToast.hide()
                    incorrectData(row.item.items)
                      ? openErrorModal(row.item.items)
                      : ''
                  "
                >
                  <i
                    :class="
                      incorrectData(row.item.items)
                        ? 'fas fa-exclamation-triangle'
                        : 'fas fa-check-circle'
                    "
                    :style="
                      incorrectData(row.item.items)
                        ? 'color: #ffc107 ;font-size:22px; left:43%'
                        : 'color: #2dd6b0'
                    "
                  />
                </base-button>
              </template>
              <template #cell(wrongInvoice)="row">
                <b-toast
                  :id="row.item._id"
                  :variant="
                    row.item.filesWithError &&
                      row.item.filesWithError.length > 0
                      ? `warning`
                      : `success`
                  "
                  solid
                  no-auto-hide
                  static
                >
                  <template #toast-title>
                    <div class="d-flex flex-grow-1 align-items-baseline">
                      <b-img
                        blank
                        blank-color="#ff5555"
                        class="mr-1"
                        width="12"
                        height="12"
                      />
                      <strong
                        v-if="
                          row.item.filesWithError &&
                            row.item.filesWithError.length > 0
                        "
                        class="mr-auto"
                      >Listado de Errores</strong>
                      <strong v-else class="mr-auto">Archivo Correcto</strong>
                    </div>
                  </template>
                  <div
                    v-for="(error, i) in row.item.filesWithError"
                    :key="i"
                    class="popover-body"
                  >
                    {{ error.error }} : {{ error.items.join(' , ') }}
                  </div>
                </b-toast>
                <base-button
                  slot="reference"
                  icon
                  type="gray"
                  @click="
                    $bvToast.hide(`${row.item._id}${row.item.createdAt}`)
                    $bvToast.show(row.item._id)
                  "
                >
                  <i
                    :class="
                      row.item.wrongInvoice
                        ? 'fas fa-exclamation-triangle'
                        : 'fas fa-check-circle'
                    "
                    :style="
                      row.item.wrongInvoice
                        ? 'color: #ffc107 ;font-size:22px; left:43%'
                        : 'color: #2dd6b0'
                    "
                  />
                </base-button>
              </template>
            </b-table>
            <!--END  DATA TABLE  -->
            <!-- PAGINATION -->
            <b-row v-if="items.length > 0" class="mt-3">
              <b-col sm="4" md="4" lg="4">
                <b-pagination
                  v-model="datatableObject.currentPage"
                  :total-rows="totalRows"
                  :per-page="datatableObject.perPage"
                  :current-page="datatableObject.currentPage"
                  size="sm"
                  align="fill"
                  class="w-50"
                  first-number
                  last-number
                />
              </b-col>
              <b-col sm="8" md="8" lg="8" class="d-flex justify-content-end">
                <b-form-group
                  :label="`Por página (1-${datatableObject.perPage} de ${totalRows})`"
                  label-for="per-page-select"
                  label-cols-lg="6"
                  label-cols-sm="6"
                  content-cols-sm="6"
                  content-cols-lg="6"
                >
                  <v-select
                    v-model="datatableObject.perPage"
                    :options="pageOptions"
                    style="width: 150px"
                  >
                    <span slot="no-options">
                      ¡No se han encontrado resultados!.
                    </span>
                  </v-select>
                </b-form-group>
              </b-col>
            </b-row>
            <!-- END PAGINATION -->
          </b-container>
        </card>
        <!-- END EXPORT CARD  -->
      </b-col>
    </b-row>
    <!-- END ROW TABLE -->
    <!-- CARD -->
    <!-- ERROR LIST MODAL -->
    <modal-component
      id="errorDataModal"
      :show.sync="errorDataModal"
      :centered="true"
      :show-close="true"
      class="modal-form"
    >
      <template slot="header">
        <h4 id="paclinkListModalLabel" class="modal-title mt-3">
          {{ errorModalLabel }}
        </h4>
      </template>
      <b-table
        ref="dataTableError"
        :current-page="errorCurrentPage"
        :items="errorListItems"
        :fields="errorListFields"
        stacked="md"
        per-page="8"
        show-empty
        small
        responsive
        empty-text="No hay registros para mostrar"
      >
        <template #cell(diferencia)="data">
          <span
            :class="
              data.value === 'Cantidades iguales' ? 'text' : 'text-warning'
            "
          >
            {{ data.value }}</span>
        </template>
      </b-table>
      <b-row>
        <b-col cols="6">
          <b-pagination
            v-model="errorCurrentPage"
            :total-rows="errorListItems.length"
            per-page="8"
            align="fill"
            size="sm"
            class="w-50"
          />
        </b-col>
        <b-col cols="6">
          <base-button
            type="primary"
            size="sm"
            class="float-right"
            @click="
              $service.createExcelFile({
                columns: errorListFields.map(x => ({
                  header: x.label,
                  key: x.label,
                  width: 20
                })),
                rows: errorListItems,
                fileName: 'wrongItems',
                notify: $notify
              })
            "
          >
            <i class="fas fa-download mr-2" /> Exportar
          </base-button>
        </b-col>
      </b-row>
    </modal-component>
    <!-- END PACKING LIST MODAL -->
    <!-- TEMPLATE MODAL -->
    <modal-component
      id="templateModal"
      :show.sync="showTemplateModal"
      :centered="true"
      :show-close="true"
    >
      <template slot="header">
        <h4 id="templateModalLabel" class="modal-title mt-3">
          Descargar Plantilla
        </h4>
      </template>
      <validation-observer ref="formTemplate" v-slot="{ handleSubmit }">
        <b-form
          @submit.stop.prevent="
            handleSubmit(() =>
              downloadFileFunction({
                url: '/api/template/createBrandTemplate',
                data: packingListForm,
                notify: $notify
              })
            )
          "
        >
          <b-row>
            <b-col sm="12" md="12" lg="12" class="my-3">
              <validation-provider
                v-slot="validationContext"
                name="Marca"
                :rules="{ required: true }"
              >
                <select-component
                  v-model="packingListForm.brand"
                  placeholder="Marca"
                  :change-current-page="changeSelectCurrentPage"
                  delete-label="Marca Eliminada"
                  label-option="code"
                  :options="templateListBrands"
                  :select-object="selectBrandTemplateObject"
                  :select-search="selectSearch"
                />
                <span style="color: #ec250d">
                  {{ validationContext.errors[0] }}
                </span>
              </validation-provider>
            </b-col>
          </b-row>
          <b-row class="justify-content-between p-3">
            <base-button
              class="mt-4"
              type="secondary"
              @click="showTemplateModal = false"
            >
              Cancelar
            </base-button>
            <base-button class="mt-4" type="primary" native-type="submit">
              Descargar
            </base-button>
          </b-row>
        </b-form>
      </validation-observer>
    </modal-component>
    <!-- END TEMPLATE MODAL -->
  </div>
</template>
<script>
import { XMLParser } from 'fast-xml-parser'
import { Popover } from 'element-ui'
import ModalComponent from '@/components/base/ModalComponent.vue'
import SelectComponent from '@/components/base/SelectComponent.vue'

export default {
  name: 'ImportDetailPage',
  components: { [Popover.name]: Popover, ModalComponent, SelectComponent },
  layout: 'dashboard',
  data: () => ({
    incompleteDocs: {}, // invoices that do not have all the documents
    exportDetails: {}, // export details
    rolePrivileges: [], // user Privileges
    // SELECT TYPE
    typesArray: [
      { name: 'PL', label: 'Lista de Empaque' },
      { name: 'Fact', label: 'Factura' },
      { name: 'FactPDF', label: 'Factura en PDF' },
      { name: 'CO', label: 'Certificado Origen' },
      { name: 'Otros', label: 'Otros' }
    ],
    selectKey: 'select-type',
    packingListType: ['Linea', 'Especial'],
    // DataTable variables
    searchDataTable: null,
    isBusy: false,
    items: [], // datatable items
    currentPage: 1,
    totalRows: 0,
    dataTableItems: {},
    datatableObject: {
      exportID: null,
      currentPage: 1,
      perPage: 50,
      search: null,
      sortBy: 'createdAt',
      sortDirection: 'desc',
      sortDesc: true
    },
    pageOptions: [10, 50, 100],
    // B-OVERLAY
    variant: 'transparent',
    opacity: 0.55,
    blur: '5px',
    showOverlay: false,
    // FORM
    showPackingListType: false, // SHOW  PACKING LIST TYPE SELECT
    accept: '.pdf, .xls, .xlsx', // file input accept
    form: {
      type: null,
      invoiceNumber: null,
      file: null,
      fileDate: null,
      packingListType: null
    },
    // Disable form
    disableForm: {
      type: false,
      invoiceNumber: true,
      file: true,
      packingListType: false
    },
    fileKey: '',
    buttonName: 'Agregar',
    // ERROR LIST DATA MODAL
    errorDataModal: false,
    errorListItems: [],
    errorListFields: [],
    errorCurrentPage: 1,
    // PACKING LIST TEMPLATE
    packingListTemplate: {},
    errorModalLabel: 'Datos Incorrectos', // error modal label
    // TEMPLATE MODAL
    templateListBrands: [],
    showTemplateModal: false, // template modal
    selectBrandTemplateObject: {
      // packing list form brand object
      currentPage: 1,
      perPage: 10,
      search: null,
      fileName: true,
      userBrands: null
    },
    // PACKING LIST FORM
    packingListForm: {
      brand: null,
      fileName: 'Packing List',
      fileExtension: 'xlsx'
    },
    fileNote: '', // file note
    disableExportStatus: false, // disable (edit, delete, add) if export status is (Proceso exportación, recibido en destino)
    comexParam: false
  }),
  computed: {
    // return dataTable fields (header)
    fields () {
      return [
        // dataTable fields
        {
          key: 'invoiceNumber',
          label: 'Número de Documento',
          sortable: true,
          formatter: item =>
            item ? (item.length > 50 ? `${item.slice(0, 50)}...` : item) : '-'
        },
        {
          key: 'type',
          label: 'Tipo de Documento',
          sortable: true
        },
        this.rolePrivileges.includes('correctData')
          ? {
              key: 'isOkay',
              label: 'Items Correctos'
            }
          : '',
        {
          key: 'wrongInvoice',
          label: 'Errores'
        },
        { key: 'actions', label: 'Opciones' }
      ]
    }
  },
  watch: {
    // DATATABLE CHANGE
    datatableObject: {
      async handler () {
        await this.getItems(this.datatableObject)
      },
      deep: true
    },
    // SEARCH DATATABLE COMPONENT CHANGE
    searchDataTable (value) {
      this.datatableObject.search = value
      this.datatableObject.currentPage = 1
    },
    // SELECT PACKING LIST BRAND CHANGE
    selectBrandTemplateObject: {
      async handler () {
        this.templateListBrands = await this.getSelectItems({
          type: 'POST',
          url: '/api/reference/list/brand',
          data: this.selectBrandTemplateObject
        })
      },
      deep: true
    }
  },
  mounted () {
    window.scrollTo(0, 0)
    const userBrands = this.$auth.user.brand
    this.selectBrandTemplateObject.userBrands = userBrands
  },
  async beforeMount () {
    const { role } = this.$auth.user
    this.comexParam = this.$route.query.comex === 'true'
    this.datatableObject.comexFile = this.comexParam
    this.exportDetails = JSON.parse(sessionStorage.getItem('exportData'))
    const status = ['Cargado', 'Revision doc']
    // VALIDATES EXPORT STATUS TO DISABLE OPTIONS
    this.disableExportStatus =
      !status.includes(this.exportDetails.status) && role.role === 'Cliente'
    // Validates privilege  assigned to the user
    const privileges = role.rolePrivileges.find(x => x.name === 'importModule')
    this.rolePrivileges = privileges ? privileges.actions : []
    this.datatableObject.exportID = this.exportDetails._id
    // Set the initial number of items
    await this.getItems(this.datatableObject)
    this.packingListTemplate = await this.axiosCall({
      method: 'GET',
      url: '/api/template/getOne/Packing List',
      returnData: true
    })
    this.incompleteDocs = await this.axiosCall({
      method: 'GET',
      url: `/api/file/getErrors/${this.exportDetails._id}`,
      returnData: true
    })
  },
  methods: {
    // DELETE ITEM FROM DB
    deleteItem (item) {
      this.$swal({
        title: '¿Estás seguro que deseas Eliminar?',
        text: 'Se eliminarán permanentemente los datos',
        icon: 'question',
        iconHtml: '?',
        showCancelButton: true,
        confirmButtonColor: '#2ca172',
        iconColor: '#7dd3b8',
        cancelButtonText: 'Cancelar',
        confirmButtonText: 'Eliminar'
      }).then((result) => {
        if (result.value) {
          this.axiosCall({
            method: 'DELETE',
            url: `/api/file/delete/${item._id}`,
            data: { ...item },
            updateData: true,
            isPackingList: item.type === 'PL'
          })
        }
      })
    },
    updateDocumentItems (item) {
      this.$swal({
        title: '¿Estás seguro que deseas Actualizar la información?',
        text: 'Se actualizará la información de la lista de empaque',
        icon: 'question',
        iconHtml: '?',
        showCancelButton: true,
        confirmButtonColor: '#2ca172',
        iconColor: '#7dd3b8',
        confirmButtonText: 'Actualizar',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.value) {
          this.axiosCall({
            method: 'PUT',
            url: `/api/file/updateDocumentItems/${item._id}`,
            data: {
              country: this.exportDetails.destinationCountry,
              type: item.type,
              items: JSON.stringify(item.items),
              brand: this.exportDetails.brand,
              packingListType: item.packingListType,
              invoiceNumber: item.invoiceNumber
            },
            updateData: true
          })
        }
      })
    },
    editFileNotes (item) {
      const validNote = this.comexParam
        ? item.comexNote !== this.fileNote
        : item.note !== this.fileNote
      if (validNote) {
        this.axiosCall({
          method: 'PUT',
          url: `/api/file/update/${item._id}`,
          data: {
            ...(this.comexParam
              ? { comexNote: this.fileNote }
              : { note: this.fileNote })
          },
          updateData: true
        })
      } else {
        this.showOverlay = false
        this.$notify({
          message:
            'Modificar  — No has realizado ningún cambio, Nada que modificar',
          type: 'warning'
        })
      }
    },
    /** @param :: getItemsObject = {type, url, notify,data}
     * @description :: GET ALL ITEMS FROM DB
     */
    async getItems (data) {
      this.isBusy = true
      const { totalRows, item } = await this.$axiosService.getItems({
        type: 'POST',
        url: '/api/file',
        notify: this.$notify,
        data
      })
      this.items = item
      this.isBusy = false
      this.totalRows = totalRows
    },

    /** @param :: optionsObject = {method, url, data}
     * @description ::  AXIOS CALL FUNCTION
     */
    async axiosCall (optionsObject) {
      const {
        method,
        url,
        data,
        updateData,
        returnData,
        showOverlay,
        isPackingList
      } = optionsObject
      this.showOverlay = !!(updateData || showOverlay)
      try {
        const response = await this.$axiosService.generalAxiosCall(
          method,
          url,
          data
        )
        this.showOverlay = false
        if (isPackingList) {
          this.exportDetails = await this.$axiosService.generalAxiosCall(
            'GET',
            `/api/export/getOne/${this.exportDetails._id}`
          )
          this.selectKey = `select-type${Math.random()}`
        }
        if (updateData) {
          this.getItems(this.datatableObject)
          this.formreset()
          this.$notify({
            message: response.message,
            type: response.type
          })
          this.incompleteDocs = await this.axiosCall({
            method: 'GET',
            url: `/api/file/getErrors/${this.exportDetails._id}`,
            returnData: true
          })
        }
        if (returnData) {
          return response
        }
      } catch (err) {
        this.showOverlay = false
        this.$notify({
          message: err.message,
          type: err.type
        })
      }
    },
    // GET DATA OF AN ITEM
    editItem (item) {
      const element = this.$refs.exportCard
      const top = element.offsetTop
      window.scrollTo(0, top)
      const { fileName } = item
      this.fileKey = fileName
      this.dataTableItems = {
        ...item,
        file: null
      }
      this.form = {
        ...item,
        file: null
      }
      this.disableForm.file = false
      const types = ['CO', 'FactPDF', 'Otros']
      this.disableForm.invoiceNumber = !types.includes(this.form.type)
      this.disableForm.type = true
      this.disableForm.packingListType = true
      this.buttonName = 'Modificar'
      this.changeFileType(this.form.type, false)
    },
    // open error in items modal
    openErrorModal (item) {
      this.errorModalLabel = 'Datos Incorrectos'
      this.errorListItems = item.filter(x => x.incorrect || x.wrongReference)
      this.errorListFields = []
      const removeKeys = ['incorrect', 'wrongReference', 'wrongQuantity']
      Object.keys(item[0]).forEach((x) => {
        const findKey = removeKeys.find(key => key === x)
        if (!findKey) {
          this.errorListFields.push({
            key: x,
            label: x,
            sortable: true
          })
        }
      })
      this.errorDataModal = true
    },
    // open error in items modal
    async openErrorModalWithDifferences (item) {
      const { exportID } = item
      this.errorModalLabel = 'Diferencias entre factura y lista de empaque'
      const differences = await this.axiosCall({
        method: 'POST',
        url: '/api/file/getDifferences',
        data: { exportID },
        returnData: true,
        showOverlay: true
      })
      this.errorListItems = differences
      this.errorListFields = []
      if (differences && differences.length > 0) {
        Object.keys(differences[0]).forEach((x) => {
          this.errorListFields.push({
            key: x,
            label: x,
            sortable: true,
            formatter: item => item || '-'
          })
        })
        this.errorDataModal = true
      } else {
        this.$notify({
          message: 'No hay información para mostrar',
          type: 'warning'
        })
      }
    },
    // Reset all fields of form
    formreset () {
      this.buttonName = 'Agregar'
      this.form = {}
      this.disableForm.type = false
      this.disableForm.packingListType = false
      this.changeFileType(null)
      this.$nextTick(() => this.$refs.form.reset())
    },
    // submit button
    async submit () {
      this.showOverlay = true
      this.form = this.$service.trimObjects(this.form)
      const typeFile = {
        PL: async () => await this.readPackingList(this.form.file),
        Fact: async () => await this.readInvoiceFile(this.form.file),
        FactPDF: () => [{ quantity: 0 }],
        CO: () => [],
        Otros: () => []
      }
      if (this.buttonName === 'Agregar') {
        const fileData = await typeFile[this.form.type]()
        this.sendFormData({
          method: 'POST',
          url: '/api/file/create',
          type: 'Agregar',
          isPackingList: this.form.type === 'PL',
          fileData
        })
      } else if (
        JSON.stringify(this.dataTableItems) !== JSON.stringify(this.form)
      ) {
        const { _id } = this.form
        const fileData = await typeFile[this.form.type]()
        this.sendFormData({
          method: 'PUT',
          url: `/api/file/update/${_id}`,
          type: 'Modificar',
          fileData
        })
      } else {
        this.showOverlay = false
        this.$notify({
          message:
            'Modificar  — No has realizado ningún cambio, Nada que modificar',
          type: 'warning'
        })
      }
    },
    // downloadFileFunction
    async downloadFileFunction (object) {
      const { url, data, notify } = object
      this.showOverlay = true
      await this.$axiosService.downloadFile({ url, data, notify })
      this.showTemplateModal = false
      this.showOverlay = false
    },
    // RETURN INVOICE NUMBER OF PACKING LIST
    async readPackingListInvoiceNumber (file) {
      const invoiceNumber = await this.$service.getExcelJSON({
        file,
        options: {
          type: 'binary'
        },
        readCellAddres: 'F7'
      })
      return invoiceNumber[0]
    },
    // read packing List excel file (template)
    async readPackingList (file) {
      const { header, translateColumns, dataType } = this.packingListTemplate
      // const fileDate = await this.$service.getExcelJSON({
      //   file,
      //   options: {
      //     type: 'binary',
      //     cellDates: true
      //   },
      //   readCellAddres: 'F4'
      // })
      // this.form.fileDate = fileDate[0]
      const excelData = await this.$service.getExcelJSON({
        file,
        headers: {
          blankrows: false,
          raw: false,
          defval: null,
          range: 11,
          header
        },
        options: {
          type: 'binary'
        }
      })
      const filterData = []
      if (header) {
        excelData.forEach((x) => {
          let cretedData = {}
          header.forEach((header, index) => {
            cretedData[translateColumns[index]] = dataType[index].includes(
              'number'
            )
              ? Number(x[header])
              : x[header]

            if (!cretedData[translateColumns[index]]) {
              cretedData = {}
            }
          })
          if (JSON.stringify(cretedData) !== '{}') {
            filterData.push(cretedData)
          }
        })
      } else {
        this.$notify({
          message: `La plantilla para agregar una Lista de Empaque aún no ha sido creada,
          por favor creela o comuníquese con el administrador`,
          type: 'warning'
        })
      }
      return filterData
    },
    // RETURN INVOICE NUMBER IN FORM FROM INVOICE FILE
    async readInvoiceNumber (file) {
      const xmlFile = await this.$service.getXMLFile({ file })
      return xmlFile.AttachedDocument['cbc:ParentDocumentID']
    },
    // read invoice xml file
    async readInvoiceFile (file) {
      const xmlFile = await this.$service.getXMLFile({ file })
      this.form.fileDate = xmlFile.AttachedDocument['cbc:IssueDate']
      const parser = new XMLParser()
      const invoiceParser = parser.parse(
        xmlFile.AttachedDocument['cac:Attachment']['cac:ExternalReference'][
          'cbc:Description'
        ]
      )
      const secondKey = Object.keys(invoiceParser)[1]
      const itemKey = Object.keys(invoiceParser[secondKey]).find(
        key =>
          Array.isArray(invoiceParser[secondKey][key]) && key.includes('cac')
      )
      const data = invoiceParser[secondKey][itemKey].map((x) => {
        const item = x['cac:Item']
        const price = x['cac:Price']
        const sellerReference = item['cac:SellersItemIdentification']
          ? item['cac:SellersItemIdentification']['cbc:ID']
          : ''
        const standarReference = item['cac:StandardItemIdentification']
          ? item['cac:StandardItemIdentification']['cbc:ID']
          : ''
        return {
          description: item['cbc:Description'],
          reference: sellerReference || standarReference,
          price: Number(price['cbc:PriceAmount']),
          quantity: Number(price['cbc:BaseQuantity'])
        }
      })
      return data
    },
    // Change the accepted file type
    changeFileType (value, clearFile = true) {
      const acceptValue = {
        PL: '.xls, .xlsx',
        Fact: '.xml',
        FactPDF: '.pdf',
        CO: '.pdf',
        Otros: '/*'
      }
      this.accept = acceptValue[value] || '/*'
      this.form.file = clearFile ? null : this.form.file
      this.form.invoiceNumber = clearFile ? null : this.form.invoiceNumber
      if (this.buttonName === 'Agregar') {
        this.disableForm.file = !value
        const types = ['CO', 'FactPDF', 'Otros']
        this.disableForm.invoiceNumber = !types.includes(this.form.type)
      }
      this.showPackingListType = value === 'PL'
    },
    // CHAGE FILE
    async changeFileInput (value) {
      if (value && this.form.type) {
        const invoiceValue =
          this.buttonName === 'Agregar' ? '' : this.form.invoiceNumber
        const invoiceNumber = {
          PL: async () => await this.readPackingListInvoiceNumber(value),
          Fact: async () => await this.readInvoiceNumber(value),
          FactPDF: () => invoiceValue,
          CO: () => invoiceValue,
          Otros: () => invoiceValue
        }
        this.form.invoiceNumber = await invoiceNumber[this.form.type]()
      }
    },
    /** Send form data to backend
     * @param sendObject :: {fileData, type, url, method}
     */
    sendFormData (sendObject) {
      const { fileData, type, url, method } = sendObject
      // esta validación del tipo de archivo es provicional hasta almacenar datos de de factura
      // o del certificado de origen
      const fileArray = ['CO', 'Otros', 'FactPDF']

      if (
        (fileData && fileData.length > 0) ||
        fileArray.includes(this.form.type)
      ) {
        this.axiosCall({
          method,
          url,
          data: this.$service.formDataAppend({
            ...this.form,
            fileData: JSON.stringify(fileData),
            exportID: this.exportDetails._id,
            country: JSON.stringify(this.exportDetails.destinationCountry),
            brand: JSON.stringify(this.exportDetails.brand),
            comexFile: this.comexParam
          }),
          updateData: true
        })
      } else {
        this.$notify({
          message: `${type} Archivo  — No existen datos en el archivo, por favor seleccione otro archivo`,
          type: 'warning'
        })
        this.showOverlay = false
      }
    },
    /** RETURNS TRUE IF AT LEAST 1 ELEMENT IS WRONG */
    incorrectData (items) {
      return items.find(x => x.incorrect === true || x.wrongReference === true)
    },
    getInvoice () {
      return this.incompleteDocs.files
        ? this.incompleteDocs.files.join(' , ')
        : ''
    },
    // change current page of select
    changeSelectCurrentPage (type, object) {
      if (type === 'add') {
        object.currentPage += 1
      } else {
        object.currentPage -= 1
      }
    },
    // search method for paginated combos
    selectSearch (query, object) {
      object.search = query
      object.currentPage = 1
    },
    /** @param :: getItemsObject = { type,url data:{
      currentPage,
      perPage
      search
      }}
     * @description ::  allows to fill paginated selection combos
     */
    async getSelectItems (getItemsObject) {
      const { data, type, url } = getItemsObject
      const { item } = await this.$axiosService.getItems({
        type,
        url,
        data,
        notify: this.$notify
      })
      return item
    },
    /**
     * @param :: option :: Option name of select
     * @description :: validates the options that can be selected in the file type
     */
    selectableType (option) {
      let selectableOptions = option
      if (
        (!this.incompleteDocs.packingList ||
          this.exportDetails.orderStatus !== 'Aprobado') &&
        !this.comexParam
      ) {
        selectableOptions = option.name.includes('PL')
      } else if (this.comexParam) {
        selectableOptions = option.name.includes('Otros')
      }
      return selectableOptions
    },
    noteColor (row) {
      const fileNote = this.comexParam ? row.comexNote : row.note
      return fileNote && fileNote !== '' ? 'background: #46ad9e;' : 'background: #293846'
    }
  }
}
</script>
<style>
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1) !important;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
.b-toast {
  position: absolute;
  z-index: 100;
}
.toast-body {
  padding: 3px;
  max-height: 150px !important;
  overflow-y: auto;
  width: 200px !important;
}
</style>
<style scoped>
.table-responsive {
  min-height: 250px;
}
</style>
