<template>
  <div>
    <b-overlay
      id="overlay-background"
      no-wrap
      :show="showOverlay"
      :variant="variant"
      :opacity="opacity"
      :blur="blur"
      rounded="sm"
      z-index="20000"
    />
    <!-- ROW TABLE -->
    <b-row>
      <b-col cols="12">
        <!-- CARD -->
        <card card-body-classes="table-full-width">
          <h4 slot="header" class="card-title">
            Módulo de Exportación
          </h4>
          <!-- DATA TABLE  -->
          <b-container fluid>
            <!-- DATATABLE FILTERS -->
            <b-row>
              <b-col sm="6" md="6" lg="3" class="my-1">
                <b-form-group
                  label="Filtrar"
                  label-for="filter-input"
                  label-align-sm="left"
                  class="mb-0"
                >
                  <base-input
                    v-model="searchDataTable"
                    addon-left-icon="tim-icons icon-zoom-split"
                    placeholder="Filtrar"
                    size="sm"
                  />
                </b-form-group>
              </b-col>
              <b-col sm="6" md="6" lg="3" class="my-1">
                <b-form-group
                  label="Fecha Inicio"
                  label-align-sm="left"
                  label-for="per-page-select"
                >
                  <date-picker
                    v-model="datatableObject.startDate"
                    placeholder="Fecha"
                    value-type="format"
                    format="DD-MM-YYYY"
                    :popup-style="{ top: '100%', left: 0 }"
                    :append-to-body="false"
                  />
                </b-form-group>
              </b-col>
              <b-col sm="6" md="6" lg="3" class="my-1">
                <b-form-group
                  label="Fecha Finalización"
                  label-align-sm="left"
                  label-for="per-page-select"
                >
                  <date-picker
                    v-model="datatableObject.endDate"
                    placeholder="Fecha"
                    value-type="format"
                    format="DD-MM-YYYY"
                    :popup-style="{ top: '100%', left: 0 }"
                    :append-to-body="false"
                  />
                </b-form-group>
              </b-col>
              <b-col sm="6" md="6" lg="3" class="my-1">
                <select-component
                  v-model="datatableObject.brand"
                  placeholder="Marca"
                  :change-current-page="changeSelectCurrentPage"
                  delete-label="Marca Eliminada"
                  label-option="code"
                  :options="dataTableBrands"
                  :select-object="dataTableBrandObject"
                  :select-search="selectSearch"
                />
              </b-col>
              <b-col sm="6" md="6" lg="3" class="my-1">
                <select-component
                  v-model="datatableObject.originCountry"
                  placeholder="País de Origen"
                  :change-current-page="changeSelectCurrentPage"
                  delete-label="País Eliminado"
                  label-option="code"
                  :options="dataTableOCountry"
                  :select-object="dataTableOCountryObject"
                  :select-search="selectSearch"
                />
              </b-col>
              <b-col sm="6" md="6" lg="3" class="my-1">
                <select-component
                  v-model="datatableObject.destinationCountry"
                  placeholder="País Destino"
                  :change-current-page="changeSelectCurrentPage"
                  delete-label="País Eliminado"
                  label-option="code"
                  :options="dataTableDCountry"
                  :select-object="dataTableDCountryObject"
                  :select-search="selectSearch"
                />
              </b-col>
              <b-col sm="6" md="6" lg="3" class="my-1">
                <select-component
                  v-model="datatableObject.status"
                  reduce-option="reference"
                  placeholder="Estatus"
                  :change-current-page="changeSelectCurrentPage"
                  delete-label="Estatus Eliminados"
                  label-option="reference"
                  :options="statusArray"
                  :select-object="dataTableStatusObject"
                  :select-search="selectSearch"
                />
              </b-col>
              <b-col sm="6" md="6" lg="3">
                <base-button
                  class="mt-4"
                  type="primary"
                  @click="
                    datatableObject = {
                      status: null,
                      brand: null,
                      userBrands: $auth.user.brand || [],
                      originCountry: null,
                      destinationCountry: null,
                      startDate: null,
                      endDate: null,
                      currentPage: 1,
                      perPage: 50,
                      search: null,
                      sortBy: 'createdAt',
                      sortDirection: 'desc',
                      sortDesc: true
                    }
                  "
                >
                  <i class="tim-icons icon-trash-simple mr-2" /> Limpiar
                </base-button>
              </b-col>
            </b-row>

            <!-- END FILTER DATATABLE ROW -->
            <!-- ADD BUTTON -->
            <b-row v-if="rolePrivileges.includes('create')" class="mb-3 mt-3">
              <b-col
                sm="12"
                md="12"
                lg="12"
                class="d-flex justify-content-end my-1"
              >
                <base-button class="btn" type="vueBtn" @click="addItem()">
                  AGREGAR
                </base-button>
                <!-- END BUTTON -->
              </b-col>
            </b-row>
            <!-- END ADD BUTTON -->
            <!-- DATA TABLE  -->
            <b-table
              ref="dataTable"
              :current-page="datatableObject.currentPage"
              :options.sync="datatableObject"
              :busy.sync="isBusy"
              :items="items"
              :fields="fields"
              :filter="searchDataTable"
              :sort-by.sync="datatableObject.sortBy"
              :sort-desc.sync="datatableObject.sortDesc"
              :sort-direction="datatableObject.sortDirection"
              :no-sort-reset="true"
              :sticky-header="true"
              :no-border-collapse="true"
              stacked="md"
              show-empty
              small
              responsive
              empty-filtered-text="No hay registros que coincidan con su solicitud"
              empty-text="No hay registros para mostrar"
              @row-clicked="$bvToast.hide()"
            >
              <template #table-busy>
                <div class="text-center text-default my-2">
                  <b-spinner class="align-middle" />
                  <strong>Cargando...</strong>
                </div>
              </template>
              <template #cell(incorrect)="row">
                <b-toast
                  :id="row.item._id"
                  :variant="
                    (row.item.filesWithError &&
                      row.item.filesWithError.length > 0) ||
                      row.item.empty
                      ? `warning`
                      : `success`
                  "
                  solid
                  no-auto-hide
                  static
                >
                  <template #toast-title>
                    <div class="d-flex flex-grow-1 align-items-baseline">
                      <b-img
                        blank
                        blank-color="#ff5555"
                        class="mr-1"
                        width="12"
                        height="12"
                      />
                      <strong
                        v-if="
                          (row.item.filesWithError &&
                            row.item.filesWithError.length > 0) ||
                            row.item.empty
                        "
                        class="mr-auto"
                      >Listado de Errores</strong>
                      <strong v-else class="mr-auto">Archivo Correcto</strong>
                    </div>
                  </template>
                  <div v-if="row.item.empty" class="popover-body">
                    No hay archivos importados
                  </div>
                  <div
                    v-for="(error, i) in row.item.filesWithError"
                    v-else
                    :key="i"
                    class="popover-body"
                  >
                    {{ error.error }} : {{ error.items.join(' , ') }}
                  </div>
                </b-toast>
                <base-button
                  slot="reference"
                  icon
                  type="gray"
                  @click="
                    $bvToast.show(row.item._id)
                    $bvToast.hide(`${row.item._id}${row.item.createdAt}`)
                  "
                >
                  <i
                    :class="
                      row.item.incorrect
                        ? 'fas fa-exclamation-triangle'
                        : 'fas fa-check-circle'
                    "
                    :style="
                      row.item.incorrect
                        ? 'color: #ffc107 ;font-size:22px; left:43%'
                        : 'color: #2dd6b0'
                    "
                  />
                </base-button>
              </template>
              <template #cell(actions)="row">
                <b-button-group class="mx-1">
                  <base-button
                    v-if="rolePrivileges.includes('updateExportDetail')"
                    v-b-tooltip.hover
                    title="Importar/Editar Documentos"
                    class="mr-1"
                    round
                    icon
                    type="vueBtn"
                    @click="
                      $bvToast.hide()
                      showExportDetail(row.item)
                    "
                  >
                    <i class="fas fa-eye" />
                  </base-button>
                  <base-button
                    v-if="rolePrivileges.includes('update') && !comexParam"
                    v-b-tooltip.hover
                    title="Editar Exportación"
                    class="mr-1"
                    round
                    icon
                    type="vueBtn"
                    @click="
                      $bvToast.hide()
                      editItem(row.item)
                    "
                  >
                    <i class="tim-icons icon-pencil" />
                  </base-button>
                  <base-button
                    v-b-tooltip.hover
                    :style="noteColor(row.item)"
                    class="mr-1"
                    title="Notas Públicas"
                    round
                    icon
                    type="vueBtn"
                    @click="
                      exportNote = comexParam
                        ? row.item.comexNote
                        : row.item.note
                      $bvToast.hide(row.item._id)
                      $bvToast.show(`${row.item._id}${row.item.createdAt}`)
                    "
                  >
                    <i class="fas fa-clipboard" />
                  </base-button>
                  <b-toast
                    :id="`${row.item._id}${row.item.createdAt}`"
                    variant="warning"
                    solid
                    no-auto-hide
                    static
                  >
                    <template #toast-title>
                      <div class="d-flex flex-grow-1 align-items-baseline">
                        <b-img
                          blank
                          blank-color="#ff5555"
                          class="mr-1"
                          width="12"
                          height="12"
                        />
                        <strong class="mr-auto">Notas Públicas!</strong>
                      </div>
                    </template>
                    <div class="popover-body">
                      <b-form-textarea
                        v-model="exportNote"
                        placeholder="Escribe acá ..."
                      />
                      <base-button
                        v-b-tooltip.hover
                        class="mt-3 float-right"
                        title="Guardar Nota"
                        icon
                        type="vueBtn"
                        @click="editExportNotes(row.item)"
                      >
                        <i class="fas fa-save" />
                      </base-button>
                    </div>
                  </b-toast>
                  <base-button
                    v-if="rolePrivileges.includes('updateStatus')"
                    v-b-tooltip.hover
                    class="mr-1"
                    title="Actualizar Estatus"
                    round
                    icon
                    type="vueBtn"
                    @click="
                      $bvToast.hide()
                      editStatus(row.item)
                    "
                  >
                    <i class="fas fa-wrench" />
                  </base-button>
                  <base-button
                    v-if="rolePrivileges.includes('delete') && !comexParam"
                    v-b-tooltip.hover
                    title="Eliminar"
                    class="mr-1"
                    round
                    icon
                    type="vueBtn"
                    @click="
                      $bvToast.hide()
                      deleteItem(row.item)
                    "
                  >
                    <i class="tim-icons icon-trash-simple" />
                  </base-button>
                </b-button-group>
              </template>
            </b-table>
            <!--END  DATA TABLE  -->
            <!-- PAGINATION -->
            <b-row v-if="items.length > 0" class="mt-3">
              <b-col sm="4" md="4" lg="4">
                <b-pagination
                  v-model="datatableObject.currentPage"
                  :total-rows="totalRows"
                  :per-page="datatableObject.perPage"
                  :current-page="datatableObject.currentPage"
                  size="sm"
                  align="fill"
                  class="w-50"
                  first-number
                  last-number
                />
              </b-col>
              <b-col sm="8" md="8" lg="8" class="d-flex justify-content-end">
                <b-form-group
                  :label="`Por página (1-${datatableObject.perPage} de ${totalRows})`"
                  label-for="per-page-select"
                  label-cols-lg="6"
                  label-cols-sm="6"
                  content-cols-sm="6"
                  content-cols-lg="6"
                >
                  <v-select
                    v-model="datatableObject.perPage"
                    :options="pageOptions"
                    style="width: 150px"
                  >
                    <span slot="no-options">
                      ¡No se han encontrado resultados!.
                    </span>
                  </v-select>
                </b-form-group>
              </b-col>
            </b-row>
            <!-- END PAGINATION -->
          </b-container>
        </card>
        <!-- END CARD  -->
      </b-col>
    </b-row>
    <!-- END ROW TABLE -->
    <!-- CARD -->
    <!-- FORM MODAL -->
    <modal-component
      id="modal"
      :show.sync="showModal"
      :centered="true"
      :show-close="true"
      class="modal-form"
    >
      <template slot="header">
        <h4 id="formModalLabel" class="modal-title mt-3">
          Importar Archivos
        </h4>
      </template>
      <validation-observer ref="form" v-slot="{ handleSubmit }">
        <b-form @submit.stop.prevent="handleSubmit(submit)">
          <b-row>
            <b-col sm="4" md="4" lg="4" class="my-3">
              <validation-provider
                v-slot="validationContext"
                name="País Origen"
                :rules="{ required: true }"
              >
                <select-component
                  v-model="form.originCountry"
                  :disabled="formDisabled.originCountry"
                  placeholder="País de Origen"
                  :change-current-page="changeSelectCurrentPage"
                  delete-label="País Eliminado"
                  label-option="code"
                  :options="originCountries"
                  :select-object="selectOriginCountryObject"
                  :select-search="selectSearch"
                />
                <span style="color: #ec250d">
                  {{ validationContext.errors[0] }}
                </span>
              </validation-provider>
            </b-col>
            <b-col sm="4" md="4" lg="4" class="my-3">
              <validation-provider
                v-slot="validationContext"
                name="País Destino"
                :rules="{ required: true }"
              >
                <select-component
                  v-model="form.destinationCountry"
                  :disabled="formDisabled.destinationCountry"
                  placeholder="País Destino"
                  :change-current-page="changeSelectCurrentPage"
                  delete-label="País Eliminado"
                  label-option="code"
                  :options="destinationCountries"
                  :select-object="selectDestinationCountryObject"
                  :select-search="selectSearch"
                />
                <span style="color: #ec250d">
                  {{ validationContext.errors[0] }}
                </span>
              </validation-provider>
            </b-col>
            <b-col sm="4" md="4" lg="4" class="my-3">
              <validation-provider
                v-slot="validationContext"
                name="Marca"
                :rules="{ required: true }"
              >
                <select-component
                  v-model="form.brand"
                  :disabled="formDisabled.brand"
                  placeholder="Marca"
                  :change-current-page="changeSelectCurrentPage"
                  delete-label="Marca Eliminada"
                  label-option="code"
                  :options="brands"
                  :select-object="selectBrandObject"
                  :select-search="selectSearch"
                />
                <span style="color: #ec250d">
                  {{ validationContext.errors[0] }}
                </span>
              </validation-provider>
            </b-col>
            <b-col sm="6" md="6" lg="6" class="my-3">
              <validation-provider
                v-slot="validationContext"
                name="Nro de Factura"
                :rules="{ required: true }"
              >
                <base-input
                  v-model="form.exportNumber"
                  type="text"
                  label="Nro de Factura"
                  placeholder="Nro de Factura"
                  :error="validationContext.errors[0]"
                  :class="
                    $service.getValidationState(validationContext)
                      ? 'has-success'
                      : 'has-danger'
                  "
                />
              </validation-provider>
            </b-col>
            <b-col sm="6" md="6" lg="6" class="my-3">
              <validation-provider
                v-slot="validationContext"
                name="Fecha de Exportación"
                :rules="{ required: true }"
              >
                <label>Fecha</label>
                <date-picker
                  v-model="form.exportDate"
                  placeholder="Fecha Exportación"
                  value-type="format"
                  format="DD-MM-YYYY"
                  :popup-style="{ top: '100%', left: 0 }"
                  :append-to-body="false"
                  :disabled="true"
                />
                <span style="color: #ec250d">
                  {{ validationContext.errors[0] }}
                </span>
              </validation-provider>
            </b-col>
          </b-row>
          <b-row class="justify-content-between p-3">
            <base-button
              class="mt-4"
              type="secondary"
              @click="
                formreset()
                showModal = false
              "
            >
              Cancelar
            </base-button>
            <base-button class="mt-4" type="primary" native-type="submit">
              {{ buttonName }}
            </base-button>
          </b-row>
        </b-form>
      </validation-observer>
    </modal-component>
    <!-- END FORM MODAL -->

    <!-- STATUS MODAL -->
    <modal-component
      id="statusModal"
      :show.sync="statusModal"
      :centered="true"
      :show-close="true"
    >
      <template slot="header">
        <h4 id="statusModalLabel" class="modal-title mt-3">
          Actualizar Estatus de Exportación
        </h4>
      </template>
      <validation-observer ref="formStatus" v-slot="{ handleSubmit }">
        <b-form
          @submit.stop.prevent="
            handleSubmit(() =>
              updateStatus({
                updateData: selectedRow,
                updateItems: {
                  status: selectStatus.reference
                }
              })
            )
          "
        >
          <b-row>
            <b-col sm="12" md="12" lg="12" class="my-3">
              <validation-provider
                v-slot="validationContext"
                name="Estatus"
                :rules="{ required: true }"
              >
                <select-component
                  v-model="selectStatus"
                  placeholder="Estatus"
                  :change-current-page="changeSelectCurrentPage"
                  delete-label="Estatus Eliminados"
                  label-option="reference"
                  :options="statusArrayForm"
                  :select-object="formStatusObject"
                  :select-search="selectSearch"
                  :disabled="disabledSelecStatus"
                />
                <span style="color: #ec250d">
                  {{ validationContext.errors[0] }}
                </span>
              </validation-provider>
            </b-col>
          </b-row>
          <b-row class="justify-content-between p-3">
            <base-button
              class="mt-4"
              type="secondary"
              @click="statusModal = false"
            >
              Cancelar
            </base-button>
            <base-button
              class="mt-4"
              type="primary"
              native-type="submit"
              :disabled="disabledSelecStatus"
            >
              Actualizar
            </base-button>
          </b-row>
        </b-form>
      </validation-observer>
    </modal-component>
    <!-- END STATUS MODAL -->
    <!-- CHAT COMPONENT -->
    <ChatComponent v-if="chatRoom" :key="chatRoom ? chatRoom._id:''" :email="$auth.user.email" :chat-room="chatRoom" />
    <!-- END CHAT COMPONENT -->
  </div>
</template>
<script>
import moment from 'moment'
import DatePicker from 'vue2-datepicker'
import { Popover } from 'element-ui'
import ModalComponent from '@/components/base/ModalComponent.vue'
import SelectComponent from '@/components/base/SelectComponent.vue'
import ChatComponent from '@/components/base/ChatComponent.vue'
import socket from '~/plugins/services/socket.js'

export default {
  name: 'ImportPage',
  components: {
    [Popover.name]: Popover,
    ModalComponent,
    DatePicker,
    SelectComponent,
    ChatComponent
  },
  async beforeRouteUpdate (to, from, next) {
    // Call the API query method when the URL changes
    this.chatRoom && this.$service.leaveChats({ chatRoom: this.chatRoom._id, email: this.$auth.user.email })

    this.comexParam = to.query.comex === 'true'
    this.chatRoom = await this.$axiosService.showChatRoom({
      roomName: this.comexParam ? 'ComexModule' : 'ExportModule',
      email: this.$auth.user.email
    })
    next()
  },
  beforeRouteLeave (to, from, next) {
    this.chatRoom && this.$service.leaveChats({ chatRoom: this.chatRoom._id, email: this.$auth.user.email })
    next()
  },
  layout: 'dashboard',
  data: () => ({
    chatRoom: null,
    selectedRow: {},
    // SELECT STATUS
    rolePrivileges: [],
    statusModal: false,
    selectStatus: null,
    // SELECTION FIELDS
    brands: [],
    originCountries: [],
    destinationCountries: [],
    selectOriginCountryObject: {
      // SELECT ORIGIN COUNTRY OBJECT
      currentPage: 1,
      perPage: 10,
      search: null,
      userCountries: null
    },
    selectDestinationCountryObject: {
      // SELECT DESTINATION COUNTRY OBJECT
      currentPage: 1,
      perPage: 10,
      search: null,
      userCountries: null
    },
    selectBrandObject: {
      // BRAND OBJECT
      currentPage: 1,
      perPage: 10,
      search: null,
      userBrands: null
    },
    // DataTable variables
    searchDataTable: null,
    isBusy: false,
    items: [], // datatable items
    fields: [
      // dataTable fields
      {
        key: 'originCountry.code',
        label: 'Origen',
        sortable: true,
        formatter: item => item || '-'
      },
      {
        key: 'destinationCountry.code',
        label: 'Destino',
        sortable: true,
        formatter: item => item || '-'
      },
      {
        key: 'brand.code',
        label: 'Marca',
        sortable: true,
        formatter: item => item || '-'
      },
      {
        key: 'exportNumber',
        label: 'Nro Factura',
        sortable: true,
        formatter: item =>
          item ? (item.length > 10 ? `${item.slice(0, 10)}...` : item) : '-'
      },
      {
        key: 'exportDate',
        label: 'Fecha Exportación',
        sortable: true,
        formatter: item =>
          item ? moment(item).utc().format('DD-MM-YYYY') : '-'
      },
      {
        key: 'orderStatus',
        label: 'Estatus Abastecimiento',
        sortable: true,
        formatter: item => item || '-'
      },
      {
        key: 'status',
        label: 'Estatus Exportación',
        sortable: true,
        formatter: item =>
          item ? (item.length > 10 ? `${item.slice(0, 10)}...` : item) : '-'
      },
      {
        key: 'incorrect',
        label: 'Errores',
        sortable: false
      },
      { key: 'actions', label: 'Opciones' }
    ],
    currentPage: 1,
    totalRows: 0,
    dataTableItems: {},
    datatableObject: {
      status: null,
      brand: null,
      userBrands: null,
      originCountry: null,
      destinationCountry: null,
      startDate: null,
      endDate: moment().format('DD-MM-YYYY'),
      currentPage: 1,
      perPage: 50,
      search: null,
      sortBy: 'createdAt',
      sortDirection: 'desc',
      sortDesc: true
    },
    pageOptions: [10, 50, 100, 500, 1000],
    // B-OVERLAY
    variant: 'transparent',
    opacity: 0.55,
    blur: '5px',
    showOverlay: false,
    // FORM MODAL
    showModal: false,
    // FORM
    form: {
      originCountry: null,
      destinationCountry: null,
      brand: null,
      type: null,
      exportDate: moment().format('DD-MM-YYYY'),
      exportNumber: null
    },
    formDisabled: {
      originCountry: false,
      destinationCountry: false,
      brand: false
    },
    buttonName: 'Agregar',
    // DATA TABLE FILTERS SELECTS
    dataTableBrands: [],
    dataTableBrandObject: {
      // datatable filter form brand object
      currentPage: 1,
      perPage: 10,
      search: null,
      userBrands: null
    },
    dataTableOCountry: [],
    dataTableOCountryObject: {
      // datatable filter form country object
      currentPage: 1,
      perPage: 10,
      search: null,
      userCountries: null
    },
    dataTableDCountry: [],
    dataTableDCountryObject: {
      // datatable filter form country object
      currentPage: 1,
      perPage: 10,
      search: null,
      userCountries: null
    },
    dataTableStatusObject: {
      // datatable filter form status object
      currentPage: 1,
      perPage: 10,
      search: null
    },
    statusArray: [],
    disabledSelecStatus: false,
    // FORM STATUS
    statusArrayForm: [],
    formStatusObject: {
      // FORM STATUS OBJECT
      currentPage: 1,
      perPage: 10,
      search: null
    },
    // form notes
    exportNote: '',
    comexParam: false
  }),
  watch: {
    // DATATABLE CHANGE
    datatableObject: {
      async handler () {
        await this.getItems(this.datatableObject)
      },
      deep: true
    },
    // SEARCH DATATABLE COMPONENT CHANGE
    searchDataTable (value) {
      this.datatableObject.search = value
      this.datatableObject.currentPage = 1
    },
    // SELECT ORIGINCOUNTRY CHANGE
    selectOriginCountryObject: {
      async handler () {
        this.originCountries = await this.getSelectItems({
          type: 'POST',
          url: '/api/reference/list/country',
          data: this.selectOriginCountryObject
        })
      },
      deep: true
    },
    // SELECT DATATABLE ORIGINCOUNTRY CHANGE
    dataTableOCountryObject: {
      async handler () {
        this.dataTableOCountry = await this.getSelectItems({
          type: 'POST',
          url: '/api/reference/list/country',
          data: this.dataTableOCountryObject
        })
      },
      deep: true
    },
    dataTableStatusObject: {
      async handler () {
        this.statusArray = await this.getSelectItems({
          type: 'POST',
          url: '/api/reference/list/exportStatus',
          data: this.dataTableStatusObject
        })
      },
      deep: true
    },
    formStatusObject: {
      async handler () {
        this.statusArrayForm = await this.getSelectItems({
          type: 'POST',
          url: '/api/reference/list/exportStatus',
          data: this.formStatusObject
        })
      },
      deep: true
    },
    // SELECT DESTINATIONCOUNTRY CHANGE
    selectDestinationCountryObject: {
      async handler () {
        this.destinationCountries = await this.getSelectItems({
          type: 'POST',
          url: '/api/reference/list/country',
          data: this.selectDestinationCountryObject
        })
      },
      deep: true
    },
    // SELECT DATATABLE DESTINATIONCOUNTRY CHANGE
    dataTableDCountryObject: {
      async handler () {
        this.dataTableDCountry = await this.getSelectItems({
          type: 'POST',
          url: '/api/reference/list/country',
          data: this.dataTableDCountryObject
        })
      },
      deep: true
    },
    // SELECT BRAND CHANGE
    selectBrandObject: {
      async handler () {
        this.brands = await this.getSelectItems({
          type: 'POST',
          url: '/api/reference/list/brand',
          data: this.selectBrandObject
        })
      },
      deep: true
    },
    // SELECT DATATABLE BRANDS FILTER
    dataTableBrandObject: {
      async handler () {
        this.dataTableBrands = await this.getSelectItems({
          type: 'POST',
          url: '/api/reference/list/brand',
          data: this.dataTableBrandObject
        })
      },
      deep: true
    }
  },
  async mounted () {
    this.comexParam = this.$route.query.comex === 'true'
    window.scrollTo(0, 0)
    // Validates countries and brands assigned to the user
    const privileges = this.$auth.user.role.rolePrivileges.find(
      x => x.name === 'importModule'
    )
    this.rolePrivileges = privileges ? privileges.actions : []
    const userBrands = this.$auth.user.brand
    const userCountries = this.$auth.user.country
    this.selectOriginCountryObject.userCountries = userCountries
    this.dataTableOCountryObject.userCountries = userCountries
    this.selectDestinationCountryObject.userCountries = userCountries
    this.dataTableDCountryObject.userCountries = userCountries
    this.datatableObject.userBrands = userBrands
    this.dataTableBrandObject.userBrands = userBrands
    this.selectBrandObject.userBrands = userBrands
    // Set the initial number of items
    this.getItems(this.datatableObject)
    this.chatRoom = await this.$axiosService.showChatRoom({
      roomName: this.comexParam ? 'ComexModule' : 'ExportModule',
      email: this.$auth.user.email
    })
  },
  methods: {
    /** @param :: getItemsObject = {type, url, notify,data}
     * @description :: GET ALL ITEMS FROM DB
     */
    async getItems (data) {
      this.isBusy = true
      const { totalRows, item } = await this.$axiosService.getItems({
        type: 'POST',
        url: '/api/export',
        notify: this.$notify,
        data
      })
      this.items = item
      this.isBusy = false
      this.totalRows = totalRows
    },
    // DELETE ITEM FROM DB
    deleteItem (item) {
      this.$swal({
        title: '¿Estás seguro que deseas Eliminar?',
        text: 'Se eliminarán permanentemente los datos',
        icon: 'question',
        iconHtml: '?',
        showCancelButton: true,
        confirmButtonColor: '#2ca172',
        iconColor: '#7dd3b8',
        cancelButtonText: 'Cancelar',
        confirmButtonText: 'Eliminar'
      }).then((result) => {
        if (result.value) {
          this.axiosCall({
            method: 'DELETE',
            url: `/api/export/delete/${item._id}`,
            data: { ...item }
          })
        }
      })
    },
    /** @param :: optionsObject = {method, url, data}
     * @description ::  AXIOS CALL FUNCTION
     */
    async axiosCall (optionsObject) {
      const { method, url, data } = optionsObject
      this.showOverlay = true
      try {
        const response = await this.$axiosService.generalAxiosCall(
          method,
          url,
          data
        )
        this.$bvToast.hide()
        if (url === '/api/export/create' && response.data) {
          this.showExportDetail(response.data)
        }
        this.getItems(this.datatableObject)
        this.showOverlay = false
        this.showModal = false
        this.statusModal = false
        this.$notify({
          message: response.message,
          type: response.type
        })
      } catch (err) {
        this.showOverlay = false
        this.$notify({
          message: err.message,
          type: err.type
        })
      }
    },
    // GET DATA OF AN ITEM
    editItem (item) {
      const { exportDate } = item
      const parceDate = moment(exportDate).utc().format('DD-MM-YYYY')
      const data = {
        ...item,
        exportDate: parceDate
      }
      this.changeObjectValue(this.formDisabled, !item.empty)
      this.dataTableItems = JSON.parse(JSON.stringify(data))
      this.form = JSON.parse(JSON.stringify(data))
      this.buttonName = 'Modificar'
      this.showModal = true
    },
    // Reset all fields of form
    formreset () {
      this.form = { exportDate: moment().format('DD-MM-YYYY') }
      this.$nextTick(() => {
        if (this.$refs.form) {
          this.$refs.form.reset()
        }
      })
    },
    // submit button
    submit () {
      this.showOverlay = true
      this.form = this.$service.trimObjects(this.form)
      if (this.buttonName === 'Agregar') {
        this.axiosCall({
          method: 'POST',
          url: '/api/export/create',
          data: this.form
        })
      } else if (
        JSON.stringify(this.dataTableItems) !== JSON.stringify(this.form)
      ) {
        const { _id } = this.form
        this.axiosCall({
          method: 'PUT',
          url: `/api/export/update/${_id}`,
          data: this.form
        })
      } else {
        this.showOverlay = false
        this.$notify({
          message:
            'Modificar  — No has realizado ningún cambio, Nada que modificar',
          type: 'warning'
        })
      }
    },
    editExportNotes (item) {
      this.showOverlay = true
      const validNote = this.comexParam
        ? item.comexNote !== this.exportNote
        : item.note !== this.exportNote
      if (validNote) {
        this.axiosCall({
          method: 'PUT',
          url: `/api/export/update/${item._id}`,
          data: {
            ...(this.comexParam
              ? { comexNote: this.exportNote }
              : { note: this.exportNote })
          }
        })
      } else {
        this.showOverlay = false
        this.$notify({
          message:
            'Modificar  — No has realizado ningún cambio, Nada que modificar',
          type: 'warning'
        })
      }
    },
    // add item
    addItem () {
      this.showModal = true
      this.buttonName = 'Agregar'
      this.changeObjectValue(this.formDisabled, false)
      this.formreset()
    },
    // search method for paginated combos
    selectSearch (query, object) {
      object.search = query
      object.currentPage = 1
    },
    /** @param :: getItemsObject = { type,url data:{
      currentPage,
      perPage
      search
      }}
     * @description ::  allows to fill paginated selection combos
     */
    async getSelectItems (getItemsObject) {
      const { data, type, url } = getItemsObject
      const { item } = await this.$axiosService.getItems({
        type,
        url,
        data,
        notify: this.$notify
      })
      return item
    },
    /** UPDATE FIELDS IN DATABASE */
    updateStatus (objectUpdate) {
      const { updateData, updateItems } = objectUpdate
      const { incorrect, filesWithError, _id } = updateData
      if (updateData.status !== updateItems.status) {
        const filesWithErrorFilter = filesWithError?.filter(
          x => x.error !== 'Cantidades incorrectas respecto a pedidos'
        )
        if (
          incorrect &&
          filesWithErrorFilter &&
          filesWithErrorFilter.length > 0
        ) {
          this.$notify({
            message:
              'Modificar Estatus  — No puedes cambiar estatus de una exportación si existe algún error',
            type: 'warning'
          })
        } else {
          this.axiosCall({
            method: 'PUT',
            url: `/api/export/update/${_id}`,
            data: {
              ...updateItems,
              ...(updateItems.status === 'Proceso de Exportación'
                ? { exportProcessDate: moment() }
                : '')
            }
          })
        }
      } else {
        this.$notify({
          message:
            'Modificar Estatus  — No has realizado ningún cambio, Nada que modificar',
          type: 'warning'
        })
      }
    },
    // change current page of select
    changeSelectCurrentPage (type, object) {
      if (type === 'add') {
        object.currentPage += 1
      } else {
        object.currentPage -= 1
      }
    },
    showExportDetail (row) {
      sessionStorage.setItem('exportData', JSON.stringify(row))
      this.$router.push({
        path: '/importModule/importDetail',
        query: { comex: this.comexParam }
      })
    },
    changeObjectValue (obj, value) {
      Object.keys(obj).forEach((key) => {
        obj[key] = value
      })
    },
    editStatus (row) {
      this.selectedRow = row
      this.selectStatus = { reference: row.status }
      this.disabledSelecStatus = this.selectedRow.orderStatus !== 'Aprobado'
      this.statusModal = true
    },
    noteColor (row) {
      const fileNote = this.comexParam ? row.comexNote : row.note
      return fileNote && fileNote !== ''
        ? 'background: #46ad9e;'
        : 'background: #293846'
    },
    async showChatRoom (comexParam) {
      this.chatRoom = await this.$axiosService.generalAxiosCall(
        'GET',
      `/api/chatRoom/${comexParam ? 'ComexModule' : 'ExportModule'}`
      )
      if (this.chatRoom) {
        socket.emit('join', {
          chatRoom: this.chatRoom._id
        })
        socket.emit('join', {
          chatRoom: `${this.chatRoom._id}${this.$auth.user.email}`
        })
      }
    },
    leaveChats () {
      if (this.chatRoom) {
        socket.emit('leave', {
          chatRoom: this.chatRoom._id
        })
        socket.emit('leave', {
          chatRoom: `${this.chatRoom._id}${this.$auth.user.email}`
        })
      }
    }
  }
}
</script>
<style>
.b-toast {
  position: absolute;
  z-index: 100;
}
.toast-body {
  padding: 3px;
  max-height: 150px !important;
  overflow-y: auto;
  width: 200px !important;
}
</style>
<style scoped>
.table-responsive {
  min-height: 250px;
}
</style>
