<template>
  <div>
    <b-overlay
      id="overlay-background"
      no-wrap
      :show="showOverlay"
      :variant="variant"
      :opacity="opacity"
      :blur="blur"
      rounded="sm"
      z-index="20000"
    />
    <!-- ROW TABLE -->
    <b-row>
      <b-col cols="12">
        <!-- CARD -->
        <card card-body-classes="table-full-width">
          <h4 slot="header" class="card-title">
            Módulo de Abastecimiento
          </h4>
          <!-- DATA TABLE  -->
          <b-container fluid>
            <!-- DATATABLE FILTERS -->
            <b-row>
              <b-col sm="6" md="6" lg="4" class="my-1">
                <select-component
                  v-model="datatableObject.exportID"
                  placeholder="Número de Factura"
                  :change-current-page="changeSelectCurrentPage"
                  delete-label="Exportación Eliminada"
                  label-option="exportNumber"
                  :options="exportID"
                  :select-object="selectExportObject"
                  :select-search="selectSearch"
                  :multiple="true"
                />
              </b-col>
              <b-col sm="6" md="6" lg="4" class="my-1">
                <select-component
                  v-model="datatableObject.brands"
                  placeholder="Marca"
                  :change-current-page="changeSelectCurrentPage"
                  delete-label="Marca Eliminada"
                  label-option="code"
                  :options="brands"
                  :select-object="selectBrandObject"
                  :select-search="selectSearch"
                  :multiple="true"
                />
              </b-col>
              <b-col sm="6" md="6" lg="4" class="my-1">
                <select-component
                  v-model="datatableObject.countries"
                  placeholder="Países"
                  :change-current-page="changeSelectCurrentPage"
                  delete-label="País Eliminado"
                  label-option="code"
                  :options="countries"
                  :select-object="selectCountryObject"
                  :select-search="selectSearch"
                  :multiple="true"
                />
              </b-col>
              <b-col sm="6" md="6" lg="4" class="my-1">
                <select-component
                  v-model="datatableObject.status"
                  placeholder="Estatus"
                  :change-current-page="changeSelectCurrentPage"
                  delete-label="Estatus Eliminado"
                  label-option="reference"
                  reduce-option="reference"
                  :options="statusArray"
                  :select-object="selectStatusObject"
                  :select-search="selectSearch"
                  @input="
                    value => {
                      selectExportObject.orderStatus = value
                      datatableObject.exportID = []
                    }
                  "
                />
              </b-col>
              <b-col sm="6" md="6" lg="4">
                <base-button
                  class="mt-4"
                  type="primary"
                  @click="
                    datatableObject = {
                      status: null,
                      exportID: [],
                      brand: [],
                      country: [],
                      currentPage: 1,
                      perPage: 50,
                      search: null
                    }
                  "
                >
                  <i class="tim-icons icon-trash-simple mr-2" /> Limpiar
                </base-button>
              </b-col>
            </b-row>

            <!-- END FILTER DATATABLE ROW -->
            <!-- EXPORT ROW -->
            <b-row class="mt-5">
              <b-col sm="12" md="6" lg="8">
                <base-button
                  type="vueBtn"
                  size="sm"
                  @click="
                    exportFileCall({
                      method: 'POST',
                      url: '/api/file/getSupplyInfoExcel',
                      data: datatableObject
                    })
                  "
                >
                  <i class="fas fa-file-excel mr-2" /> Exportar
                </base-button>
              </b-col>
            </b-row>
            <!-- END EXPORT ROW -->
            <!-- DATA TABLE  -->
            <b-table
              ref="dataTable"
              :current-page="datatableObject.currentPage"
              :options.sync="datatableObject"
              :busy.sync="isBusy"
              :items="items"
              :fields="fields"
              :filter="searchDataTable"
              :no-sort-reset="true"
              :sticky-header="true"
              :no-border-collapse="true"
              stacked="md"
              show-empty
              small
              responsive
              empty-filtered-text="No hay registros que coincidan con su solicitud"
              empty-text="No hay registros para mostrar"
            >
              <template #table-busy>
                <div class="text-center text-default my-2">
                  <b-spinner class="align-middle" />
                  <strong>Cargando...</strong>
                </div>
              </template>
              <template #cell(wrongFile)="row">
                <base-button
                  v-b-tooltip.hover.right="
                    incorrectData(row.item.details)
                      ? 'Exsiten diferencias en cantidades'
                      : ''
                  "
                  icon
                  type="gray"
                >
                  <i
                    :class="
                      incorrectData(row.item.details)
                        ? 'fas fa-exclamation-triangle'
                        : 'fas fa-check-circle'
                    "
                    :style="
                      incorrectData(row.item.details)
                        ? 'color: #ffc107 ;font-size:22px; left:43%'
                        : 'color: #2dd6b0'
                    "
                  />
                </base-button>
              </template>
              <template #cell(actions)="row">
                <b-button-group class="mx-1">
                  <base-button
                    v-b-tooltip.hover
                    title="Ver Detalle"
                    class="mr-1"
                    round
                    icon
                    type="vueBtn"
                    @click="
                      showDetail({
                        description: 'Detalle de Exportación',
                        items: row.item.details,
                        header: [
                          {
                            key: 'exportNumber',
                            label: 'Nro de Factura',
                            sortable: true,
                            formatter: item => item || '-'
                          },
                          {
                            key: 'invoiceNumber',
                            label: 'Nro de Documento',
                            sortable: true,
                            formatter: item => item || '-'
                          },
                          {
                            key: 'sku',
                            label: 'SKU',
                            sortable: true,
                            formatter: item => item || '-'
                          },
                          {
                            key: 'quantity',
                            label: 'Despacho',
                            sortable: true,
                            formatter: item => item || 0
                          },
                          {
                            key: 'orderQuantity',
                            label: 'Pedido  la Marca',
                            sortable: true,
                            formatter: item => item || 0
                          },
                          {
                            key: 'difference',
                            label: 'Diferencias',
                            sortable: true,
                            formatter: item => item || 0
                          }
                        ]
                      })
                    "
                  >
                    <i class="fas fa-eye" />
                  </base-button>
                  <base-button
                    v-b-tooltip.hover
                    class="mr-1"
                    title="Actualizar Estatus"
                    round
                    icon
                    type="vueBtn"
                    @click="editStatus(row.item)"
                  >
                    <i class="fas fa-wrench" />
                  </base-button>
                  <base-button
                    v-b-tooltip.hover.bottom="
                      'Actualizar Cantidades en pedidos'
                    "
                    class="mr-1"
                    round
                    icon
                    type="vueBtn"
                    @click="updateDocumentItems(row.item)"
                  >
                    <i class="fas fa-redo-alt" />
                  </base-button>
                  <base-button
                    v-b-tooltip.hover
                    title="Descargar Documento"
                    class="mr-1"
                    round
                    icon
                    type="vueBtn"
                    @click="downloadFiles(row.item.details)"
                  >
                    <i class="fas fa-cloud-download-alt" />
                  </base-button>
                </b-button-group>
              </template>
            </b-table>
            <!--END  DATA TABLE  -->
            <!-- PAGINATION -->
            <b-row v-if="items && items.length > 0" class="mt-3">
              <b-col sm="4" md="4" lg="4">
                <b-pagination
                  v-model="datatableObject.currentPage"
                  :total-rows="totalRows"
                  :per-page="datatableObject.perPage"
                  :current-page="datatableObject.currentPage"
                  size="sm"
                  align="fill"
                  class="w-50"
                  first-number
                  last-number
                />
              </b-col>
              <b-col sm="8" md="8" lg="8" class="d-flex justify-content-end">
                <b-form-group
                  :label="`Por página (1-${datatableObject.perPage} de ${totalRows})`"
                  label-for="per-page-select"
                  label-cols-lg="6"
                  label-cols-sm="6"
                  content-cols-sm="6"
                  content-cols-lg="6"
                >
                  <v-select
                    v-model="datatableObject.perPage"
                    :options="pageOptions"
                    style="width: 150px"
                  >
                    <span slot="no-options">
                      ¡No se han encontrado resultados!.
                    </span>
                  </v-select>
                </b-form-group>
              </b-col>
            </b-row>
            <!-- END PAGINATION -->
          </b-container>
        </card>
        <!-- END CARD  -->
      </b-col>
    </b-row>
    <!-- END ROW TABLE -->
    <!-- CARD -->
    <!-- STATUS MODAL -->
    <modal-component
      id="statusModal"
      :show.sync="statusModal"
      :centered="true"
      :show-close="true"
    >
      <template slot="header">
        <h4 id="statusModalLabel" class="modal-title mt-3">
          Actualizar Estatus
        </h4>
      </template>
      <validation-observer ref="formStatus" v-slot="{ handleSubmit }">
        <b-form @submit.stop.prevent="handleSubmit(() => updateStatus())">
          <b-row>
            <b-col sm="12" md="12" lg="12" class="my-3">
              <validation-provider
                v-slot="validationContext"
                name="Estatus"
                :rules="{ required: true }"
              >
                <select-component
                  v-model="selectStatus"
                  placeholder="Estatus"
                  :change-current-page="changeSelectCurrentPage"
                  delete-label="Estatus Eliminados"
                  label-option="reference"
                  :options="statusArrayForm"
                  :select-object="formStatusObject"
                  :select-search="selectSearch"
                  :disabled="disabledSelecStatus"
                />
                <span style="color: #ec250d">
                  {{ validationContext.errors[0] }}
                </span>
              </validation-provider>
            </b-col>
          </b-row>
          <b-row class="justify-content-between p-3">
            <base-button
              class="mt-4"
              type="secondary"
              @click="statusModal = false"
            >
              Cancelar
            </base-button>
            <base-button
              class="mt-4"
              type="primary"
              native-type="submit"
              :disabled="disabledSelecStatus"
            >
              Actualizar
            </base-button>
          </b-row>
        </b-form>
      </validation-observer>
    </modal-component>
    <!-- END STATUS MODAL -->
    <!-- DETAIL MODAL -->
    <modal-component
      id="detailModal"
      :show.sync="detailModal"
      :scroll-to-bottom="true"
      :show-close="true"
      class="modal-form"
    >
      <template slot="header">
        <h4 id="detailModal" class="modal-title mt-3">
          {{ detailDescription }}
        </h4>
      </template>
      <b-table
        ref="dataTableDetail"
        :current-page="detailCurrentPage"
        :items="detailListItems"
        :fields="detailListFields"
        stacked="md"
        per-page="8"
        show-empty
        small
        responsive
        empty-text="No hay registros para mostrar"
      >
        <template #cell(difference)="data">
          <b :class="data.value !== 0 ? 'text-warning' : 'text'">
            {{ data.value }}
          </b>
        </template>
        <template #cell(actions)="row">
          <base-button
            v-b-tooltip.hover
            title="Descargar Documento"
            class="mr-2"
            round
            icon
            type="vueBtn"
            @click="
              downloadFileFunction({
                url: '/api/file/download',
                data: row.item,
                notify: $notify
              })
            "
          >
            <i class="fas fa-cloud-download-alt" />
          </base-button>
        </template>
      </b-table>
      <b-row>
        <b-col cols="6">
          <b-pagination
            v-model="detailCurrentPage"
            :total-rows="detailListItems.length"
            per-page="10"
            align="fill"
            size="sm"
            class="w-50"
          />
        </b-col>
        <b-col cols="6">
          <base-button
            v-if="detailDescription === 'Detalle de Exportación'"
            type="primary"
            size="sm"
            class="float-right"
            @click="
              $service.createExcelFile({
                columns: detailListFields.map(x => ({
                  header: x.label,
                  key: x.key,
                  width: 20
                })),
                rows: detailListItems,
                fileName: 'Detalle exportación',
                notify: $notify
              })
            "
          >
            <i class="fas fa-download mr-2" /> Exportar
          </base-button>
        </b-col>
      </b-row>
    </modal-component>
    <!-- END DETAIL MODAL -->
    <!-- CHAT COMPONENT -->
    <ChatComponent v-if="chatRoom" :key="chatRoom ? chatRoom._id:''" :email="$auth.user.email" :chat-room="chatRoom" />
    <!-- END CHAT COMPONENT -->
  </div>
</template>
<script>
import { Popover } from 'element-ui'
import ModalComponent from '@/components/base/ModalComponent.vue'
import SelectComponent from '@/components/base/SelectComponent.vue'
import ChatComponent from '@/components/base/ChatComponent.vue'
export default {
  name: 'SupplyPage',
  components: {
    [Popover.name]: Popover,
    ModalComponent,
    SelectComponent,
    ChatComponent
  },
  beforeRouteLeave (to, from, next) {
    this.chatRoom && this.$service.leaveChats({ chatRoom: this.chatRoom._id, email: this.$auth.user.email })
    next()
  },
  layout: 'dashboard',
  data: () => ({
    chatRoom: null, // CHAT ROOM
    selectedRow: {},
    statusModal: false,
    selectStatus: null,
    // FILTER FIELDS
    brands: [],
    countries: [],
    statusArray: [],
    exportID: [],
    selectCountryObject: {
      // SELECT ORIGIN COUNTRY OBJECT
      currentPage: 1,
      perPage: 20,
      search: null,
      userCountries: null
    },
    selectStatusObject: {
      currentPage: 1,
      perPage: 20,
      search: null
    },
    selectBrandObject: {
      // BRAND OBJECT
      currentPage: 1,
      perPage: 20,
      search: null,
      userBrands: null
    },
    selectExportObject: {
      // EXPORT OBJECT
      currentPage: 1,
      perPage: 20,
      search: null,
      status: null,
      orderStatus: null,
      sortBy: 'createdAt',
      sortDirection: 'desc',
      sortDesc: true
    },
    searchDataTable: null,
    // DataTable variables
    isBusy: false,
    items: [], // datatable items
    fields: [
      // dataTable fields
      {
        key: '_id.exportNumber',
        label: 'Nro de Factura',
        formatter: item => item || '-'
      },
      {
        key: '_id.destinationCountry.code',
        label: 'País',
        formatter: item => item || '-'
      },
      {
        key: '_id.brand.code',
        label: 'Marca',
        formatter: item => item || '-'
      },
      {
        key: '_id.orderStatus',
        label: 'Estatus',
        formatter: item => item || '-'
      },
      {
        key: '_id.status',
        label: 'Estatus Exportación',
        formatter: item => item || '-'
      },
      { key: 'wrongFile', label: 'Error en archivo' },
      { key: 'actions', label: 'Opciones' }
    ],
    currentPage: 1,
    totalRows: 0,
    dataTableItems: {},
    datatableObject: {
      status: null,
      exportID: [],
      brands: [],
      countries: [],
      currentPage: 1,
      perPage: 50
    },
    pageOptions: [10, 50, 100, 500, 1000],
    // B-OVERLAY
    variant: 'transparent',
    opacity: 0.55,
    blur: '5px',
    showOverlay: false,
    // FORM STATUS
    disabledSelecStatus: false,
    statusArrayForm: [],
    formStatusObject: {
      // FORM STATUS OBJECT
      currentPage: 1,
      perPage: 10,
      search: null
    },
    // DETAIL MODAL
    detailModal: false,
    // DETAIL DATATABLE
    detailDescription: '',
    detailCurrentPage: 1,
    detailListItems: [],
    detailListFields: []
  }),
  watch: {
    // DATATABLE CHANGE
    datatableObject: {
      async handler () {
        await this.getItems(this.datatableObject)
      },
      deep: true
    },
    // SEARCH DATATABLE COMPONENT CHANGE
    searchDataTable (value) {
      this.datatableObject.search = value
      this.datatableObject.currentPage = 1
    },
    // SELECT COUNTRY CHANGE
    selectCountryObject: {
      async handler () {
        this.countries = await this.getSelectItems({
          type: 'POST',
          url: '/api/reference/list/country',
          data: this.selectCountryObject
        })
      },
      deep: true
    },
    // SELECT STATUS CHANGE
    selectStatusObject: {
      async handler () {
        this.statusArray = await this.getSelectItems({
          type: 'POST',
          url: '/api/reference/list/orderStatus',
          data: this.selectStatusObject
        })
      },
      deep: true
    },
    // SELECT FORM STATUS
    formStatusObject: {
      async handler () {
        this.statusArrayForm = await this.getSelectItems({
          type: 'POST',
          url: '/api/reference/list/orderStatus',
          data: this.formStatusObject
        })
      },
      deep: true
    },
    // SELECT BRAND CHANGE
    selectBrandObject: {
      async handler () {
        this.brands = await this.getSelectItems({
          type: 'POST',
          url: '/api/reference/list/brand',
          data: this.selectBrandObject
        })
      },
      deep: true
    },
    selectExportObject: {
      async handler () {
        this.exportID = await this.getSelectItems({
          type: 'POST',
          url: '/api/export',
          data: this.selectExportObject
        })
      },
      deep: true
    }
  },
  async mounted () {
    window.scrollTo(0, 0)
    // Set the initial number of items
    this.getItems(this.datatableObject)
    this.chatRoom = await this.$axiosService.showChatRoom({
      roomName: 'SupplyModule',
      email: this.$auth.user.email
    })
  },
  methods: {
    /** @param :: getItemsObject = {type, url, notify,data}
     * @description :: GET ALL ITEMS FROM DB
     */
    async getItems (data) {
      this.isBusy = true
      const { totalRows, item } = await this.$axiosService.getItems({
        type: 'POST',
        url: '/api/file/getSupplyInfo',
        notify: this.$notify,
        data
      })
      this.items = item
      this.isBusy = false
      this.totalRows = totalRows
    },
    /** @param :: optionsObject = {method, url, data}
     * @description ::  AXIOS CALL FUNCTION
     */
    async axiosCall (optionsObject) {
      const { method, url, data } = optionsObject
      this.showOverlay = true
      try {
        const response = await this.$axiosService.generalAxiosCall(
          method,
          url,
          data
        )
        this.getItems(this.datatableObject)
        this.showOverlay = false
        this.statusModal = false
        this.$notify({
          message: response.message,
          type: response.type
        })
      } catch (err) {
        this.showOverlay = false
        this.$notify({
          message: err.message,
          type: err.type
        })
      }
    },
    // search method for paginated combos
    selectSearch (query, object) {
      object.search = query
      object.currentPage = 1
    },
    /** @param :: getItemsObject = { type,url data:{
      currentPage,
      perPage
      search
      }}
     * @description ::  allows to fill paginated selection combos
     */
    async getSelectItems (getItemsObject) {
      const { data, type, url } = getItemsObject
      const { item } = await this.$axiosService.getItems({
        type,
        url,
        data,
        notify: this.$notify
      })
      return item
    },
    /** UPDATE FIELDS IN DATABASE */
    updateStatus () {
      const fileErrors = this.incorrectData(this.selectedRow.details)
      const { _id } = this.selectedRow
      if (_id.orderStatus !== this.selectStatus.reference) {
        if (fileErrors && this.selectStatus.reference === 'Aprobado') {
          this.$swal({
            title:
              '¿Estás seguro que deseas Aprobar esta exportación? Posee Datos incorrectos',
            icon: 'question',
            iconHtml: '?',
            showCancelButton: true,
            showDenyButton: true,
            confirmButtonColor: '#2ca172',
            iconColor: '#7dd3b8',
            denyButtonText: 'Actualizar Datos',
            confirmButtonText: 'Aprobar',
            cancelButtonText: 'Cancelar'
          }).then((result) => {
            if (result.isConfirmed) {
              this.statusModal = false
              this.showOverlay = true
              this.axiosCall({
                method: 'PUT',
                url: `/api/export/update/${this.selectedRow._id._id}`,
                data: { orderStatus: this.selectStatus.reference }
              })
              this.showOverlay = false
            } else if (result.isDenied) {
              this.statusModal = false
              this.updateDocumentItems(this.selectedRow)
            }
          })
        } else {
          this.axiosCall({
            method: 'PUT',
            url: `/api/export/update/${this.selectedRow._id._id}`,
            data: { orderStatus: this.selectStatus.reference }
          })
        }
      } else {
        this.$notify({
          message:
            'Modificar Estatus  — No has realizado ningún cambio, Nada que modificar',
          type: 'warning'
        })
      }
    },
    // change current page of select
    changeSelectCurrentPage (type, object) {
      if (type === 'add') {
        object.currentPage += 1
      } else {
        object.currentPage -= 1
      }
    },
    // SHOW MODAL DETAIL
    showDetail (objectDetail) {
      const { items, header, description } = objectDetail
      this.detailDescription = description
      this.detailListFields = header
      this.detailListItems = items
      this.detailModal = true
    },
    // EDIT STATUS FUNCTION
    editStatus (item) {
      const status = ['Cargado', 'Revision doc']
      this.selectedRow = item
      this.selectStatus = {
        reference: item._id.orderStatus
      }
      this.disabledSelecStatus = !status.includes(item._id.status)
      this.statusModal = true
    },
    // EXPORT ITEMS AND CREATE EXCEL FILE
    exportFileCall (optionsObject) {
      this.$swal({
        title: '¿Estás seguro que deseas exportar toda la información?',
        text: 'Se exportarán todos los sku con su respectivas diferencias',
        icon: 'question',
        iconHtml: '?',
        showCancelButton: true,
        confirmButtonColor: '#2ca172',
        iconColor: '#7dd3b8',
        confirmButtonText: 'Exportar',
        cancelButtonText: 'Cancelar'
      }).then(async (result) => {
        if (result.value) {
          this.showOverlay = true
          await this.$axiosService.generateExcelFileAxios({
            ...optionsObject,
            notify: this.$notify,
            fileName: 'DetalleExportacion.xlsx',
            wsName: 'Diferencias'
          })
          this.showOverlay = false
        }
      })
    },
    // Update orders quantity in packingList
    updateDocumentItems (item) {
      const { _id, details } = item
      this.$swal({
        title: '¿Estás seguro que deseas Actualizar la información?',
        text: 'Se actualizarán todas las cantidades en los pedidos',
        icon: 'question',
        iconHtml: '?',
        showCancelButton: true,
        confirmButtonColor: '#2ca172',
        iconColor: '#7dd3b8',
        confirmButtonText: 'Actualizar',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.value) {
          this.axiosCall({
            method: 'PUT',
            url: '/api/file/updateorderQuantity',
            data: { exportID: _id, items: JSON.stringify(details) }
          })
        }
      })
    },
    /** RETURNS TRUE IF AT LEAST 1 ELEMENT IS WRONG */
    incorrectData (items) {
      return items.find(x => x.wrongQuantity === true)
    },
    downloadFiles (items) {
      const invoiceNumbers = [
        ...new Map(items.map(item => [item.invoiceNumber, item])).values()
      ]
      if (invoiceNumbers.length > 1) {
        this.showDetail({
          header: [
            {
              key: 'invoiceNumber',
              label: 'Nro de Documento',
              sortable: true,
              formatter: item => item || '-'
            },
            { key: 'actions', label: 'Opciones' }
          ],
          items: invoiceNumbers,
          description: 'Descarga de Documentos'
        })
      } else {
        this.downloadFileFunction({
          url: '/api/file/download',
          data: items[0],
          notify: this.$notify
        })
      }
    },
    // downloadFileFunction
    async downloadFileFunction (object) {
      const { url, data, notify } = object
      this.showOverlay = true
      await this.$axiosService.downloadFile({ url, data, notify })
      this.showOverlay = false
    }
  }
}
</script>
