<template>
  <div>
    <b-overlay
      id="overlay-background"
      no-wrap
      :show="showOverlay"
      :variant="variant"
      :opacity="opacity"
      :blur="blur"
      rounded="sm"
      z-index="20000"
    />
    <!-- ROW TABLE -->
    <b-row>
      <b-col cols="12">
        <!-- CARD -->
        <card card-body-classes="table-full-width">
          <h4 slot="header" class="card-title">
            Sku no creados
          </h4>
          <!-- DATA TABLE  -->
          <b-container fluid>
            <!-- DATATABLE FILTERS -->
            <b-row>
              <b-col sm="12" md="6" lg="8" class="mt-3">
                <base-button type="vueBtn" size="sm" @click="selectAllRows()">
                  <i class="fas fa-check mr-2" /> Seleccionar
                </base-button>
                <base-button type="vueBtn" size="sm" @click="clearSelected()">
                  <i class="fas fa-times mr-2" /> Deseleccionar
                </base-button>

                <base-button
                  type="vueBtn"
                  size="sm"
                  :disabled="selected.length === 0"
                  @click="updatePackingListData({ items: selected })"
                >
                  <i class="fas fa-redo-alt mr-2" /> Actualizar
                </base-button>
                <base-button
                  type="vueBtn"
                  size="sm"
                  @click="
                    exportFileCall({
                      method: 'POST',
                      url: '/api/file/getUncreatedSku?type=excel',
                      data: {
                        perPage: 50,
                        search: datatableObject.search,
                        sortBy: datatableObject.sortBy,
                        sortDirection: datatableObject.sortDirection
                      }
                    })
                  "
                >
                  <i class="fas fa-file-excel mr-2" /> Exportar
                </base-button>
              </b-col>
              <b-col sm="12" md="6" lg="4">
                <base-input
                  v-model="searchDataTable"
                  addon-left-icon="tim-icons icon-zoom-split"
                  placeholder="Filtrar"
                  size="sm"
                />
              </b-col>
            </b-row>

            <!-- END FILTER DATATABLE ROW -->
            <!-- DATA TABLE  -->
            <b-table
              ref="dataTable"
              :current-page="datatableObject.currentPage"
              :options.sync="datatableObject"
              :busy.sync="isBusy"
              :items="items"
              :fields="fields"
              :filter="searchDataTable"
              :sort-by.sync="datatableObject.sortBy"
              :sort-desc.sync="datatableObject.sortDesc"
              :sort-direction="datatableObject.sortDirection"
              :no-sort-reset="true"
              :selectable="true"
              :sticky-header="true"
              :no-border-collapse="true"
              stacked="md"
              show-empty
              small
              responsive
              empty-filtered-text="No hay registros que coincidan con su solicitud"
              empty-text="No hay registros para mostrar"
              @row-selected="onRowSelected"
            >
              <template #table-busy>
                <div class="text-center text-default my-2">
                  <b-spinner class="align-middle" />
                  <strong>Cargando...</strong>
                </div>
              </template>
              <template #cell(selected)="{ rowSelected }">
                <template v-if="rowSelected">
                  <span aria-hidden="true">&check;</span>
                  <span class="sr-only">Selected</span>
                </template>
                <template v-else>
                  <span aria-hidden="true">&#10007;</span>
                  <span class="sr-only">Not selected</span>
                </template>
              </template>
              <template #cell(details)="row">
                <base-button
                  v-b-tooltip.hover
                  class="mr-2"
                  title=""
                  icon
                  type="vueBtn"
                  @click="exportDetails(row.item)"
                >
                  <i class="fas fa-clipboard-list" />
                </base-button>
              </template>
              <template #cell(actions)="row">
                <base-button
                  v-b-tooltip.hover
                  class="mr-2"
                  title="Actualizar Documentos"
                  icon
                  type="vueBtn"
                  @click="updatePackingListData({ item: row.item })"
                >
                  <i class="fas fa-redo-alt" />
                </base-button>
              </template>
            </b-table>
            <!--END  DATA TABLE  -->
            <!-- PAGINATION -->
            <b-row v-if="items.length > 0" class="mt-3">
              <b-col sm="4" md="4" lg="4">
                <b-pagination
                  v-model="datatableObject.currentPage"
                  :total-rows="totalRows"
                  :per-page="datatableObject.perPage"
                  :current-page="datatableObject.currentPage"
                  size="sm"
                  align="fill"
                  class="w-50"
                  first-number
                  last-number
                />
              </b-col>
              <b-col sm="8" md="8" lg="8" class="d-flex justify-content-end">
                <b-form-group
                  :label="`Por página (1-${datatableObject.perPage} de ${totalRows})`"
                  label-for="per-page-select"
                  label-cols-lg="6"
                  label-cols-sm="6"
                  content-cols-sm="6"
                  content-cols-lg="6"
                >
                  <v-select
                    v-model="datatableObject.perPage"
                    :options="pageOptions"
                    style="width: 150px"
                  >
                    <span slot="no-options">
                      ¡No se han encontrado resultados!.
                    </span>
                  </v-select>
                </b-form-group>
              </b-col>
            </b-row>
            <!-- END PAGINATION -->
          </b-container>
        </card>
        <!-- END CARD  -->
      </b-col>
    </b-row>
    <!-- END ROW TABLE -->
    <!-- CARD -->
    <!-- DETAIL MODAL -->
    <modal-component
      id="modal"
      :show.sync="showModal"
      :centered="true"
      :show-close="true"
      class="modal-form"
    >
      <template slot="header">
        <h4 id="formModalLabel" class="modal-title mt-3">
          Exportaciones con sku no creados
        </h4>
      </template>
      <b-table
        ref="dataTableError"
        :current-page="detailCurrentPage"
        :items="detailListItems"
        :fields="detailListFields"
        stacked="md"
        per-page="8"
        show-empty
        small
        responsive
        empty-text="No hay registros para mostrar"
      />
      <b-pagination
        v-model="detailCurrentPage"
        :total-rows="detailListItems.length"
        per-page="8"
        align="fill"
        size="sm"
        class="w-25"
      />
    </modal-component>
    <!-- END DETAIL MODAL -->
  </div>
</template>
<script>
import ModalComponent from '@/components/base/ModalComponent.vue'

export default {
  name: 'UncreatedSkuPage',
  components: { ModalComponent },
  layout: 'dashboard',
  data: () => ({
    searchDataTable: null,
    isBusy: false,
    selected: [], // selected items in datatable
    items: [], // datatable items
    fields: [
      // dataTable fields
      {
        key: 'selected',
        label: 'Seleccionar'
      },
      {
        key: 'reference',
        label: 'Referencia',
        sortable: true,
        formatter: item => item || '-'
      },
      {
        key: 'code',
        label: 'Code',
        sortable: true,
        formatter: item => item || '-'
      },
      {
        key: 'country',
        label: 'País',
        sortable: true,
        formatter: item => item || '-'
      },
      {
        key: 'type',
        label: 'Tipo de archivo',
        sortable: true,
        formatter: item => item || '-'
      },
      {
        key: 'details',
        label: 'Listado de exportaciones',
        class: 'text-center',
        sortable: false
      },
      { key: 'actions', label: 'Opciones' }
    ],
    currentPage: 1,
    totalRows: 0,
    datatableObject: {
      currentPage: 1,
      perPage: 50,
      search: null,
      sortBy: 'createdAt',
      sortDirection: 'desc',
      sortDesc: true
    },
    pageOptions: [10, 50, 100, 500, 1000],
    // B-OVERLAY
    variant: 'transparent',
    opacity: 0.55,
    blur: '5px',
    showOverlay: false,
    // DETAIL MODAL
    showModal: false,
    detailCurrentPage: 1,
    detailListItems: [],
    detailListFields: [
      {
        key: 'invoiceNumber',
        label: 'Documento',
        sortable: true,
        formatter: item => item || '-'
      },
      {
        key: 'export',
        label: 'Número de Factura',
        sortable: true,
        formatter: item => item || '-'
      }
    ],
    // DATA TABLE FILTERS SELECTS
    dataTableBrands: [],
    dataTableBrandObject: {
      // datatable filter form brand object
      currentPage: 1,
      perPage: 10,
      search: null,
      userBrands: null
    }
  }),
  watch: {
    // DATATABLE CHANGE
    datatableObject: {
      async handler () {
        await this.getItems(this.datatableObject)
      },
      deep: true
    },
    // SEARCH DATATABLE COMPONENT CHANGE
    searchDataTable (value) {
      this.datatableObject.search = value
      this.datatableObject.currentPage = 1
    }
  },
  mounted () {
    window.scrollTo(0, 0)
    this.getItems(this.datatableObject)
  },
  methods: {
    /** @param :: getItemsObject = {type, url, notify,data}
     * @description :: GET ALL ITEMS FROM DB
     */
    async getItems (data) {
      this.isBusy = true
      const { totalRows, item } = await this.$axiosService.getItems({
        type: 'POST',
        url: '/api/file/getUncreatedSku',
        notify: this.$notify,
        data
      })
      this.items = item
      this.isBusy = false
      this.totalRows = totalRows
    },
    /** @param :: optionsObject = {method, url, data}
     * @description ::  AXIOS CALL FUNCTION
     */
    async axiosCall (optionsObject) {
      const { method, url, data } = optionsObject
      this.showOverlay = true
      try {
        const response = await this.$axiosService.generalAxiosCall(
          method,
          url,
          data
        )
        this.getItems(this.datatableObject)
        this.showOverlay = false
        this.showModal = false
        this.$notify({
          message: response.message,
          type: response.type
        })
      } catch (err) {
        this.showOverlay = false
        this.$notify({
          message: err.message,
          type: err.type
        })
      }
    },
    updatePackingListData (updateObject) {
      const { item, items } = updateObject
      this.$swal({
        title: '¿Estás seguro que deseas Actualizar la información?',
        text: 'Se actualizarán todas los documentos con sku no creados',
        icon: 'question',
        iconHtml: '?',
        showCancelButton: true,
        confirmButtonColor: '#2ca172',
        iconColor: '#7dd3b8',
        confirmButtonText: 'Actualizar',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.value) {
          this.axiosCall({
            method: 'PUT',
            url: '/api/file/updateUncreatedSku/',
            data:
              item && !items
                ? {
                    item
                  }
                : { items: JSON.stringify(items) }
          })
        }
      })
    },
    onRowSelected (items) {
      this.selected = items
    },
    selectAllRows () {
      this.$refs.dataTable.selectAllRows()
    },
    clearSelected () {
      this.$refs.dataTable.clearSelected()
    },
    exportDetails (item) {
      console.log(item)
      this.detailListItems = [...item.details]
      this.showModal = true
    },
    exportFileCall (optionsObject) {
      this.$swal({
        title: '¿Estás seguro que deseas exportar toda  la información?',
        text: 'Se exportarán todos los códigos que no han sido creados',
        icon: 'question',
        iconHtml: '?',
        showCancelButton: true,
        confirmButtonColor: '#2ca172',
        iconColor: '#7dd3b8',
        confirmButtonText: 'Exportar',
        cancelButtonText: 'Cancelar'
      }).then(async (result) => {
        if (result.value) {
          this.showOverlay = true
          await this.$axiosService.generateExcelFileAxios({
            ...optionsObject,
            notify: this.$notify,
            fileName: 'uncreatedCode.xlsx',
            wsName: 'CODES'
          })
          this.showOverlay = false
        }
      })
    }
  }
}
</script>
