<template>
  <div>
    <b-overlay
      id="overlay-background"
      no-wrap
      :show="showOverlay"
      :variant="variant"
      :opacity="opacity"
      :blur="blur"
      rounded="sm"
      z-index="20000"
    />
    <!-- ROW TABLE -->
    <b-row>
      <b-col cols="12">
        <!-- CARD -->
        <card card-body-classes="table-full-width">
          <h4 slot="header" class="card-title">
            Módulo de Bodega
          </h4>
          <!-- DATA TABLE  -->
          <b-container fluid>
            <!-- DATATABLE FILTERS -->
            <b-row class="mb-4">
              <b-col sm="6" md="6" lg="4" class="my-1">
                <select-component
                  v-model="datatableObject.exportID"
                  placeholder="Número de Factura"
                  :change-current-page="changeSelectCurrentPage"
                  delete-label="Factura Eliminada"
                  label-option="exportNumber"
                  :options="exportID"
                  :select-object="selectExportObject"
                  :select-search="selectSearch"
                  :multiple="true"
                />
              </b-col>
              <b-col sm="6" md="6" lg="4" class="my-1">
                <select-component
                  v-model="datatableObject.brands"
                  placeholder="Marca"
                  :change-current-page="changeSelectCurrentPage"
                  delete-label="Marca Eliminada"
                  label-option="code"
                  :options="brands"
                  :select-object="selectBrandObject"
                  :select-search="selectSearch"
                  :multiple="true"
                />
              </b-col>
              <b-col sm="6" md="6" lg="4" class="my-1">
                <select-component
                  v-model="datatableObject.countries"
                  placeholder="Países"
                  :change-current-page="changeSelectCurrentPage"
                  delete-label="País Eliminado"
                  label-option="code"
                  :options="countries"
                  :select-object="selectCountryObject"
                  :select-search="selectSearch"
                  :multiple="true"
                />
              </b-col>
              <b-col sm="6" md="6" lg="4" class="my-1">
                <select-component
                  v-model="datatableObject.status"
                  placeholder="Estatus"
                  :change-current-page="changeSelectCurrentPage"
                  delete-label="Estatus Eliminado"
                  label-option="reference"
                  reduce-option="reference"
                  :options="statusArray"
                  :select-object="selectStatusObject"
                  :select-search="selectSearch"
                  @input="
                    value => {
                      selectExportObject.orderStatus = value
                      datatableObject.exportID = []
                    }
                  "
                />
              </b-col>
              <b-col sm="6" md="6" lg="4">
                <base-button
                  class="mt-4"
                  type="primary"
                  @click="
                    datatableObject = {
                      status: null,
                      exportID: [],
                      brand: [],
                      country: [],
                      currentPage: 1,
                      perPage: 50,
                      search: null
                    }
                  "
                >
                  <i class="tim-icons icon-trash-simple mr-2" /> Limpiar
                </base-button>
              </b-col>
            </b-row>

            <!-- END FILTER DATATABLE ROW -->
            <!-- DATA TABLE  -->
            <b-table
              ref="dataTable"
              :current-page="datatableObject.currentPage"
              :options.sync="datatableObject"
              :busy.sync="isBusy"
              :items="items"
              :fields="fields"
              :filter="searchDataTable"
              :no-sort-reset="true"
              :sticky-header="true"
              :no-border-collapse="true"
              stacked="md"
              show-empty
              responsive
              empty-filtered-text="No hay registros que coincidan con su solicitud"
              empty-text="No hay registros para mostrar"
              @row-clicked="$bvToast.hide()"
            >
              <template #table-busy>
                <div class="text-center text-default my-2">
                  <b-spinner class="align-middle" />
                  <strong>Cargando...</strong>
                </div>
              </template>
              <template #cell(actions)="row">
                <b-button-group class="mx-1">
                  <base-button
                    v-b-tooltip.hover
                    title="Actualizar Exportación"
                    class="mr-1"
                    icon
                    type="vueBtn"
                    :disabled="disableUpdate(row.item._id)"
                    @click="
                      $bvToast.hide()
                      showDetail(row.item)
                    "
                  >
                    <i class="fas fa-redo-alt" />
                  </base-button>
                  <base-button
                    v-b-tooltip.hover
                    class="mr-1"
                    title="Notas Públicas"
                    round
                    icon
                    type="vueBtn"
                    :style="noteColor(row.item)"
                    @click="
                      warehouseNote = row.item._id.warehouseNote || ''
                      $bvToast.show(row.item._id._id)
                    "
                  >
                    <i class="fas fa-clipboard" />
                  </base-button>
                  <b-toast
                    :id="row.item._id._id"
                    variant="warning"
                    solid
                    static
                    no-auto-hide
                  >
                    <template #toast-title>
                      <div class="d-flex flex-grow-1 align-items-baseline">
                        <b-img
                          blank
                          blank-color="#ff5555"
                          class="mr-1"
                          width="12"
                          height="12"
                        />
                        <strong class="mr-auto">Notas Públicas!</strong>
                      </div>
                    </template>
                    <div class="popover-body">
                      <b-form-textarea
                        v-model="warehouseNote"
                        placeholder="Escribe acá ..."
                      />
                      <base-button
                        v-b-tooltip.hover
                        class="mt-3 float-right"
                        title="Guardar Nota"
                        icon
                        type="vueBtn"
                        @click="editNotes(row.item)"
                      >
                        <i class="fas fa-save" />
                      </base-button>
                    </div>
                  </b-toast>
                </b-button-group>
              </template>
            </b-table>
            <!--END  DATA TABLE  -->
            <!-- PAGINATION -->
            <b-row v-if="items && items.length > 0" class="mt-3">
              <b-col sm="4" md="4" lg="4">
                <b-pagination
                  v-model="datatableObject.currentPage"
                  :total-rows="totalRows"
                  :per-page="datatableObject.perPage"
                  :current-page="datatableObject.currentPage"
                  size="sm"
                  align="fill"
                  class="w-50"
                  first-number
                  last-number
                />
              </b-col>
              <b-col sm="8" md="8" lg="8" class="d-flex justify-content-end">
                <b-form-group
                  :label="`Por página (1-${datatableObject.perPage} de ${totalRows})`"
                  label-for="per-page-select"
                  label-cols-lg="6"
                  label-cols-sm="6"
                  content-cols-sm="6"
                  content-cols-lg="6"
                >
                  <v-select
                    v-model="datatableObject.perPage"
                    :options="pageOptions"
                    style="width: 150px"
                  >
                    <span slot="no-options">
                      ¡No se han encontrado resultados!.
                    </span>
                  </v-select>
                </b-form-group>
              </b-col>
            </b-row>
            <!-- END PAGINATION -->
          </b-container>
        </card>
        <!-- END CARD  -->
      </b-col>
    </b-row>
    <!-- END ROW TABLE -->
    <!-- CARD -->
    <!-- DETAIL MODAL -->
    <modal-component
      id="exportFormModal"
      :show.sync="exportFormModal"
      :scroll-to-bottom="true"
      :show-close="true"
    >
      <template slot="header">
        <h4 id="exportFormModal" class="modal-title mt-3">
          Actualizar Exportación
        </h4>
      </template>
      <validation-observer ref="exportForm" v-slot="{ handleSubmit }">
        <b-form
          @submit.stop.prevent="
            handleSubmit(() => {
              selectedRow.receivedQuantity !== exportForm.receivedQuantity
                ? updateExport({
                  _id: selectedRow._id,
                  updateItem: {
                    receivedQuantity: exportForm.receivedQuantity,
                    status:
                      Number(exportForm.receivedQuantity) !== 0
                        ? 'Recibido en Bodega'
                        : 'Proceso de Exportación'
                  }
                })
                : $notify({
                  message:
                    'Modificar  — No has realizado ningún cambio, Nada que modificar',
                  type: 'warning'
                })
            })
          "
        >
          <b-row>
            <b-col sm="6" md="6" lg="6">
              <validation-provider
                v-slot="validationContext"
                name="Total Despachado"
                :rules="{ required: true }"
              >
                <base-input
                  v-model="exportForm.dispatchedQuantity"
                  type="text"
                  label="Total Despachado"
                  placeholder="Total Despachado"
                  :error="validationContext.errors[0]"
                  :class="
                    $service.getValidationState(validationContext)
                      ? 'has-success'
                      : 'has-danger'
                  "
                  :disabled="true"
                />
              </validation-provider>
            </b-col>
            <b-col sm="6" md="6" lg="6">
              <validation-provider
                v-slot="validationContext"
                name="Total Recibido"
                :rules="{ required: true, numeric: true }"
              >
                <base-input
                  v-model="exportForm.receivedQuantity"
                  type="number"
                  label="Total Recibido"
                  placeholder="Total Recibido"
                  :error="validationContext.errors[0]"
                  :class="
                    $service.getValidationState(validationContext)
                      ? 'has-success'
                      : 'has-danger'
                  "
                />
              </validation-provider>
            </b-col>
          </b-row>
          <b-row class="justify-content-between p-3">
            <base-button class="mt-4" type="secondary">
              Cancelar
            </base-button>
            <base-button class="mt-4" type="primary" native-type="submit">
              Actualizar
            </base-button>
          </b-row>
        </b-form>
      </validation-observer>
    </modal-component>
    <!-- END DETAIL MODAL -->
    <!-- CHAT COMPONENT -->
    <ChatComponent
      v-if="chatRoom"
      :key="chatRoom ? chatRoom._id : ''"
      :email="$auth.user.email"
      :chat-room="chatRoom"
    />
    <!-- END CHAT COMPONENT -->
  </div>
</template>
<script>
import moment from 'moment'
import { Popover } from 'element-ui'
import ModalComponent from '@/components/base/ModalComponent.vue'
import SelectComponent from '@/components/base/SelectComponent.vue'
import ChatComponent from '@/components/base/ChatComponent.vue'

export default {
  name: 'WarehousePage',
  components: {
    [Popover.name]: Popover,
    ModalComponent,
    SelectComponent,
    ChatComponent
  },
  beforeRouteLeave (to, from, next) {
    this.chatRoom &&
      this.$service.leaveChats({
        chatRoom: this.chatRoom._id,
        email: this.$auth.user.email
      })
    next()
  },
  layout: 'dashboard',
  data: () => ({
    chatRoom: null, // CHAT ROOM
    selectedRow: {},
    // FILTER FIELDS
    brands: [],
    countries: [],
    statusArray: [],
    exportID: [],
    selectCountryObject: {
      // SELECT ORIGIN COUNTRY OBJECT
      currentPage: 1,
      perPage: 20,
      search: null,
      userCountries: null
    },
    selectStatusObject: {
      currentPage: 1,
      perPage: 20,
      search: null
    },
    selectBrandObject: {
      // BRAND OBJECT
      currentPage: 1,
      perPage: 20,
      search: null,
      userBrands: null
    },
    selectExportObject: {
      // EXPORT OBJECT
      currentPage: 1,
      perPage: 20,
      search: null,
      status: null,
      orderStatus: null,
      sortBy: 'createdAt',
      sortDirection: 'desc',
      sortDesc: true
    },
    searchDataTable: null,
    // DataTable variables
    isBusy: false,
    items: [], // datatable items
    fields: [
      // dataTable fields
      {
        key: '_id.exportNumber',
        label: 'Nro de Factura',
        formatter: item => item || '-'
      },
      {
        key: '_id.brand.code',
        label: 'Marca',
        formatter: item => item || '-'
      },
      {
        key: '_id.exportProcessDate',
        label: 'Inicio Exportación',
        formatter: item =>
          item ? moment(item).utc().format('DD-MM-YYYY') : '-'
      },
      {
        key: 'total',
        label: 'Despacho',
        formatter: item => item || '0'
      },
      {
        key: 'box',
        label: 'Cant Cajas',
        formatter: item => item || '0'
      },
      {
        key: '_id.status',
        label: 'Estatus Exportación',
        formatter: item => item || '-'
      },
      { key: 'actions', label: 'Opciones' }
    ],
    currentPage: 1,
    totalRows: 0,
    dataTableItems: {},
    datatableObject: {
      status: null,
      exportID: [],
      brands: [],
      countries: [],
      currentPage: 1,
      perPage: 50
    },
    pageOptions: [10, 50, 100, 500, 1000],
    // B-OVERLAY
    variant: 'transparent',
    opacity: 0.55,
    blur: '5px',
    showOverlay: false,
    // FORM STATUS
    // EXPORT  MODAL
    exportFormModal: false,
    exportForm: {
      dispatchedQuantity: null,
      receivedQuantity: null
    },
    // WAREHOUSE PUBLIC NOTES
    warehouseNote: ''
  }),
  watch: {
    // DATATABLE CHANGE
    datatableObject: {
      async handler () {
        await this.getItems(this.datatableObject)
      },
      deep: true
    },
    // SEARCH DATATABLE COMPONENT CHANGE
    searchDataTable (value) {
      this.datatableObject.search = value
      this.datatableObject.currentPage = 1
    },
    // SELECT COUNTRY CHANGE
    selectCountryObject: {
      async handler () {
        this.countries = await this.getSelectItems({
          type: 'POST',
          url: '/api/reference/list/country',
          data: this.selectCountryObject
        })
      },
      deep: true
    },
    // SELECT STATUS CHANGE
    selectStatusObject: {
      async handler () {
        this.statusArray = await this.getSelectItems({
          type: 'POST',
          url: '/api/reference/list/orderStatus',
          data: this.selectStatusObject
        })
      },
      deep: true
    },
    // SELECT BRAND CHANGE
    selectBrandObject: {
      async handler () {
        this.brands = await this.getSelectItems({
          type: 'POST',
          url: '/api/reference/list/brand',
          data: this.selectBrandObject
        })
      },
      deep: true
    },
    selectExportObject: {
      async handler () {
        this.exportID = await this.getSelectItems({
          type: 'POST',
          url: '/api/export',
          data: this.selectExportObject
        })
      },
      deep: true
    }
  },
  async mounted () {
    window.scrollTo(0, 0)
    // Set the initial number of items
    this.getItems(this.datatableObject)
    this.chatRoom = await this.$axiosService.showChatRoom({
      roomName: 'WarehouseModule',
      email: this.$auth.user.email
    })
  },
  methods: {
    /** @param :: getItemsObject = {type, url, notify,data}
     * @description :: GET ALL ITEMS FROM DB
     */
    async getItems (data) {
      this.isBusy = true
      const { totalRows, item } = await this.$axiosService.getItems({
        type: 'POST',
        url: '/api/file/getWarehouseInfo',
        notify: this.$notify,
        data
      })
      this.items = item
      this.isBusy = false
      this.totalRows = totalRows
    },
    /** @param :: optionsObject = {method, url, data}
     * @description ::  AXIOS CALL FUNCTION
     */
    async axiosCall (optionsObject) {
      const { method, url, data } = optionsObject
      this.showOverlay = true
      try {
        const response = await this.$axiosService.generalAxiosCall(
          method,
          url,
          data
        )
        this.getItems(this.datatableObject)
        this.showOverlay = false
        this.exportFormModal = false
        this.$notify({
          message: response.message,
          type: response.type
        })
      } catch (err) {
        this.showOverlay = false
        this.$notify({
          message: err.message,
          type: err.type
        })
      }
    },
    // search method for paginated combos
    selectSearch (query, object) {
      object.search = query
      object.currentPage = 1
    },
    /** @param :: getItemsObject = { type,url data:{
      currentPage,
      perPage
      search
      }}
     * @description ::  allows to fill paginated selection combos
     */
    async getSelectItems (getItemsObject) {
      const { data, type, url } = getItemsObject
      const { item } = await this.$axiosService.getItems({
        type,
        url,
        data,
        notify: this.$notify
      })
      return item
    },
    // change current page of select
    changeSelectCurrentPage (type, object) {
      if (type === 'add') {
        object.currentPage += 1
      } else {
        object.currentPage -= 1
      }
    },
    // SHOW MODAL DETAIL
    showDetail (row) {
      const { total, _id } = row
      this.exportForm.dispatchedQuantity = total
      this.exportForm.receivedQuantity = _id?.receivedQuantity
      this.selectedRow = _id
      this.exportFormModal = true
    },
    // UPDATE PUBLIC NOTES WAREHOUSE
    editNotes (item) {
      this.showOverlay = true
      if (item._id?.warehouseNote !== this.warehouseNote) {
        this.updateExport({
          _id: item._id?._id,
          updateItem: { warehouseNote: this.warehouseNote }
        })
      } else {
        this.showOverlay = false
        this.$notify({
          message:
            'Modificar  — No has realizado ningún cambio, Nada que modificar',
          type: 'warning'
        })
      }
    },
    // GET COLOR OF PUBLIC NOTES
    noteColor (row) {
      const fileNote = row._id?.warehouseNote
      return fileNote && fileNote !== ''
        ? 'background: #46ad9e;'
        : 'background: #293846'
    },
    // UPDATE EXPORT
    updateExport (item) {
      const { _id, updateItem } = item
      this.axiosCall({
        method: 'PUT',
        url: `/api/export/update/${_id}`,
        data: updateItem
      })
    },
    // disable update export button
    disableUpdate (item) {
      const { status } = item
      const warehouseStatus = ['Recibido en Bodega', 'Proceso de Exportación']
      // VALIDATES EXPORT STATUS TO DISABLE OPTIONS
      return !warehouseStatus.includes(status)
    }
  }
}
</script>
<style>
.b-toast {
  position: absolute;
  z-index: 1000;
}
.toast-body {
  padding: 3px;
  max-height: 150px !important;
  overflow-y: auto;
  width: 200px !important;
}
</style>
