<template>
  <div class="content">
    <h3>Comex</h3>
  </div>
</template>
<script>
export default {
  layout: 'dashboard',
  data: () => ({}),
  mounted () {
    window.scrollTo(0, 0)
  }
}
</script>
