<template>
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a href="#" target="_blank" rel="noopener" class="nav-link">
            COMEX
          </a>
        </li>
        <li class="nav-item">
          <a href="#" target="_blank" rel="noopener" class="nav-link">
            About Us
          </a>
        </li>
        <li class="nav-item">
          <a href="#" target="_blank" rel="noopener" class="nav-link"> Blog </a>
        </li>
      </ul>
      <div class="copyright">
        &copy; {{ year }}
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  data: () => ({
    year: new Date().getFullYear()
  })
}
</script>
<style></style>
