<template>
  <base-nav
    v-model="showMenu"
    class="navbar-absolute top-navbar"
    type="white"
    :transparent="true"
  >
    <div slot="brand" class="navbar-wrapper">
      <div
        class="navbar-toggle d-inline"
        :class="{ toggled: $sidebar.showSidebar }"
      >
        <button type="button" class="navbar-toggler" @click="toggleSidebar">
          <span class="navbar-toggler-bar bar1" />
          <span class="navbar-toggler-bar bar2" />
          <span class="navbar-toggler-bar bar3" />
        </button>
      </div>
    </div>

    <ul class="navbar-nav ml-auto">
      <base-dropdown
        tag="li"
        :menu-on-right="false"
        title-tag="a"
        class="nav-item"
        title-classes="nav-link"
        menu-classes="dropdown-navbar"
      >
        <template slot="title">
          <div class="photo">
            <img src="/img/mike.jpg">
          </div>
          <b class="caret d-none d-lg-block d-xl-block" />
          <p class="d-lg-none">
            Log out
          </p>
        </template>
        <li class="nav-link">
          <NuxtLink to="#" class="nav-item dropdown-item">
            Settings
          </NuxtLink>
        </li>
        <div class="dropdown-divider" />
        <li class="nav-link" @click="logout()">
          <p class="nav-item dropdown-item">
            Log out
          </p>
        </li>
      </base-dropdown>
    </ul>
  </base-nav>
</template>
<script>
import BaseNav from '~/components/base/NavComponent.vue'
export default {
  components: {
    BaseNav
  },
  data: () => ({
    showMenu: false,
    searchQuery: ''
  }),
  methods: {
    toggleSidebar () {
      this.$sidebar.displaySidebar(!this.$sidebar.showSidebar)
    },
    logout () {
      this.$auth.logout().catch((err) => {
        this.$notify({
          message: err.message,
          type: 'danger'
        })
      })
    }
  }
}
</script>
<style scoped>
.top-navbar {
  top: 0px;
}
</style>
